@import 'src/styles/common';

.resultCard {
  min-height: 75px;
  padding: 10px 5px;
  table-layout: fixed;
  width: 100%;
}
.resultLine {
  width: 100%;
  .lineHeader {
    text-align: right;
    color: $dark-grey;
    width: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .lineValue {
    color: $black;
    width: 65%;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
