.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-top: 20px;
}

.inputLabel {
  margin-left: 20px;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 15px;
  gap: 15px;
}

.searchFormBottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchFormSubmit {
  flex: 0 0 auto;
  margin-left: auto;
}

.resultsInfo {
  flex: 0 0 auto;
  margin-left: 20px;
}

.results {
  min-height: 0;
  overflow-y: auto;
  padding-left: 20px;
  margin-top: 20px;
}

.resultsCount {
  font-weight: var(--font-weight-bold);
}

.searchMatches {
  row-gap: 0.5rem;
}

.searchMatchesSectionHead {
  margin: 1rem 0 0.6rem;
  font-weight: var(--font-weight-light);
}

.geneResult {
  display: flex;
  column-gap: 0.6rem;
}