.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-top: 20px;
}

.inputLabel {
  margin-left: 20px;
}

.resultsCount {
  font-weight: var(--font-weight-bold);
}

.searchMatches {
  row-gap: 0.5rem;
}

.searchMatchesSectionHead {
  margin: 1rem 0 0.6rem;
  font-weight: var(--font-weight-light);
}

.geneResult {
  display: flex;
  column-gap: 0.6rem;
}