@layer components {

  .section {
    --collapsible-section-padding-left: 17px;
    --collapsible-section-padding-right: 15px;
  }

  .section + .section {
    margin-top: 2px;
  }

  .sectionHead {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: start;
    column-gap: 0.6rem;
    color: var(--color-blue);
    background-color: var(--color-light-grey);
    border-radius: 5px;
    padding-block: 5px;
    padding-left: var(--collapsible-section-padding-left);
    padding-right: var(--collapsible-section-padding-right);
    font-size: 12px;
    width: 100%;
  }

  .sectionBody {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: var(--collapsible-section-padding-left);
    padding-right: var(--collapsible-section-padding-right);
    animation: collapsible-section-body-fadein 0.2s ease-in;
  }
  
  @keyframes collapsible-section-body-fadein {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

}
