@import 'src/styles/common';

.preFilterPanel {
  background-color: $light-grey;
  height: 300px;
  box-shadow: 0 3px 5px $global-box-shadow;
}

.panelTitle {
  margin-left: 45px;
  color: $dark-grey;
  padding-top: 10px;
}

.panelContent {
  display: inline-block;
  margin: 50px;
  position: relative;
  height: 125px;
}

/* RoundButton extended styles*/
.filterButtons {
  .inactive {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;
    margin-left: 30px;
  }

  .active {
    background-color: $medium-dark-grey;
    border: 1px solid $medium-dark-grey;
    color: $white;
    margin-left: 30px;
  }

  .disabled {
    background-color: transparent;
    color: $grey;
    border: 1px solid $grey;
    cursor: default;
    margin-left: 30px;
  }
}

/* PrimaryButton extended styles */
.primaryButton {
  position: absolute;
  bottom: 0;
  right: 0;
}
