.grid {
  display: grid;
  grid-template-columns: repeat(5, 210px);
  column-gap: 10px;
  row-gap: 30px;
  align-items: start;
  padding-top: 34px;
  padding-bottom: 46px;
  position: sticky;
  top: 0;
  color: var(--color-white);
  background-color: var(--color-black);
  z-index: 2;
}

/* The orange bottom border shown in the default view,
   which displays variant image.
*/
.withBottomBorder {
  border-bottom: 1px solid var(--color-orange);
}
