@import 'src/styles/common';

.button {
  display: inline-grid;
  grid-template-columns: [label] auto [icon] auto;
  align-items: center;
  column-gap: 14px;
  color: $blue;
}

.button svg {
  height: var(--plus-icon-size, 22px);
  width: var(--plus-icon-size, 22px);
  fill: $blue;
}

.button:disabled {
  color: initial;
  font-weight: $light;
}

.button:disabled svg {
  fill: $grey;
}
