.button {
  --_plus-icon-color: var(--add-button-icon-color, var(--color-blue));
  --_plus-icon-diameter: var(--add-button-icon-size, 22px);
  display: inline-grid;
  grid-template-columns: [label] auto [icon] auto;
  align-items: center;
  column-gap: 10px;
  color: var(--add-button-label-color, var(--color-blue));
  white-space: nowrap;
}

.button svg {
  height: var(--_plus-icon-diameter);
  width: var(--_plus-icon-diameter);
  fill: var(--_plus-icon-color);
}

.button:disabled {
  color: initial;
  font-weight: var(--font-weight-light);
}

.button:disabled svg {
  fill: var(--color-grey);
}
