.tab {
  display: flex;
  gap: 25px;
  margin-left: 20px;
}

.activeTab {
  color: black;
}

.searchForm {
  display: flex;
  gap: 46px;
  align-items: center;
  margin-top: 15px;
}

.searchField {
  flex: 0 0 485px;
}

.submit {
  flex: 0 0 auto;
}

.totalSearchHits {
  flex: 0 0 auto;
  margin-left: 20px;
}

.totalSearchHitsInterstitial {
  margin: 20px 0 0 20px;
}

.resultInfoSection {
  margin: 20px 0 0 20px;
}
