.layout {
  display: grid;
  grid-template-areas:
    'main-top aside-top'
    'main-bottom aside-bottom';
  grid-template-columns: 60ch 1fr;
  grid-template-rows: 20px auto;
  grid-column-gap: 24px;
  align-items: start;
  grid-row-gap: 17px;
}

.mainTop {
  grid-area: main-top;
  display: flex;
  justify-content: space-between;
}

.sequenceLengthUnits {
  font-weight: var(--font-weight-light);
  margin-left: 0.5ch;
}

.asideTop {
  grid-area: aside-top;
}

.blastSequenceButton {
  margin: 0 0 0 25px;
}

.sequence {
  grid-area: main-bottom;
  margin-top: 10px;
  min-height: 170px;
  max-height: 400px;
  font-family: var(--font-family-monospace);
  color: var(--color-dark-grey);
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden; /* no idea why; but the browser creates a horizontal scrollbar otherwise */
}

.asideBottom {
  grid-area: aside-bottom;
}

.sequenceTypeSelection {
  margin-top: 50px;
  --radio-label-font-weight: var(--font-weight-light);
}

.reverseComplement {
  margin-top: 43px;
  white-space: nowrap;
  --checkbox-label-font-weight: var(--font-weight-light);
}

.showHide {
  margin-bottom: 16px;
}

.loadingContainer,
.loadFailureContainer {
  grid-area: main-bottom;
  display: flex;
  justify-content: center;
}

.loadFailureContainer {
  column-gap: 16px;
  align-items: center;
}

.errorMessage {
  color: var(--color-red);
}
