@import 'src/styles/common';

.layout {
  display: grid;
  grid-template-areas:
    'main-top aside-top'
    'main-bottom aside-bottom';
  grid-template-columns: 60ch 1fr;
  grid-template-rows: 20px minmax(200px, 400px);
  grid-column-gap: 24px;
  align-items: start;
  grid-row-gap: 17px;
}

.mainTop {
  grid-area: main-top;
  display: flex;
  justify-content: space-between;
}

.sequenceLengthUnits {
  font-weight: $light;
  margin-left: 0.5ch;
}

.asideTop {
  grid-area: aside-top;
}

.sequence {
  grid-area: main-bottom;
  margin-top: 10px;
  height: 100%;
  font-family: $font-family-monospace;
  color: $dark-grey;
  overflow-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden; // no idea why; but the browser creates a horizontal scrollbar otherwise
}

.asideBottom {
  grid-area: aside-bottom;
}

.sequenceTypeSelection {
  margin-top: 50px;
}

.reverseComplement {
  margin-top: 43px;
}

.showHide {
  margin-bottom: 16px;
}

.copyLozenge {
  display: flex;
  height: 18px;
  padding: 0 14px;
  align-items: center;
  justify-content: center;
}

.copy {
  color: $blue;
  cursor: pointer;
}

.copyLozengeCopied {
  color: $white;
  background-color: $black;
  border-radius: 30px;
}

.loadingContainer,
.loadFailureContainer {
  grid-area: main-bottom;
  display: flex;
  justify-content: center;
  padding-top: 110px;
  column-gap: 16px;
}

.errorMessage {
  color: $red;
}
