@import 'src/styles/common';

.layout {
  display: grid;
  grid-template-areas:
    'main-top aside-top'
    'main-bottom aside-bottom';
  grid-template-columns: 60ch 1fr;
  grid-template-rows: 20px minmax(200px, 400px);
  grid-column-gap: 24px;
  align-items: start;
  grid-row-gap: 17px;
}

.mainTop {
  grid-area: main-top;
}

.sequenceLengthUnits {
  font-weight: $light;
  margin-left: 0.5ch;
}

.asideTop {
  grid-area: aside-top;
}

.sequence {
  grid-area: main-bottom;
  margin-top: 10px;
  width: 60ch;
  height: 100%;
  font-family: $font-family-monospace;
  color: $dark-grey;
  word-break: break-all;
  overflow: auto;
}

.asideBottom {
  grid-area: aside-bottom;
}

.sequenceTypeSelection {
  margin-top: 50px;
}

.reverseComplement {
  margin-top: 43px;
}
