@layer components {

  .panel {
    display: grid;
    grid-template-rows: [header] auto [body] 1fr;
    border-radius: 5px;
    height: 100%;
    max-width: 100%;
    box-shadow: 1px 1px 4px var(--shadow-color);
  }

  .header {
    grid-row: header;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--color-light-grey);
    box-shadow: 0 1px 3px var(--color-medium-light-grey);
    height: 34px;
    padding: 0 10px;
  }

  .body {
    grid-row: body;
    padding: 10px 10px 20px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: auto;
    min-height: 100px;
    height: 100%;
  }

}