.speciesTabsSlider {
  --tabs-container-padding-top: 9px; /* padding to push species lozenges down, such that their release pills do not get cropped off */
  display: flex;
  align-items: center;
  overflow: hidden;
}

.tabsContainer {
  display: flex;
  column-gap: 15px;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  padding-top: var(--tabs-container-padding-top);
}

/*
  'scrollbar-width: none' is supported by all browsers since 2024
  - Chrome and other Blink-based added support in January 2024
  - Safari added support in December 2024
  TODO: remove the webkit-scrollbar rule below some time in 2026.
*/
.tabsContainer::-webkit-scrollbar {
  display: none; /* hide the scrollbar in all webkit-based browsers */
}

.tabsContainer > * {
  flex: 0 0 auto;
}

.tabsContainer button[disabled] {
  /* Species tabs (lozenges) are implemented as buttons
     When a button is disabled, it swallows all mouse events,
     which interferes with event listeners on the slider itself.
     The rule below prevents disabled buttons from doing so
  */
  pointer-events: none;
}

.leftCorner {
  margin-right: 8px;
  padding-top: var(--tabs-container-padding-top);
}

.rightCorner {
  margin-left: 8px;
  padding-top: var(--tabs-container-padding-top);
}

.arrowButton {
  padding-top: 8px;
  padding-bottom: 8px;
}

.leftCorner .arrowButton {
  padding-right: 6px;
}

.rightCorner .arrowButton {
  padding-left: 6px;
}

.arrow {
  background-color: white;
  cursor: pointer;
}

.arrowDisabled {
  --chevron-fill: var(--color-grey);
  cursor: default;
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}
