@import 'src/styles/common';

.variantColour {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.colour1 {
  background-color: $dark-pink;
}
.colour2 {
  background-color: $dark-yellow;
}
.colour3 {
  background-color: $lime;
}
.colour4 {
  background-color: $teal;
}
.colour5 {
  background-color: $duckegg-blue;
}
