/*
Note that the grid will have to be consistent with the grid
for ListedVepSubmission, and for the VEP results
*/


.container {
  display: grid;
  grid-template-columns: [title] minmax(auto, 300px) [submission-id] 200px [rerun] auto [submission-date] auto [controls] 1fr; /* the grid will need updating */
  align-items: center;
  column-gap: var(--standard-gutter);
  padding-left: var(--standard-gutter);
  padding-bottom: 12px;
}

.submissionId {
  grid-column: submission-id;
  white-space: nowrap;
  overflow: hidden;
}

.rerun {
  grid-column: rerun;
}

.submissionDate {
  grid-column: submission-date;
  font-size: 12px;
}

.timezone {
  font-size: 11px;
  font-weight: var(--font-weight-light);
}

.controls {
  grid-column: controls;
  display: flex;
  column-gap: 42px;
  align-items: center;
  justify-self: end;
}

.labelLeft {
  margin-right: 4px;
}

.light {
  font-weight: var(--font-weight-light);
}

.smallLight {
  font-size: 12px;
  font-weight: var(--font-weight-light);
}

.deletionConfirmationContainer {
  display: flex;
  justify-content: right;
  padding-bottom: 12px;
}

.deletionConfirmation {
  display: flex;
  align-items: center;
  column-gap: var(--standard-gutter);
}

.deletionConfirmationMessage {
  color: var(--color-red);
}

/* Same as in BLAST submissions header */
.errorMessage {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  color: var(--color-red);
  margin-right: 16px;
}
