@import 'src/styles/common';

.searchField {
  box-shadow: $form-field-shadow;
  height: 30px;
  display: inline-flex;
  padding: 0 12px;

  input {
    background-color: transparent;
  }
}

.searchFieldRightCorner {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin-left: 0.6em;
}

.searchFieldInput {
  flex-grow: 1;
  border: none;
}
