.outerGrid {
  container-type: inline-size;
  display: grid;
  align-items: center;
  grid-template-columns: 150px [main] 1fr 150px;  
}

.rightColumn {
  padding-left: 20px; /* Same as for right column of the outer grid of other components in this view */
}

.innerGrid {
  display: grid;
  grid-column: main;
  grid-template-columns: [info] 1fr [controls] auto;
  align-items: center;
}

.innerInfoArea {
  font-size: 12px;
  grid-column: info;
  grid-row: info;
  display: flex;
  column-gap: var(--standard-gutter);
}

.innerControlsArea {
  display: flex;
  align-items: center;
  column-gap: var(--standard-gutter);
  grid-column: controls;
  grid-row: controls;
}

.sectionTitleAndLocation {
  display: flex;
  column-gap: 22px;
  white-space: nowrap;
}

.sectionTitle {
  font-weight: var(--font-weight-bold);
}

.assayTargetLabel {
  display: flex;
  column-gap: 0.6ch;
  white-space: nowrap;
}

.viewButtons {
  display: flex;
  column-gap: 16px;
}

.epigenomesTableToggle {
  justify-self: end;
  margin-right: 14px;
}

.viewButtonActive {
  --secondary-button-color: var(--color-black);
}

.strong {
  font-weight: var(--font-weight-bold); 
}

.light {
  font-weight: var(--font-weight-light);
}

@container (max-width: 1300px) {
  .innerGrid {
    grid-template-columns: unset;
    grid-template-rows: [controls] auto [info] auto;
    row-gap: 8px;
  }

  .innerInfoArea {
    justify-self: start;
    grid-column: unset;
  }

  .innerControlsArea {
    grid-column: unset;
    grid-row: controls;
    justify-self: end;
  }

  .epigenomesTableToggle, .rightColumn {
    align-self: end;
  }
}