@import 'src/styles/common';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tooltipAnchor {
  display: inline-block;
  background-color: cadetblue;
  padding: 6px 10px;
  cursor: default;
}
