@import 'src/styles/common';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &Tall {
    height: 150vh;
    justify-content: flex-start;

    .containerInner {
      margin: 100px auto;
    }
  }

  &Overflow {
    .containerInner {
      overflow: hidden;
      border: 1px dashed black;
    }

    .tooltipAnchor {
      float: right;
    }
  }
}

.containerInner {
  max-width: 600px;
  margin: auto;
}

.tooltipAnchor {
  display: inline-block;
  background-color: cadetblue;
  color: white;
  padding: 10px 16px;
  cursor: default;
}

.tooltipContent {
  max-width: 400px;
}

.contentSwitch {
  margin: 1em 0;
}

.contentSwitchItem {
  margin-right: 1em;

  &Active {
    color: $blue;
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: pointer;
  }
}
