@import 'src/styles/common';

$content-width: 695px;

.proteinSummary {
  margin-left: 178px;
  width: $content-width;

  > div {
    padding: 10px 0 10px 0;
  }
}

.keyline {
  border-bottom: 1px solid $orange;
  width: $content-width;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 20px;
}

.proteinSummaryTop {
  align-items: center;
  display: grid;
  grid-template-columns: [references] 300px [download] 395px;
}

.downloadWrapper {
  display: flex;
  justify-content: flex-end;
  grid-column: download;
}

.geneExternalReference {
  display: inline-block;
  margin-right: 40px;
}

.proteinFeaturesCountWrapper {
  display: inline-block;
}


.imageLoadingContainer {
  width: $content-width;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 177px;
}

.statusContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height:70px;
}
.errorMessage{
  color: $red;
  margin-right:20px;
  font-weight: $normal;
}
