@import 'src/styles/common';
@import 'src/content/app/entity-viewer/gene-view/styles/constants';

$content-width: $gene_image_width;

.proteinSummary {
  margin-left: 178px;
  width: $content-width;

  > div {
    padding: 10px 0 10px 0;
  }
}

.keyline {
  border-bottom: 1px solid $orange;
  width: $content-width;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 20px;
}

.proteinSummaryTop {
  align-items: center;
  display: grid;
  grid-template-columns: [references] 300px [download] 395px;
}

.downloadWrapper {
  display: flex;
  justify-content: flex-end;
  grid-column: download;
}

.proteinExternalReference {
  display: inline-block;

  &:first-child {
    margin-right: 40px;
  }
}

.proteinFeaturesCountWrapper {
  display: inline-block;
}


.imageLoadingContainer {
  width: $content-width;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 177px;
}
