@import 'src/styles/common';

.browserNavBar {
  display: flex;
  font-size: 12px;
  background: $light-grey;
  padding: 16px;
  position: relative;

  @media #{$breakpoint-large} {
    width: calc(100vw - 356px);
  }

  &.browserNavBarExpanded {
    width: 100vw;
  }

  dd {
    margin-left: 10px;
  }

  form {
    display: inline-block;
  }

  label {
    font-weight: 300;
    margin: 0 5px 0 10px;
  }

  input {
    padding: 3px 9px;
  }
}

.errorText {
  color: $red;
}

.browserNavBarButtons {
  display: inline-block;
  visibility: hidden;

  button {
    margin-left: 10px;
  }

  img {
    height: 18px;
    width: 18px;
  }
}

.browserNavBarButtonsVisible {
  visibility: visible;
}
