@import 'src/styles/common';

.browserNavBar {
  display: flex;
  background: $light-grey;
  padding: 16px;

  @include for-desktop-up {
    width: calc(100vw - 356px);
  }

  &.browserNavBarExpanded {
    width: 100vw;
  }
}
