@import 'src/styles/common';

.browserNavBar {
  @include flex;
  background: $ens-light-grey;
  padding: 16px;
  position: relative;

  @include breakpoint(large) {
    width: calc(100vw - 356px);
  }

  &.browserNavBarExpanded {
    width: 100vw;
  }
}

.browserNavBarOverlay {
  background: $ens-white;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.aboveOverlay {
  z-index: 100;
}
