@import 'src/styles/common';

.browserNavBarMain {
  padding-left: 50px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-grow: 1;
}

.contentChromosomeNavigator {
  flex-grow: 1;
  max-width: 1400px;
  margin: auto;
}

.contentSwitcherArea {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  width: 100px;
}

.contentSwitcher {
  display: inline-block;
  color: $blue;
  cursor: pointer;

  svg {
    height: 20px;
  }
}

.contentSwitcherClose {
  font-size: 0; // to make the height of this container be defined exclusively by the height of its content
}
