.browserCogListOuter {
  width: 38px;
  right: 0;
  top: 23px;
  bottom: 16px;
  position: absolute;
}

.browserCogOuter {
  position: absolute;
}

.browserCog {
  border: 1px solid var(--color-blue);
  width: 18px;
  height: 18px;
  padding: 1px;
}

.trackPanel {
  animation: appearing-track-panel 0.1s ease-in;
}

@keyframes appearing-track-panel {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
