@import 'src/styles/common';

.browserCogListOuter {
  width: 36px;
  right: 0;
  top: 23px;
  bottom: 16px;
  position: absolute;
}

.browserCogOuter {
  position: absolute;
}

.browserCog {
  border: 1px solid $blue;
  width: 18px;
  height: 18px;
  padding: 1px;
}
