.container {
  --header-height: 30px;
  position: absolute;
  top: calc(-1 * var(--header-height));
  left: 0;
  background-color: white;
}

.tableContainer {
  position: relative;
  padding-right: 20px;
  animation: animate-table-entry 0.2s ease-in-out;
}

.table thead {
  white-space: nowrap;
}

.openButton {
  --chevron-fill: white;
  padding: 3px 2px;
  background-color: var(--color-blue);
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes animate-table-entry {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
