@import 'src/styles/common';

.findGeneButton {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  white-space: nowrap;
  color: $blue;
}

.findGeneButton > * {
  flex: 0 0 auto;
}

.findGeneButton > svg {
  fill: $blue;
  width: 13px;
}