.feature {
  display: inline-block;
  margin: 0 25px 10px 0;
  text-align: center;
  vertical-align: top;
  width: 70px;
}

.featureImg {
  margin-bottom: 10px;
}

.featureImg img {
  width: 30px;
}

.featureCount {
  font-weight: var(--font-weight-bold);
}
