.featureSummaryStrip {
  font-size: 14px;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section {
  display: inline;
}

.section:not(:first-child) {
  margin-left: 30px;
}

.featureSummaryStripGhosted {
  color: var(--color-dark-grey);
}

.featureSummaryStripLabel,
.featureNameEmphasized {
  display: inline-block;
}

.featureSummaryStripLabel {
  font-size: 12px;
  font-weight: var(--font-weight-light);
  margin-right: 10px;
}

.featureNameEmphasized {
  font-weight: var(--font-weight-bold);
}
