@import 'src/styles/common';

.wrapper {
  padding-right: 15px;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
}
.header {
  padding: 10px 40px 10px 15px;
  color: $dark-grey;
  position: relative;
}

.title {
  width: 70px;
  font-weight: $bold;
}
.titleBadge {
  top: -2px;
}

.resultCounter {
  position: absolute;
  top: 14px;
  right: 100px;
  color: $black;
  font-size: 13px;
  span {
    font-weight: 700;
  }
}
.previewCounter {
  margin-left: 20px;
  padding-top: 12px;
  display: inline-block;
}

.resultsLabel {
  font-size: 11px;
  color: $dark-grey;
}

.accordionItemPanel {
  padding: 0px;
}

.accordionExpandedTitle {
  color: $grey;

  > span {
    color: $black;
  }
}

.temporaryContentPadding {
  padding: 20px;
}

.resetIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 15px;
}

.permanentBlock {
  background: $light-grey;
}
