@import 'src/styles/common';

.row {
  display: grid;
  grid-template-columns: [label] 130px [value] auto;
  grid-column-gap: 10px;
  margin-bottom: 3px;

  .label {
    grid-column: label;
    font-weight: $light;
    text-align: right;
    font-size: 12px;
  }

  .value {
    grid-column: value;

    & > span + span {
      margin-left: 10px;
    }

    & > div + div {
      margin-top: 3px;
    }
  }

  .questionButton {
    padding-left: 10px;
    position: relative;
    top: 2px;
  }

  .geneName {
    width: 60ch;
  }
}

.spaceAbove {
  margin-top: 30px;
}

.marginTop {
  margin-top: 6px;
}

.featureDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.featureDetail {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-right: 30px;
}

.featureSymbol {
  font-weight: $bold;
}
.stableId {
  font-weight: $bold;
}
.featureSymbol + .stableId {
  margin-left: 12px;
  font-weight: $light;
}

.downloadRow {
  > .value {
    display: flex;
  }
}

.downloadLink {
  color: $blue;
  cursor: pointer;
}

.downloadWrapper {
  margin-left: 40px;
  position: relative;
}

.sequenceWrapper {
  margin-top: 20px;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
}

.viewInAppLabel {
  color: $black;
  font-weight: 300;
}
