.row {
  display: grid;
  grid-template-columns: [label] 130px [value] auto;
  column-gap: 10px;
  margin-bottom: 3px;
}

.label {
  grid-column: label;
  font-weight: var(--font-weight-light);
  text-align: right;
  font-size: 12px;
}

.value {
  grid-column: value;
}

.value > span + span {
  margin-left: 10px;
}

.value > div + div {
  margin-top: 3px;
}

.labelWithPadding {
  font-size: 12px;
  font-weight: var(--font-weight-light);
  padding-right: 10px;
}

.questionButton {
  padding-left: 10px;
  position: relative;
  top: 2px;
}

.geneName {
  width: 60ch;
}

.spaceAbove {
  margin-top: 30px;
}

.marginTop {
  margin-top: 6px;
}

.featureDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
}

.featureDetail {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.featureSymbol {
  font-weight: var(--font-weight-bold);
}

.stableId {
  font-weight: var(--font-weight-bold);
}

.featureSymbol + .stableId {
  margin-left: 12px;
  font-weight: var(--font-weight-normal);
}

.downloadRow > .value {
  display: flex;
}

.downloadLink {
  color: var(--color-blue);
  cursor: pointer;
}

.downloadWrapper {
  margin-left: 40px;
  position: relative;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
}
