.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--color-black);
  padding-top: 20vh;
  --sequence-ruler-label-color: var(--color-white);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form button {
  margin-top: 1em;
  padding: 0.4em;
  background-color: var(--color-white);
  border: var(--color-black);
}
