@import 'src/styles/common';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: $black;
  padding-top: 20vh;
  --sequence-ruler-label-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 1em;
    padding: 0.4em;
    background-color: white;
    border: black;
  }
}
