.container {
  display: grid;
  grid-template-rows: 40px minmax(0, 1fr);
  height: 100%;
  padding-top: 20px;
  margin-left: var(--double-standard-gutter);
  margin-right: var(--standard-gutter);
  max-width: calc(var(--vep-container-max-width) - var(--standard-gutter));
}

.fullPageSpinnerContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.resultsBox {
  border: 1px solid var(--color-grey);
  padding: 22px var(--standard-gutter);
  max-height: 100%;
  align-self: start;
  overflow: auto;
}

.resultsBoxHeader {
  display: grid;
  grid-template-columns: [species-name] minmax(auto, 300px) auto 1fr;
  column-gap: var(--standard-gutter);
  align-items: center;
  margin-bottom: 16px;
}

.pagination {
  justify-self: end;
}

.table {
  width: 100%;
}

.table th,
.table td {
  vertical-align: top;
}


/* The styling of column widths below will probably need to be adjusted */
.table td:nth-child(2), th:nth-child(2) {
  max-width: 50px;
}

.table td:nth-child(3), th:nth-child(3) {
  max-width: 100px;
}

/*
  a wrapper around the table of results,
  which allows positioning the loading overlay over the table
*/
.tableWrapper {
  position: relative;
  overflow-x: auto;
}

.tableLoadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(2px); /* this CSS rule reqires a vendor -webkit prefix in Safari; hopefully postCSS knows this */
}

.tableLoadingSpinner {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.expandButton {
  display: flex;
  align-items: center;
  column-gap: 1ch;
  margin-top: 12px;
}

.collapseButton {
  margin-top: 24px;
}

.smallLight {
  font-size: 11px;
  font-weight: var(--font-weight-light);
}
