@import 'src/styles/common';

.checkboxHolder {
  position: relative;
}

.unchecked {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border: 1px solid $ens-grey;
  background-color: $ens-white;
  transition: background-color 0.2s ease-in-out;
  display: inline-block;
}

.checked {
  background-color: $ens-green;
  transition: background-color 0.2s ease-in-out;
}

.disabled {
  background-color: $ens-light-grey;
  cursor: default;
  transition: background-color 0.2s ease-in-out;
}

.label {
  color: $ens-dark-grey;
  display: inline-block;
  line-height: 15px;
  position: absolute;
  font-size: 16px;
  top: 0px;
  left: 30px;
}
