@import 'src/styles/common';

$fill-color: $dark-grey;

.tooltip {
  background: $fill-color;
  padding: 6px 18px 8px;
  filter: drop-shadow(2px 2px 3px $shadow-color);
  cursor: default;
  color: $white;
  border-radius: 4px;
  font-size: 14px;

  // hack to select additional classes that are added through javascript
  // (CSS modules make it hard to target these classes because of unique suffixes)
  // &[class*='left_bottom'],
  // &[class*='left_centre'],
  // &[class*='left_top'] {
  //   svg {
  //     filter: drop-shadow(0px -3px 2px $shadow-color);
  //   }
  // }
  //
  // &[class*='top_left'],
  // &[class*='top_centre'],
  // &[class*='top_right'] {
  //   svg {
  //     filter: drop-shadow(0px -3px 2px $shadow-color);
  //   }
  // }
}

.tooltipTip {
  fill: $fill-color;
}
