@import 'src/styles/common';

.pagination {
  padding-left: 30px;
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.inputBox {
  height: 27px;
  width: 50px;
  text-align: center;
  border: 1px solid $blue;
  margin-right: 5px;
}

.showHide {
  padding: 0 15px;
}
