.pagination {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.inputBox {
  height: 27px;
  width: 50px;
  text-align: center;
  border: 1px solid var(--color-blue);
  margin-right: 5px;
}

.showHide {
  padding: 0 15px;
}
