@import 'src/styles/common';

.default {
  position: relative;
  svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
  }
}

.disabled {
  cursor: not-allowed;
  svg {
    fill: $ens-grey;
    opacity: 1;
  }
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    border-color: #2c343a;
    border-top: 2px solid red;
    transform: rotate(-45deg);
    width: 100%;
  }
  &:after {
    position: absolute;
    content: '';
    left: 0px;
    border-color: #2c343a;
    border: 2px solid red;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}

.active {
  svg {
    fill: $ens-blue;
  }
  &svg:hover {
    opacity: 0.8;
  }
}

.highlighted {
  svg {
    fill: $ens-white;
    background: $ens-dark-blue;
  }
  &svg:hover {
    opacity: 0.8;
  }
}

.inactive {
  svg {
    fill: $ens-dark-grey;
  }
  &svg:hover {
    opacity: 0.8;
  }
}
