.sidebarSearch {
  padding-right: 1rem;
}

.searchFormSidebar {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 8px 0 24px;
}

.submitSidebar {
  align-self: flex-end;
}

.loader {
  --circle-loader-display: block;
  margin-top: 20px;
}

.resultsSection {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 32px;
}

.sectionTitle {
  font-size: 14px;
}

.noResults {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.noResults p {
  margin: 0;
}

:where(.noResults p:first-child) {
  font-size: 12px;
  font-weight: var(--font-weight-light);
}

.pageRange {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
}

.pageDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 8px;
  row-gap: 4px;
  min-width: 0;
}

.totalHits {
  font-size: 12px;
}

.resultsText {
  font-weight: var(--font-weight-light);
}

.pageNavButton {
  --image-button-default-svg-color: var(--color-blue);
  --image-button-disabled-svg-color: var(--color-grey);
  width: 22px;
  height: 22px;
}

.pageNavNextButton {
  margin-left: 10px;
}
