/* stylelint-disable no-descending-specificity */

@import 'src/styles/common';

.browserLocationIndicator {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  line-height: 1;
  font-size: 12px;

  &Disabled {
    .chrCode,
    .chrRegion {
      cursor: default;
    }

    .chrCode {
      background: $dark-grey;
    }
    .chrRegion {
      color: $dark-grey;
    }
  }
}

.chrLocationView {
  display: inline-block;
}

.chrCode,
.chrRegion {
  cursor: pointer;
}

.chrCode {
  background: $dark-blue;
  color: $white;
  display: inline-block;
  font-weight: $bold;
  margin: 0 5px;
  padding: 1px 4px;
  text-align: center;
}

.chrSeparator {
  margin: 0 2px;
}

.chrRegion {
  color: $dark-blue;
  display: inline-block;
}
