@import 'src/styles/common';

.browserLocationIndicator {
  display: flex;
  font-size: 12px;

  .chrCode,
  .chrRegion {
    cursor: pointer;
  }

  &Disabled {
    .chrCode {
      background: $dark-grey;
    }
    .chrRegion {
      color: $dark-grey;
    }

    .chrCode,
    .chrRegion {
      cursor: default;
    }
  }
}

.chrLocationView {
  display: inline-block;
}

.chrCode {
  background: $dark-blue;
  color: $white;
  display: inline-block;
  font-weight: $bold;
  margin: 0 5px;
  padding: 1px 4px;
  text-align: center;
}

.chrSeparator {
  margin: 0 2px;
}

.chrRegion {
  color: $dark-blue;
  display: inline-block;
}

// .browserInfoRegion {
//   .chrLabel {
//     display: inline-block;
//     margin-right: 5px;
//   }
//
//   span {
//     cursor: pointer;
//   }
// }
