@import 'src/styles/common';

.browserLocationIndicator {
  &Disabled {
    .chrCode {
      background: $dark-grey;
    }
    .chrRegion {
      color: $dark-grey;
    }
  }
}

.chrLocationView {
  display: inline-block;
}

.chrCode {
  background: $dark-blue;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-weight: $bold;
  margin: 0 5px;
  padding: 1px 4px;
  text-align: center;
}

.chrSeparator {
  margin: 0 2px;
}

.chrRegion {
  color: $dark-blue;
  display: inline-block;
}
