@import 'src/styles/common';

.table {
  border-collapse: collapse;
}

.header {
  height: 40px;
  border-bottom: 2px solid $blue;
  position: sticky;
  top: 27px;
  background-color: $light-grey;
  z-index: 1;

  th {
    font-weight: $light;
    padding-right: 20px;
  }
}

.row {
  border-bottom: 1px solid $medium-light-grey;
  height: 40px;

  &WithExpendedContent {
    border-bottom: none;
  }
}

.cell {
  min-width: 50px;
  padding: 0 10px;
}
