@import 'src/styles/common';

.wrapper {
  background-color: $white;

  .themeDark {
    background-color: $light-grey;
  }
}

.table {
  border-collapse: collapse;
  position: relative;
}

.row {
  border-bottom: 1px solid $medium-light-grey;
  height: 40px;

  &WithExpendedContent {
    border-bottom: none;
  }
}

.cell {
  min-width: 50px;
  padding: 0 10px;
}
