.dialog {
  width: 80vw;
  height: 80vh;
  border: none;
  padding: 0;

  /* this box-shadow is so dark because the modal body is set against a gray background */
  box-shadow: 0 3px 6px #0000004D; /* TODO: resolve box-shadow colour globally w/Andrea */
}

.contentWrapper {
  height: 100%;
  background: white;
  padding: 30px 45px;
}

.close {
  position: absolute;
  right: 20px;
  top: 17px;
}

@media (width <= 980px) {
  .dialog {
    width: 95vw;
  }
}
