.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(black, 0.2);
  z-index: 1000;
}

.body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background: white;
  padding: 30px 45px;
  // this box-shadow is so dark because the modal body is set against a gray background
  box-shadow: 0px 3px 6px #0000004D; // TODO: resolve box-shadow colour globally w/Andrea
}

@media (max-width: 980px) {
  .body {
    width: 95vw;
  }
}

.close {
  position: absolute;
  right: 20px;
  top: 17px;
}
