@import 'src/styles/common';

.trackName {
  font-weight: $bold;
  display: inline-block;
}

.strand {
  margin-left: 50px;
  color: $dark-grey;
}

.standardLabelValue {
  display: grid;
  grid-template-columns: [label] 120px 10px [value] auto;
  margin-bottom: 15px;
  .label {
    grid-column: label;
    color: $dark-grey;
    text-align: right;
  }

  .value {
    grid-column: value;
  }
}

.featureDetails {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;

  & > div:not(:first-child) {
    margin-left: 30px;
  }
}

.featureSymbol {
  font-weight: $bold;
}
.stableId {
  font-weight: $bold;
}
.featureSymbol + .stableId {
  margin-left: 12px;
  color: $dark-grey;
  font-weight: $light;
}
