@import 'src/styles/common';

$selectedSpeciesBorderRadius: 20px;
$selectedSpeciesPadding: 6px 20px;
$deleteButtonPadding: 8px 20px 8px 28px;

.selectedSpecies {
  position: relative;
  display: inline-block;
  padding: $selectedSpeciesPadding;
  background-color: $ens-black;
  border-radius: $selectedSpeciesBorderRadius;
  line-height: 1;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: transparent;
  }

  &:not(:last-child) {
    margin-right: 1em;
  }

  .name {
    font-size: 14px;
    color: white;
    font-weight: $bold;
    margin-right: 0.5rem;
  }

  .assembly {
    font-size: 11px;
    color: $white;
  }
}

.selectedSpeciesDisabled {
  background-color: $ens-grey;
}

.selectedSpeciesOverlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  line-height: 1;
  background: white;
  border: 1px solid $ens-blue;
  border-radius: $selectedSpeciesBorderRadius;
  cursor: default;

  .overlayText,
  .closeButtonContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .overlayText {
    padding: $selectedSpeciesPadding;
    left: 0;
    color: $ens-blue;
  }

  .closeButtonContainer {
    display: flex;
    padding: $deleteButtonPadding;
    align-items: center;
    right: -0.5em;
  }
}
