@import 'src/styles/common';
@import 'src/shared/components/selected-species/selected-species-common';

$selectedSpeciesBorderRadius: 20px;
$selectedSpeciesPadding: 6px 20px;
$deleteButtonPadding: 8px 20px 8px 28px;

.selectedSpecies {
  @include selected-species-common;
  position: relative;
  background-color: $black;
  margin-bottom: 4px;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }

  &:not(:last-child) {
    margin-right: 1em;
  }

  .name {
    font-size: 14px;
    color: white;
    font-weight: $bold;
    margin-right: 0.5rem;
  }

  .assembly {
    font-size: 11px;
    color: $white;
  }
}

.selectedSpeciesDisabled {
  background-color: $grey;
}

.selectedSpeciesOverlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  line-height: 1;
  background: white;
  border: 1px solid $blue;
  border-radius: $selectedSpeciesBorderRadius;
  cursor: default;

  .overlayText,
  .clearButtonContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .overlayText {
    padding: $selectedSpeciesPadding;
    padding-left: 15px;
    left: 0;
    color: $blue;
  }

  .clearButtonContainer {
    display: flex;
    padding: $deleteButtonPadding;
    padding-right: 15px;
    align-items: center;
    right: -0.5em;
  }
}
