@import 'src/styles/common';

$button-size: 57px;

.popularSpeciesButton {
  position: relative;
  font-size: 0;
  user-select: none;
  width: $button-size;
  height: $button-size;

  img {
    width: 100%;
    height: 100%;
  }

  *[class*='tooltip'] {
    user-select: none;
  }
}

.popularSpeciesButton:not(.popularSpeciesButtonSelected) {
  background: var(--color-blue);
  border: 1px solid var(--color-blue);

  img {
    filter: #{"invert()"};  // <-- unfortunate consequence of CSS and SCSS keyword collision
  }
}

.popularSpeciesButtonSelected {
  background: var(--color-white);
  border: 1px solid var(--color-blue);

  img {
    filter: var(--black-to-grey-species-icon-filter);
  }
}

.genomesCount {
  --border-radius: 14px;
  position: absolute;
  bottom: 0;
  right: calc(-1 * var(--border-radius) / 2);
  transform: translateY(50%);
  font-size: 11px;
  font-weight: var(--font-weight-bold);
  font-family: $font-family-monospace;
  color: var(--color-white);
  background-color: var(--color-black);
  min-width: 27px;
  padding: 2px calc(var(--border-radius) / 2);
  border-radius: var(--border-radius);
}
