@import 'src/styles/common';

.container {
  margin: 10px 0 0 80px;
  
  max-width: 950px;
}

.labelTextStrong {
  font-size: 12px;
  font-weight: $bold;
  margin-left: 10px;
}

.regulationColour1 {
  background-color: $red;
}
.regulationColour2 {
  background-color: $dark-yellow;
}
.regulationColour3 {
  background-color: $grey;
}
.regulationColour4 {
  background-color: $neon-blue;
}
.regulationColour5 {
  background-color: $purple;
}

.colourMarker {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.labelDefinition {
  font-size: 12px;
  margin-left: 20px;
  margin-top: 20px;
}