::after, ::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: Lato,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  position: relative;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #09f;
}

.topBar {
  font-size: 14px;
  display: flex;
  padding: 2px 20px;
  background: #2c343a;
  color: #fefefe;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.strapline {
  font-size: 11px;
  margin-left: 30px;
  display: inline-block;
}

.copyright {
  font-size: 11px;
  margin-left: 30px;
  display: inline-block;
}

.homeLink {
  font-weight: 700;
  display: inline-block;
}

.homeLink a {
  color: #fff;
}

.homeLink img {
  height: 16px;
  width: 16px;
  bottom: 2px;
  position: relative;
}

main {
  color: #2c343a;
  flex-direction: column;
  text-align: center;

  display: flex;
  justify-content: center;
  height: calc(100vh - 36px);
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 10%;
}

ul li {
  width: 33%;
}

li img {
  margin: 100px;
}

