@import 'src/styles/common';

.wrapper {
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block; // buttons are normally inline-block elements
  vertical-align: middle;
}

.imageButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--image-button-width, auto);
  height: var(--image-button-height, auto);

  & > svg {
    width: var(--image-button-svg-width, 100%);
    height: var(--image-button-svg-height, 100%);
    transition: opacity 0.4s;
  }
}

.default {
  background-color: var(--image-button-default-bg-color);
  svg {
    fill: var(--image-button-default-svg-color, #{$blue});
  }
}

.selected {
  background-color: var(--image-button-selected-bg-color, #{$blue});

  svg {
    fill: var(--image-button-selected-svg-color, #{$white});
  }
  &svg:hover {
    opacity: 0.8;
  }
}

.unselected {
  background-color: var(--image-button-unselected-bg-color);

  svg {
    fill: var(--image-button-unselected-svg-color, #{$blue});
  }
  &svg:hover {
    opacity: 0.8;
  }
}

.disabled {
  background-color: var(--image-button-disabled-bg-color);
  cursor: default;
  svg {
    fill: var(--image-button-disabled-svg-color, #{$grey});
    opacity: 1;
  }
}
