@import 'src/styles/common';

.newTechErrorWrapper {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newTechMessage {
  margin-bottom: 3rem;
}

.errorLinkButton {
  background-color: $ens-blue;
  color: $ens-white;
  font-weight: $bold;
  padding: 8px 18px;
  border-radius: 4px;
}
