@import 'src/styles/common';

.appBar {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(250px, auto);
  align-content: start;
  grid-template-areas:
    'top top'
    'main right';
  align-items: center;
  padding: 8px $page-right-padding 0 $page-left-padding;
  min-height: 80px;
  width: 100%;

  // nesting to increase specificity to override child's styles
  .chevron {
    margin-left: 5px;
    height: 7px;
    fill: $grey;
  }
}

.appBarTop {
  grid-area: top;
  min-height: 30px;
  color: $black;
  font-weight: 300;
}

.appBarMain {
  grid-area: main;
  margin-left: $page-left-padding;
  max-width: 100%;
  align-self: start;
}

.appBarAside {
  grid-area: right;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  top: 2px;

  .conversationIcon {
    width: 40px;
    margin-left: 20px;
    height: 25px;
  }
}

.helpLink {
  flex: 0 1 auto;
  position: relative;
  margin-left: 2em;
  text-align: right;

  span {
    color: $black;
    font-size: 12px;
    font-weight: $light;
  }
}
