.appBar {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) minmax(250px, auto);
  row-gap: 8px;
  align-content: start;
  grid-template-areas:
    'top-left top-right top-right'
    'main main bottom-right';
  align-items: center;
  padding: 8px var(--standard-gutter) 0 var(--standard-gutter);
  min-height: 80px;
  width: 100%;
}

.appBarTopLeft {
  grid-area: top-left;
}

.appBarTopRight {
  grid-area: top-right;
  margin-left: var(--standard-gutter);
}

.appBarMain {
  grid-area: main;
  max-width: 100%;
}

.appBarAside {
  grid-area: bottom-right;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  top: 2px;
}

.appBarAside .conversationIcon {
  width: 40px;
  margin-left: 20px;
  height: 25px;
}

.appName {
  font-weight: var(--font-weight-light);
}

.helpLink {
  flex: 0 1 auto;
  position: relative;
  margin-left: 2em;
  text-align: right;
}

.helpLink span {
  color: var(--color-black);
  font-size: 12px;
  font-weight: var(--font-weight-light);
}
