.appBar {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(250px, auto);
  align-content: start;
  grid-template-areas:
    'top top'
    'main right';
  align-items: center;
  padding: 8px var(--standard-gutter) 0 var(--standard-gutter);
  min-height: 80px;
  width: 100%;
}

.chevron {
  --chevron-height: 6px;
  --chevron-fill: var(--color-grey);
  margin-left: 5px;
}

.appBarTop {
  grid-area: top;
  min-height: 30px;
  color: var(--color-black);
  font-weight: 300;
}

.appBarMain {
  grid-area: main;
  max-width: 100%;
}

.appBarAside {
  grid-area: right;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  top: 2px;
}

.appBarAside .conversationIcon {
  width: 40px;
  margin-left: 20px;
  height: 25px;
}

.helpLink {
  flex: 0 1 auto;
  position: relative;
  margin-left: 2em;
  text-align: right;
}

.helpLink span {
  color: var(--color-black);
  font-size: 12px;
  font-weight: var(--font-weight-light);
}
