@import 'src/styles/common';

.checkbox {
  margin-left: 36px;
}

.container label span {
  font-weight: $light;
  margin-left: 0.6rem;
}

.featurePart {
  display: flex;
  column-gap: 0.6rem;
}

.featurePartLabel {
  font-weight: $light;
}

.download {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
