@import 'src/styles/common';

.customizedTextarea {
  color: $blue;
  font-size: 30px;
  font-weight: bold;
  padding: 16px;
  border: 1px solid $blue;
}

.defaultWrapper {
  padding: 40px;
  background: $light-grey;
}

.stage {
  padding: 30px;

  & + .stage {
    margin-top: 3ch;
  }
}

.greyStage {
  background: $light-grey;
}
