# Node environment
NODE_ENV=development

# Keys for external services
GOOGLE_ANALYTICS_KEY="UA-58710484-17"

# Base URL for the API endpoints
API_HOST="//ec2-184-73-228-242.compute-1.amazonaws.com"

# GTI Genesearch API endpoint
GENESEARCH_API_ENDPOINT="http://gti-es-0.ebi.ac.uk:8080/api"