@import 'src/styles/common';

$backgroundColor: $black;

.geneViewLoadingContainer {
  background-color: $backgroundColor;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.geneView {
  color: $white;
  display: grid;
  background-color: $backgroundColor;
  grid-template-columns: 178px 902px 1fr;
  grid-template-rows: min-content 75px 1fr;
  padding: 60px 20px 10px;
  height: 100%; // may need to change this later
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.featureImage {
  grid-area: 1 / 1 / 2 / 3;
}

.viewInLinks {
  grid-area: 1 / 3 / 2 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
}

.geneViewTabs {
  grid-area: 2 / 1 / 3 / 4;
  z-index: 2;
  position: sticky;
  top: -90px;
  height: 100%;
  background-color: $backgroundColor;
  padding-left: 180px;
}

.geneViewTabContent {
  grid-area: 3 / 1 / 4 / 4;
}
