@import 'src/styles/common';

$highlightedUploadBackground: $ice-blue;
$uploadButtonTallerHeight: 102px;
$uploadButtonShallowerHeight: 90px;
$uploadButtonWidth: 200px;
$uploadTwoLineLabelWidth: 94px; // for default label text
$uploadOneLineLabelWidth: 172px; // for default label text
