/**
Variables that need checking across the codebase:

--drop-zone-height
--drop-zone-width
--drop-zone-bg-color
--highlighted-upload-button-background

Remove
.body [class*='defaultUpload']

*/

.upload {
  height: var(--drop-zone-height, var(--upload-button-taller-height));
  width: var(--drop-zone-width, 200px);
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.uploadIcon {
  width: 32px;
  height: 32px;
  fill: var(--color-blue);
}

.disabled .uploadIcon {
  fill: var(--color-grey);
}

.labelText {
  width: var(--upload-label-width, var(--upload-button-two-line-label-width));
  font-size: 12px; /* TODO: make customizable? */
  text-align: center;
}
