@import 'src/styles/common';

.upload {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--drop-zone-height, 102px);
  width: var(--drop-zone-width, 200px);
  background-color: var(--drop-zone-bg-color, #{$white});
  position: relative;
  border: 1px dashed $blue;
  color: $blue;
  cursor: pointer;
  user-select: none;
  transition: color 0.4s, border-color 0.4s, background-color 0.4s;
}

.uploadIcon {
  width: 32px;
  height: 32px;
  fill: $blue;
}

// this will prevent dragenter and dragleave events emitted by children of the drop area
// (although it doesn't remove the need for a javascript solution when other components are used as drop areas)
.upload > * {
  pointer-events: none;
}

.uploadDragOver {
  background-color: var(--drop-zone-bg-color, #{$ice-blue});
}

.uploadDisabled {
  border: 1px dashed $grey;
  color: $grey;
  // padding: 15px 27px;
  pointer-events: none;
  // transition: color 0.4s, border-color 0.4s;
}

.uploadDisabled .uploadIcon {
  fill: $grey;
}

.fileInput {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  height: 1px;
  width: 1px;
}

.defaultUpload:focus-within {
  background: 1px dashed $black;
}

.label {
  width: 94px; // make customizable
  font-size: 12px; // make customizable
  text-align: center;
}
