@import 'src/styles/common';

$left-padding: 15px;

.sectionHead {
  color: $dark-grey;
  font-size: 12px;
  font-weight: $light;
  border-bottom: 1px solid $grey;
  margin-bottom: 15px;
  position: relative;
  margin-top: 20px;
}

.speciesDetails {
  padding-left: $left-padding;
  span {
    font-weight: $bold;
    margin-right: 10px;
  }

  span + span{
    font-style: italic;
    font-weight: $light;
  }
}

.strainDetails {
  margin-top:10px;
  .strain_type {
    padding-left: $left-padding;
    font-weight: $light;
  }

  .strain_value{
    margin-left: 10px;
  }
}

.assemblyDetails {

  padding-left: $left-padding;
  .assemblyName {
    padding-bottom: 20px;
    font-weight: $bold;
  }
}


.annotationDetails{
  padding-left: $left-padding;
}

.standardLabelValue {
  display: grid;
  grid-template-columns: [label] max-content 10px [value] auto;
  .label {
    grid-column: label;
    font-size: 13px;
    font-weight: $light;
    width: 100px;

    &Short{
      width:50px;
    }
  }

  .value {
    grid-column: value;
  }

  .boldValue {
    grid-column: value;
    font-weight: $bold;
  }
}

.notesContent{
  padding-left: $left-padding;
}
