@import 'src/styles/common';

.geneTab {
  background-color: $blue;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  margin-right: 3px;
  height: 30px;
  display: flex;
  align-items: center;
  &::after {
    border: none;
  }
}

.geneViewTabs {
  padding: 0;
  height: auto;
  z-index: 2;
  overflow-y: visible;
}

.disabledGeneTab {
  background-color: $grey;
}

.selectedGeneTab {
  background-color: transparent;
  border: 1px solid $blue;
  cursor: pointer;
  &::after {
    width: 12px;
    height: 12px;
    background-color: $black;
    box-shadow: 0px 0px 4px rgba($black, 0.8);
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    top: 28px;
  }
}

.selectedGeneTab.withOpenFilter {
  &::after {
    display: none;
  }
}

.geneTab:first-of-type {
  &::after {
    display: none;
  }

  &.selectedGeneTab {
    cursor: default;
  }
}
