@import 'src/styles/common';

.geneTab {
  background-color: #33adff;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  margin-right: 3px;
  height: 30px;
}

.disabledGeneTab {
  background-color: $grey;
}

.selectedGeneTab {
  background-color: transparent;
  border: 1px solid $blue;

  &::after {
    width: 12px;
    height: 12px;
    background-color: $black;
    border: 1px solid $blue;
    border-color: transparent transparent $blue $blue;
    box-shadow: none;
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    top: 28px;
  }
}

.geneTab:first-of-type {
  &::after {
    display: none;
  }
}
