@import 'src/styles/common';

$fill-color: $dark-grey;

.tooltip {
  background: $fill-color;
  padding: 6px 18px 8px;
  filter: drop-shadow(2px 2px 3px $shadow-color);
  cursor: default;
  color: $white;
  border-radius: 4px;
  font-size: 14px;
  max-width: 300px;
}

.tooltipTip {
  fill: $fill-color;
}
