@import 'src/styles/common';

.browserImagePlus {
  height: 100%;
  position: relative;
}

.browserStage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.loaderWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
