@import 'src/styles/common';

.searchFieldWrapper {
  padding: 40px;
}

.searchField {
  height: 36px;
  width: 300px;
  align-items: center;
}

.circleLoader {
  height: 20px;
  width: 20px;
  border-width: 1px;
  border-color: $medium-light-grey;
  border-top-color: $red;
}
