@import 'src/styles/common';

.wrapper {
  background-color: $white;
  overflow: auto;

  &ThemeDark {
    background-color: $light-grey;
  }
}

.table {
  border-collapse: collapse;
  position: relative;
  width: var(--table-width, 100%);
  height: var(--table-height, 500px);
  overflow: auto;
  display: block;

  thead {
    background-color: $white;

    tr {
      position: sticky;
      top: 0;
      background-color: white;
      box-shadow: inset 0px -2px $blue;
    }
  }
}

.row {
  border-bottom: 1px solid $medium-light-grey;
  height: 40px;
  align-items: center;

  &WithExpendedContent {
    border-bottom: none;
  }
}

.cell {
  min-width: 50px;
  padding-left: 24px;
  overflow: auto;
}
