@import 'src/styles/common';

.wrapper {
  --table-background: $white;
  overflow: auto;

  &ThemeDark {
    background-color: $light-grey;
  }
}

.table {
  width: var(--table-width, 100%);
  height: var(--table-height, 500px);
  overflow: auto;
  display: block;

  --table-background: $white;

  thead {
    tr {
      background-color: $white;
      --table-head-background: $white;
    }
  }

  &ThemeDark {
    --table-background: $light-grey;

    thead {
      tr {
        background-color: $light-grey;
        --table-head-background: $light-grey;
      }
    }
  }

  td {
    padding-left: 24px;
  }

  td.selectColumn {
    padding-left: 0;
  }

  th {
    padding-left: 0;
  }
}

.row {
  height: 40px;
  align-items: center;
}
