.main {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
}

.searchPanel {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: 1fr auto;
  align-items: start;
  row-gap: 18px;
  min-height: 300px;
  padding-left: var(--global-padding-left);
  padding-right: var(--standard-gutter);
  background-color: var(--color-light-grey);
}

.searchFields {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-top: 38px;
  container-type: inline-size;
}

@media (width <= 1060px) {
  .searchPanel {
    grid-template-columns: 500px 1fr;
  }
}

.tabs {
  grid-column: 1 / -1;
  align-self: end;
  display: flex;
  gap: 30px;
  padding-bottom: 26px;
}

.activeTab {
  --text-button-disabled-color: var(--color-black);
}

.genomeCounts {
  justify-self: end;
}

@media (width > 1300px) {
  .genomeCounts {
    justify-self: start;
    margin-left: 268px;
  }
}


.tabPanel {
  height: 100%;
  padding-top: 26px;
  padding-left: var(--global-padding-left);
  padding-right: var(--standard-gutter);
  padding-bottom: var(--global-padding-bottom);
  overflow: auto;
}
