.main {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
}

.searchPanel {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;
  height: 270px;
  padding-left: var(--global-padding-left);
  padding-right: var(--standard-gutter);
  background-color: var(--color-light-grey);
}

@media (width >= 1400px) {
  .searchPanel {
    padding-right: 260px;
  }
}

.speciesSearchFieldWrapper {
  padding-top: 38px;
}

.genomeCounts {
  justify-self: end;
}

.popularSpecies {
  height: 100%;
  padding-top: 26px;
  padding-left: var(--global-padding-left);
  padding-right: var(--standard-gutter);
  padding-bottom: var(--global-padding-bottom);
  overflow: auto;
}
