.main {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
}

.searchPanel {
  display: grid;
  grid-template-columns: minmax(590px, 2fr) 1fr;
  align-items: start;
  height: 270px;
  padding-left: var(--global-padding-left);
  padding-right: var(--standard-gutter);
  background-color: var(--color-light-grey);
  padding-right: clamp(var(--standard-gutter), 5vw, 260px);
}

/* to push the  */
@media (width >= 1400px) {
  .searchPanel {
    padding-right: 260px;
  }
}

@media (width <= 1060px) {
  .searchPanel {
    grid-template-columns: 500px 1fr;
  }
}

.speciesSearchFieldWrapper {
  padding-top: 38px;
  container-type: inline-size;
}

.genomeCounts {
  justify-self: end;
}

.popularSpecies {
  height: 100%;
  padding-top: 26px;
  padding-left: var(--global-padding-left);
  padding-right: var(--standard-gutter);
  padding-bottom: var(--global-padding-bottom);
  overflow: auto;
}
