.collapsedContent {
  display: grid;
  padding: 6px 20px;
  grid-template-columns: [title] 120px [primary] 250px [secondary] auto [example-link] 150px;
  align-items: center;

  .title {
    grid-column: title;
    font-size: 12px;
    color: var(--color-medium-dark-grey);
  }

  .primary {
    grid-column: primary;

    .primaryValue {
      font-size: 22px;
    }

    .primaryUnit {
      color: var(--color-dark-grey);
      font-size: 13px;
      padding-left: 5px;
    }
  }

  .secondary {
    grid-column: secondary;

    .secondaryValue {
      font-size: 22px;
    }

    .secondaryUnit {
      color: var(--color-dark-grey);
      font-size: 13px;
      padding-left: 5px;
    }
  }

  .exampleLink {
    grid-column: example-link;
    font-size: 11px;
  }
}



.statsGroup {
  padding: 13px 20px 0;
  display: grid;
  grid-template-columns: [title] 120px [stats] auto;

  .title {
    font-size: 12px;
    grid-column: title;
    color: var(--color-medium-dark-grey);
  }

  .stats {
    grid-column: stats;
  }

  &:first-of-type {

    grid-template-columns: [title] 120px [stats] auto [example-link] 150px;
  
    .title {
      grid-column: title;
      color: var(--color-medium-dark-grey);
    }
    .exampleLink {
      grid-column: example-link;
      font-size: 11px;
      padding-top: 2px;
    }
  }
}
