@import 'src/styles/common';

.input {
  &::placeholder {
    color: $dark-grey;
    font-weight: $light;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.rightCorner {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.inputWrapper {
  background-color: var(--input-background-colour, $white);
  display: inline-flex;
  padding: 0 20px;
  width: var(--input-width, 100%);

  input {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    box-shadow: none;
  }
}

.shadedInputWrapper {
  border: none;
  box-shadow: $form-field-shadow;
  height: var(--shaded-input-height, 40px);

  &Large {
    --shaded-input-height: 40px;
    --question-button-size: 16px;
    --close-button-size: 16px;
  }

  &Small {
    --shaded-input-height: 30px;
    --question-button-size: 12px;
    --close-button-size: 12px;
  }
}

.flatInputWrapper {
  height: 25px;
  --question-button-size: 12px;
  --close-button-size: 12px;

  &Disabled {
    border: 1px solid $grey;
    background-color: transparent;
  }
}
