@import 'src/styles/common';

.input {
  &::placeholder {
    color: $dark-grey;
    font-weight: $light;
  }

  &:focus,
  &:active {
    outline: none;
    color: $black;
    font-weight: $normal;
  }
}

.rightCorner {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.inputWrapper {
  background-color: var(--input-background-colour, $white);
  display: inline-flex;
  font-size: $global-font-size;
  padding: 0 20px;
  width: var(--input-width, 100%);

  input {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    box-shadow: none;
  }
}

.shadedInputWrapper {
  border: none;
  box-shadow: $form-field-shadow;
  height: 25px;

  &Large {
    height: 40px;
  }

  &Small {
    height: 30px;
  }
}

.flatInputWrapper {
  box-shadow: none;
  height: 25px;

  &Disabled {
    border: 1px solid $grey;
    background-color: transparent;
  }
}