@import 'src/styles/common';

.home {
  h2 {
    color: $grey;
    font-size: 14px;
    font-weight: $normal;
  }
  position: relative;
}

.search {
  background: $light-grey;
  box-shadow: 0 3px 5px $medium-light-grey;
  min-height: 235px;
  padding: 15px 60px;

  h2 {
    margin-left: 20px;
  }

  input[type='text'] {
    border: none;
    width: 100%;
    max-width: 485px;
    height: 36px;
    box-shadow: inset 2px 2px 4px -2px $dark-grey;
    padding: 12px 20px;

    &::placeholder {
      color: $grey;
    }
  }

  button {
    border: 1px solid $grey;
    border-radius: 5px;
    margin-left: 15px;
    padding: 8px 24px;
    text-transform: uppercase;
  }
}

.previouslyViewed {
  line-height: 2;
  padding: 15px 80px;
}

.previouslyViewedItem {
  margin-left: 40px;
}

.previouslyViewedItemAssemblyName {
  color: $medium-dark-grey;
  font-size: 11px;
  margin-left: 0.2em;
}
