@import 'src/styles/common';

.input {
  display: inline-block;
  width: 100%;

  &:focus,
  &:active {
    outline: none;
  }
}

.shadedInput {
  box-shadow: inset 2px 2px 4px -2px $dark-grey;
  border: none;
  padding: 4px;
}
