.pointerBox {
  --_pointer-box-color: var(--pointer-box-color, var(--color-black));
  color: var(--pointer-box-text-color, var(--color-white));
  background-color: var(--_pointer-box-color);
  cursor: default; /* to override cursor: pointer if e.g. parent is a button */
  position: absolute;
  width: max-content;
  box-sizing: content-box; /* Safari doesn't seem to respect "width: max-content" if box-sizing is border-box */
  padding: var(--pointer-box-padding, 6px);
  z-index: 1000;
}

/* Class applied to pointer box while the code is finding appropriate position for it.
Pointer box should be invisible, but have width and height required for calculations.
It should also not change dimensions of the page (and cause sliders to appear);
hence it is placed in top left corner of the screen with position: fixed */
.invisible {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.pointer {
  fill: var(--_pointer-box-color);
  position: absolute;
  mix-blend-mode: lighten;
}
