@import 'src/styles/common';

$fill-color: $ens-dark-grey;

.tooltip {
  position: absolute;
  background: $fill-color;
  padding: 14px 18px 18px;
  box-shadow: 2px 2px 5px $ens-grey;
  width: max-content; // not supported in IE or non-webkit Edge
  cursor: default;
  color: $ens-white;

  // hack to select additional classes that are added through javascript
  // (CSS modules make it hard to target these classes because of unique suffixes)
  &[class*='left_bottom'],
  &[class*='left_centre'],
  &[class*='left_top'] {
    svg {
      filter: drop-shadow(0px -4px 2px $ens-grey);
    }
  }

  &[class*='top_left'],
  &[class*='top_centre'],
  &[class*='top_right'] {
    svg {
      filter: drop-shadow(0px -4px 2px $ens-grey);
    }
  }
}

.tooltipInvisible {
  visibility: hidden;
}

.tooltipTip {
  position: absolute;
  height: 13px;
  width: 18px;
  fill: $fill-color;
  font-size: 0;
  line-height: 0;
}
