@import 'src/styles/common';

.containerSvg {
  overflow: visible;
}

.track {
  fill: $light-grey;
}

.protein {
  fill: $mustard;
}

.label {
  font-size: 13px; // to override the 12px font-size coming from DefaultTranscriptList.row
  font-weight: $light;
  color: $black;
}
