.topbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  height: 32px;
  padding: 0 30px 0 22px;
  background-color: var(--color-black);
}

.topbarLeft {
  display: flex;
  align-items: center;
  line-height: 1;
}

.homeLink {
  font-size: 0;
  margin-right: 16px;
}

.homeLink svg {
  fill: var(--color-blue);
  height: 19px;
  width: 19px;
}

.logotypeWrapper {
  margin-top: 3px;
  margin-right: 15px;
}

.logotype {
  height: 12px;
  fill: var(--color-white);
}

.topbarLeftText {
  display: flex;
  align-items: baseline;
  margin-bottom: -3px;
  column-gap: 30px;
}

.release {
  font-size: 11px;
}

.copyright {
  font-size: 12px;
}

.copyright a {
  color: var(--color-light-blue);
}

.topbarRight {
  display: flex;
  column-gap: 30px;
}

.light {
  font-weight: var(--font-weight-light);
}

.contactUs {
  font-weight: var(--font-weight-bold);
}