@import 'src/styles/common';

.topbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: $white;
  height: 32px;
  padding: 0 30px 0 22px;
  background-color: $black;

  &Left {
    display: flex;
    align-items: center;
    line-height: 1;
  }

  &LeftTextBlock {
    display: flex;
    align-items: center;
  }
}

.homeLink {
  font-size: 0;
  margin-right: 16px;

  svg {
    fill: $blue;
    height: 19px;
    width: 19px;
  }
}

.logotypeWrapper {
  margin-top: 3px;
}

.logotype {
  height: 12px;
  fill: white;
}

.logotypeAssociatedText {
  display: flex;
  align-items: baseline;
  margin-bottom: -3px;
}

.release {
  font-size: 11px;
  margin-left: 15px;
}

.copyright {
  font-size: 12px;
  margin-left: 30px;
  a {
    color: $light-blue;
  }
}

.topbarRight {
  font-size: 13px;
  margin-right: 25px;
}
