@import 'src/styles/common';

.autosuggestionSearchFieldWrapper {
  width: 100%;
}

.autosuggestionSearchField {
  position: relative;
}

.autosuggestionPlate {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%) translateY(1px);
  width: 100%;
  z-index: 1;
  padding: 18px 24px;
  background: white;
  border: 1px solid $grey;
  box-shadow: 2px 2px 6px 0 $grey;
}

.autosuggestionPlateMatchGroup {
  &:not(:first-child) {
    margin-top: 1em;
  }
}

.autosuggestionPlateItem {
  padding: 2px 24px;
  margin: 0 -23px;
  cursor: pointer;
}

.autosuggestionPlateHighlightedItem {
  background-color: $ice-blue;
}
