@layer components {

  .wrapper {
    display: inline-block;
    anchor-name: --search-field;
  }

  .suggestionsPanel {
    position-anchor: --search-field;
    position-area: block-end;
    inline-size: anchor-size();
    border: 1px solid var(--color-grey);
    border: none;
    box-shadow: 2px 2px 6px 0 var(--color-grey);
    padding: 18px 12px;
    top: 2px;
  }

  .suggestion {
    padding: 2px 12px;
  }

  .suggestion:hover {
    background-color: var(--color-ice-blue);
    cursor: pointer;
  }

  .suggestionActive {
    background-color: var(--color-ice-blue);
  }

}