@import 'src/styles/common';

$secondary-text-color: $dark-grey;

.wrapper {
  width: 250px;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}

.preLabel {
  color: $secondary-text-color;
}

.preLabel + .label {
  margin-top: -3px;
}

.primaryValue {
  font-size: 26px;
  padding-left: 30px;
}
.primaryUnit {
  color: $black;
  padding-left: 5px;
  font-weight: $light;
}
.secondaryValue {
  padding-left: 30px;
}
.secondaryUnit {
  color: $black;
  padding-left: 3px;
  font-weight: $light;
}
.link {
  text-align: center;
  padding-left: 30px;
  color: $secondary-text-color;
  font-size: 11px;
}
