.main {
  --inner-block-offset-left: 20px;
  padding-bottom: var(--global-padding-bottom);
  padding-left: var(--global-padding-left);
  padding-top: 12px;
  height: 100%;
  display: grid;
  grid-template-rows: [search-form] auto [search-results] 1fr;
  justify-content: start;
  overflow: hidden;
}

.geneSearchForm {
  display: grid;
  grid-template-areas:
    "label ."
    "search-field submit-button"
    "search-scope .";
  grid-template-columns: 485px min-content;
  column-gap: 46px;
  row-gap: 10px;
  align-items: center;
}

.searchLabel {
  grid-area: label;
  margin-left: var(--inner-block-offset-left);
}

.searchField {
  grid-area: search-field;
}

.submit {
  grid-area: submit-button;
}

.resultsWrapper {
  grid-row: search-results;
  height: 100%;
  width: 800px;
  overflow-y: auto;
  margin-top: 2rem;
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
}

.resultsTable thead tr {
  position: sticky;
  top: 0;
  background-color: var(--color-light-grey);
}

.resultsTable th {
  text-align: left;
  box-shadow: inset 0 -1px 0 var(--table-head-border-color, var(--color-blue)); /* same as in Table.module.css */
  padding: 0 0.5rem 0.4rem 1rem;
  font-size: 12px;
  font-weight: var(--font-weight-light);
}

.resultsTable td {
  padding: 0.4rem 0.5rem 0.4rem 1rem;
  border-bottom: 1px solid var(--color-medium-light-grey);
}

.resultsTable td:not(:last-child) {
  vertical-align: top;
}

.speciesName [data-part="common-name"] {
  font-size: 14px;
}

.speciesName [data-part="scientific-name"] {
  font-size: 14px;
}

.speciesName [data-part="assembly-name"] {
  font-size: 11px;
  font-weight: var(--font-weight-light);
}

.speciesCount {
  font-weight: var(--font-weight-bold);
  padding: 0 0.5ch;
}

.geneMatch {
  color: var(--color-blue);
  cursor: pointer;
}

.geneSymbol {
  font-weight: var(--font-weight-bold);
  margin-right: 8px;
}

.closeButton {
  position: absolute;
  right: var(--standard-gutter);
  top: var(--standard-gutter);
}

.tooltip {
  --pointer-box-padding: 12px 20px;
}

.noResults {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-left: var(--inner-block-offset-left);
  margin-top: 2rem;
}

.noResults p {
  margin: 0;
}

/* Using the :where selector to drop selector specificity, so that it does not compete with .speciesCount class */
:where(.noResults p:first-child) {
  font-size: 12px;
  font-weight: var(--font-weight-light);
}

.warning {
  color: var(--color-red);
}

/* FIXME: remove the pseudo-radio elements when we replace them with real radio buttons */
.pseudoRadioGroup {
  --radio-label-font-weight: var(--font-weight-normal);
  display: flex;
  column-gap: 2rem;
  margin-left: var(--inner-block-offset-left);
}

.pseudoRadioDisabled > * {
  --radio-background-color: var(--color-light-grey);
  --radio-label-font-weight: var(--font-weight-light);
  cursor: default !important; /* yes, !important is terrible; but this is a temporary hack anyway */
}
