.panel {
  height: 100%;
  background-color: var(--color-light-grey);
  padding: 65px 0 var(--global-padding-bottom) var(--global-padding-left); /* TODO: the 65px on top looks like it is something repeatable between components? */
  position: relative;
  overflow: hidden;
}

.main {
  height: 100%;
  display: grid;
  grid-template-rows: [search-form] auto [search-results] 1fr;
  justify-content: start;
  overflow: hidden;
}

.geneSearchForm {
  display: grid;
  grid-template-areas:
    "label ."
    "search-field submit-button"
    "search-scope .";
  grid-template-columns: 485px min-content;
  column-gap: 1rem;
  row-gap: 10px;
  align-items: center;
}

.searchLabel {
  grid-area: label;
  margin-left: 25px;
}

.searchField {
  grid-area: search-field;
}

.submit {
  grid-area: submit-button;
}

.resultsWrapper {
  grid-row: search-results;
  height: 100%;
  overflow-y: auto;
  margin-top: 2rem;
}

.resultsTable {
  width: 600px;
  border-collapse: collapse;
}

.resultsTable thead tr {
  position: sticky;
  top: 0;
  background-color: var(--color-light-grey);
}

.resultsTable th {
  text-align: left;
  box-shadow: inset 0 -1px 0 var(--table-head-border-color, var(--color-blue)); /* same as in Table.module.css */
  padding: 0 0.5rem 0.4rem 1rem;
  font-weight: var(--font-weight-light);
}

.resultsTable td {
  padding: 0.4rem 0.5rem 0.4rem 1rem;
  border-bottom: 1px solid var(--color-medium-light-grey);
}

/* Species column */
.resultsTable td:first-child {
  width: 60%;
  vertical-align: top;
}

.speciesCount {
  font-weight: var(--font-weight-bold);
  padding: 0 0.5ch;
}

.speciesCell {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 1ch;
}

.assemblyName {
  font-weight: var(--font-weight-light);
  font-size: 11px;
}

.geneMatch {
  color: var(--color-blue);
  cursor: pointer;
}

.closeButton {
  position: absolute;
  right: var(--standard-gutter);
  top: var(--standard-gutter);
}

.tooltip {
  background: var(--color-black);
  padding: 12px 20px;
  filter: drop-shadow(2px 2px 3px var(--shadow-color));
  color: var(--color-white);
}

.tooltipTip {
  fill: var(--color-black);
}

/* FIXME: remove the pseudo-radio elements when we replace them with real radio buttons */
.pseudoRadioGroup {
  display: flex;
  column-gap: 2rem;
  margin-left: 25px;
  --radio-label-font-weight: var(--font-weight-normal);
}

.pseudoRadioDisabled > * {
  cursor: default !important; /* yes, !important is terrible; but this is a temporary hack anyway */
  --radio-background-color: var(--color-light-grey);
  --radio-label-font-weight: var(--font-weight-light);
}
