@import 'src/styles/common';

.exampleLinks {
  margin-top: 50px;
  padding-left: 100px;

  &__emptyTopbar {
    height: 40px; // same as top bar height in StandardAppLayout
    background: $light-grey;
    box-shadow: 0 2px 3px $grey;
  }
  

  a {
    margin-bottom: 30px;
  }
}
