@import 'src/styles/common';

.speciesMainViewTop {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  padding-top: 20px;
}

.speciesLabelBlock {
  padding: 0 75px 0 60px;
}

// TODO: Remove Me
.statsWrapper { 
    padding-left:60px;
    padding-top:20px;
    width: 1000px;
    overflow: auto;
    height:500px;
}

.collapsedContent{
  display: grid;
  padding:6px 20px;
  grid-template-columns: [title] 120px [primary] 250px [secondary] auto [example-link] 200px;
  align-items: center;

  .title{
      grid-column: title;
      color: $medium-dark-grey;
  }

  .primary{
      grid-column: primary;

      .primaryValue{
          font-size: 22px;
      }

      .primaryUnit{
          color: #6f8190;
          font-size: 13px;
          padding-left: 5px;
      }
  }

  .secondary{
      grid-column: secondary;

      .secondaryValue{
          font-size: 22px;
      }

      .secondaryUnit{
          color: #6f8190;
          font-size: 13px;
          padding-left: 5px;
      }
  }

  .exampleLink{
      grid-column:  example-link;
      font-size: 11px;
  }
}


.primaryStats{
  padding: 13px 20px;
  display: grid;
  grid-template-columns: [title] 120px [stats] auto [example-link] 200px;
  align-items: flex-start;

  &NoLink{
    grid-template-columns: [title] 120px [stats] auto;
  }

  .title{
      grid-column: title;
      color: $medium-dark-grey;
  }

  .stats{
      grid-column: stats;
  }
  .exampleLink{
      grid-column:  example-link;
      font-size: 11px;
  }
}


.secondaryStats{
  padding: 13px 20px;
  display: grid;
  grid-template-columns: [title] 120px [stats] auto;
  align-items: flex-start;

  .title{
      font-size: 12px ;
      grid-column: title;
      color: $medium-dark-grey;
  }

  .stats{
      grid-column: stats;
  }
}