@import 'src/styles/common';

.speciesMainViewTop {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  padding-top: 20px;
}

.speciesLabelBlock {
  padding: 0 75px 0 45px;
}

.statsWrapper {
  padding: 5px 20px 40px 120px;
  max-width: 1310px;
}

.exampleLinkText {
  cursor: pointer;
  color: $blue;
  position: relative;
}

.pointerBox {
  padding: 6px 12px;
  background: $black;
  color: white;

  p {
    max-width: 200px;
  }
}

.pointerBoxPointer {
  fill: $black;
}

.collapsedContent {
  display: grid;
  padding: 6px 20px;
  grid-template-columns: [title] 120px [primary] 250px [secondary] auto [example-link] 150px;
  align-items: center;

  .title {
    grid-column: title;
    color: $medium-dark-grey;
  }

  .primary {
    grid-column: primary;

    .primaryValue {
      font-size: 22px;
    }

    .primaryUnit {
      color: $dark-grey;
      font-size: 13px;
      padding-left: 5px;
    }
  }

  .secondary {
    grid-column: secondary;

    .secondaryValue {
      font-size: 22px;
    }

    .secondaryUnit {
      color: $dark-grey;
      font-size: 13px;
      padding-left: 5px;
    }
  }

  .exampleLink {
    grid-column: example-link;
    font-size: 11px;
  }
}



.statsGroup {
  padding: 13px 20px 0;
  display: grid;
  grid-template-columns: [title] 120px [stats] auto;

  .title {
    font-size: 12px;
    grid-column: title;
    color: $medium-dark-grey;
  }

  .stats {
    grid-column: stats;
  }

  &:first-of-type {

    grid-template-columns: [title] 120px [stats] auto [example-link] 150px;
  
    .noLink {
      grid-template-columns: [title] 120px [stats] auto;
    }
  
    .title {
      grid-column: title;
      color: $medium-dark-grey;
    }
    .exampleLink {
      grid-column: example-link;
      font-size: 11px;
      padding-top: 2px;
    }
  }
}
