@import 'src/styles/common';

.drawerTitle {
  margin: 20px 0 0 30px;
}

.contentWrapper {
  height: 80%;
}

.linksWrapper {
  margin: 20px 0 0 40px;
  height: 100%;
  columns: 4;
  position: relative;
  width: calc(100% - 110px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;

  .linkHolder {
    margin: 5px 0 0 15px;
    width: 200px;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 13px;
  }

  .previouslyViewedType {
    color: $dark-grey;
    position: absolute;
    margin-left: 8px;
    font-size: 12px;
    top: 1px;
    font-weight: 300;
  }
}
