@import 'src/styles/common';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 5vh;
  width: min-content;
  margin: 0 auto;

  svg {
    overflow: visible;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px;
  width: 300px;

  button {
    margin-top: 1em;
    padding: 0.4em;
    background-color: black;
    color: white;
  }
}

.transcript {
  rect {
    fill: white;
  }
}

.exon {
  fill: white;
  stroke: white;
}
