@import 'src/styles/common';

$maxFormWidth: 520px;
$leftColumnWidth: 135px;
$columnGapWidth: 12px;

.container {
  background: $light-grey;
  padding: 12px 0 52px 30px;
  min-height: 570px;
}

.grid {
  display: grid;
  grid-template-columns: [left] $leftColumnWidth [right] 1fr;
  column-gap: 12px;
  row-gap: 6px;
  width: 100%;
  max-width: $maxFormWidth;
}

.advisory {
  font-size: 12px;
  font-weight: $light;
  grid-column: right;

  span {
    display: block;
  }
}

.label {
  justify-self: right;
  margin-top: 6px;
  font-size: 12px;
  font-weight: $light;
}

.textarea {
  height: 150px;
}

.emailField {
  &:invalid:not(:focus) {
    color: $red;
  }
}

.upload {
  grid-column: right;
  margin-top: 18px;
  max-width: calc(#{$maxFormWidth} - #{$leftColumnWidth} - #{$columnGapWidth});
}

.uploadedFile {
  margin-bottom: 12px;
}

.submit {
  display: grid;
  grid-template-areas:
    'form-errors form-errors'
    'submit-left submit-right';
  grid-template-columns: 1fr auto;
  column-gap: 1.5rem;
  align-items: center;
  grid-column: right;
  margin-top: 30px;

  .formErrors {
    grid-area: form-errors;

    &:not(:empty) {
      margin-bottom: 12px;
    }
  }

  .sliderLabel {
    grid-area: submit-left;
    justify-self: end;

    &Disabled {
      color: $grey;
    }
  }

  .submitSlider {
    grid-area: submit-right;
  }
}

.submitButtonWrapper {
  grid-column: submit-right;
  justify-self: end;
}

.submitButton {
  height: 30px;
  width: 90px;
}

.errorText {
  color: $red;
}
