@import 'src/styles/common';

.speciesContainer {
  max-width: 1381px;
}

@mixin narrow-top-grid {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.speciesMainViewTop {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  padding-top: 20px;

  &Narrow {
    @media (max-width: 1200px) {
      @include narrow-top-grid;
    }
  }
}

.speciesLabelBlock {
  padding: 0 75px 0 45px;
}

.statsWrapper {
  padding: 5px 20px $global-padding-bottom 120px;
}

.exampleLinkText {
  cursor: pointer;
  color: $blue;
  position: relative;
}

.pointerBox {
  padding: 6px 12px;
  background: $black;
  color: white;

  p {
    max-width: 200px;
  }
}

.pointerBoxPointer {
  fill: $black;
}

.collapsedContent {
  display: grid;
  padding: 6px 20px;
  grid-template-columns: [title] 120px [first_summary_stat] 250px [second_summary_stat] auto [example-link] 150px;
  align-items: center;
  min-height: 50px;

  .title {
    grid-column: title;
    color: $black;
    font-weight: $light;
  }

  .summaryStat {
    grid-column: first_summary_stat;

    .value {
      font-size: 24px;
    }

    .unit {
      color: $black;
      padding: 0 6px;
      font-weight: $light;
    }
  }

  .summaryStat + .summaryStat {
    grid-column: second_summary_stat;
  }

  .exampleLink {
    grid-column: example-link;
  }

  .questionButton {
    top: 2px;
    position: relative;
  }
}

.statsGroup {
  padding: 16px 20px 0;
  display: grid;
  grid-template-columns: [title] 120px [stats] auto;

  .title {
    grid-column: title;
    color: $black;
    font-weight: $light;
  }

  .stats {
    grid-column: stats;
  }

  &WithExampleLink {
    grid-template-columns: [title] 120px [stats] auto [example-link] 150px;
  }

  .exampleLink {
    grid-column: example-link;
  }
}

.noData {
  color: $black;
  font-weight: $light;
}
