.wrapper {
  max-width: 450px;
}

.wrapper h2 {
  font-size: 13px;
  margin-top: 30px;
}

.wrapper p,
.wrapper dd {
  margin-bottom: 20px;
}

.wrapper dd {
  margin: 5px 0 15px 0;
}

.socialMediaInfo {
  margin-top: 50px;
}

.socialMediaInfo a {
  display: inline-block;
  margin-right: 20px;
}

.socialMediaLinkText {
  display: inline-block;
  margin-right: 10px;
}

.icon {
  position: relative;
  top: 8px;
  height: 25px;
  width: 25px;
}
