.help {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100%;
}

.appBar {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 44px; 
}

.main {
  height: 100%;
  overflow-y: auto;
  padding-left: 80px;
  padding-top: 44px;
}
