.inAppSearch {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.inAppSearchFormContainer {
  margin-top: 20px;
}

.resultsContainerSidebar {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding-left: 20px;
  margin-top: 20px;
}

.resultsContainer {
  flex: 1;
  padding-left: 20px;
  margin-top: 20px;
}

.spinner {
  --circle-loader-display: block;
  margin-top: 30px;
  margin-left: 20px;
}

.hitsNumber {
  font-weight: var(--font-weight-bold);
}

.searchMatches {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: flex-start;
}

.searchMatch {
  position: relative;
  line-height: 1;
}

.searchMatchButton > span:nth-child(2) {
  margin-left: 0.6rem;
}

.searchMatchAnchor {
  position: absolute;
  height: 100%;
}

.searchMatchAnchorInterstitial {
  right: -1.5ch;
}

.searchMatchAnchorSidebar {
  left: 3ch;
}

.tooltip {
  --pointer-box-padding: 12px 20px;
}

.tooltipContent {
  font-weight: var(--font-weight-light);
  width: 225px;
}

.tooltipContent > div:not(:last-child) {
  margin-bottom: 4px;
}

.tooltipContent > div:last-child {
  margin-top: 28px;
}

.tooltipContent .withExtraSpaceRight {
  margin-right: 0.6ch;
}

.strong {
  font-weight: var(--font-weight-bold);
}
