@import 'src/styles/common';

$optionsPanelTopPadding: 12px;
$optionsPanelRightPadding: 22px;
$optionsPanelLeftPadding: 14px;

.select {
  position: relative;
  display: inline-block;

  &:focus {
    outline: auto;
    outline-style: dotted;
    outline-width: 2px;
  }
}

.selectOpen {
  &:focus {
    outline: none;
  }
}

.selectArrowhead {
  margin-left: 0.8em;
  height: 8px;
  width: 8px;
  fill: $ens-blue;
}

.selectClosed {
  cursor: pointer;
}

.selectClosedInvisible {
  visibility: hidden;
}

.optionsPanel {
  position: absolute;
  background-color: white;
  left: -$optionsPanelLeftPadding;
  top: -$optionsPanelTopPadding;
  display: inline-block;
  min-width: 100%;
  padding: $optionsPanelTopPadding $optionsPanelRightPadding 34px
    $optionsPanelLeftPadding;
  box-shadow: 2px 2px 6px 0 $ens-grey;
  white-space: nowrap;
  overflow: auto;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.optionsPanelHeader {
  color: $ens-grey;
  margin-bottom: 1em;
}

.option {
  cursor: pointer;
  margin-left: -$optionsPanelLeftPadding;
  margin-right: -$optionsPanelRightPadding;
  padding: 0 $optionsPanelRightPadding 0 $optionsPanelLeftPadding;
}

.optionHighlighted {
  background-color: $ens-light-blue;
}
