.wrapper {
  width: 250px;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
}

.preLabel {
  color: var(--color-black);
  padding-right: 4px;
  font-weight: var(--font-weight-light);
}

.preLabel + .label {
  margin-top: -3px;
}

.questionButton {
  top: 2px;
  position: relative;
}

.primaryValue {
  font-size: 24px;
  padding-left: 30px;
}

.primaryUnit {
  color: var(--color-black);
  padding-left: 5px;
  font-weight: var(--font-weight-light);
}

.secondaryValue {
  padding-left: 30px;
}

.secondaryUnit {
  color: var(--color-black);
  padding-left: 3px;
  font-weight: var(--font-weight-light);
}

.link {
  text-align: center;
  padding-left: 30px;
  color: var(--color-dark-grey);
  font-size: 11px;
}
