/* 
  To style individual icons, use the following selectors:
  - [data-part="bluesky-icon"] for the Bluesky icon
  - [data-part="linkedin-icon"] for the LinkedIn icon
  - [data-part="facebook-icon"] for Facebook icon
  - [data-part="twitter-icon"] for Twitter/X icon
 */

@layer components {
  .container {
    display: flex;
    column-gap: 24px;
    align-items: center;
  }

  .container > * {
    flex: none;
  }
  
  .mediaIcon {
    height: 24px;
  }

  .mediaIcon[data-part="twitter-icon"] {
    height: 22px;
  }
}
