/* stylelint-disable no-descending-specificity */

.topLevelContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  max-width: var(--biomart-container-max-width);
}

.topLevel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 0 25px 3px 0;
  font-size: 16px;
}

.previewRunButton {
  margin-left: 18px;
}

.buttonDisabled {
  background-color: #b7c0c8;
  border-color: #b7c0c8;
}

.previewRunButton {
  display: flex;
  gap: 10px;
}

.biomartToolbarOptions label {
  display: inline-flex;
  column-gap: 11px;
  align-items: center;
  white-space: nowrap;
}

.biomartToolbarOptions label span {
  font-weight: var(--font-weight-light);
  line-height: 27px;
  justify-self: end;
}

.biomartToolbarButtons {
  display: flex;
  gap: 10px;
}
