@import 'src/styles/common';

.defaultStoryContainer {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1.5rem;
  align-items: center;
  --image-button-width: 32px;
  --image-button-height: 32px;
  --image-button-svg-width: 80%;
}

.styledDefaultStoryButton {
  border: 1px solid black;
  --image-button-default-svg-color: #{$green};
}
