.defaultStoryContainer {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1.5rem;
  align-items: center;
  --image-button-svg-width: 80%;
}

.imageButton,
.styledDefaultStoryButton {
  width: 32px;
  height: 32px;
}

.styledDefaultStoryButton {
  border: 1px solid black;
  --image-button-default-svg-color: var(--color-green);
}
