.speciesWrapper {
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.linkWrapper {
  display: inline-block;
  vertical-align: middle;
}

.speciesContainer {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  transition: width 0.3s;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

// Increase the specificity of the selector to always win over the selector of the species component
.species.species {
  width: 100%;
  margin-bottom: 0;
}
