.speciesWrapperInternal {
  white-space: nowrap;
  overflow-x: hidden;
}

.speciesContainer {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 7px;
  }
}

.species {
  width: 100%;
}
