@import 'src/styles/common';

.launchbar {
  display: flex;
  border-bottom: 1px solid $ens-grey;
  border-top: 1px solid $ens-grey;
  padding: 8px 6px;

  dl {
    display: inline-block;
    padding: 0 15px;

    &.border {
      border-right: 1px solid $ens-grey;
    }

    &:first-child {
      padding-left: 2px;
    }
  }

  dd {
    display: inline-block;
    margin-left: 0;
    padding: 0 12px;
  }
}

.categoriesWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: calc(100% - 226px);

  &::-webkit-scrollbar {
    display: none;
  }
}

.categories {
  display: flex;
  flex: 0 0 auto;
}

.category {
  display: flex;
}

.launchbarButton {
  height: 30px;
  width: 30px;
}

.about {
  @include flex;
  @include flex-align(right, top);
  margin-left: 20px;

  h2 {
    font-size: 12px;
    font-weight: normal;
    margin: 7px 0 0 0;
  }

  dl:first-child {
    padding-right: 0;
  }

  dd {
    padding: 0;
  }
}
