@import 'src/styles/common';

.launchbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
  padding: 11px 6px;

  @media screen and (max-width: 700px) {
    overflow-x: auto;
  }
}

.categoriesWrapper {
  display: flex;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.categories {
  display: flex;
  flex: 0 0 auto;
}

.category {
  display: flex;
  padding: 0 15px;

  &:first-child {
    padding-left: 2px;
  }

  &:not(:last-child) {
    border-right: 1px solid $grey;
  }
}

.launchbarButton {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 0 12px;

  img {
    max-width: 30px;
    max-height: 30px;
  }
}

.launchbarButtonImage {
  svg {
    width: 32px;
    height: 32px;
    fill: $white;
    background-color: $blue;
  }
}

.launchbarButtonSelectedImage {
  svg {
    fill: $white;
    background-color: $black;
  }
}

.launchbarButtonDisabledImage {
  svg {
    fill: $white;
    background-color: $grey;
  }
  button {
    cursor: default;
  }
}

.logotype {
  height: 12px;
  fill: white;
}

.aboutEnsembl {
  display: flex;
  align-items: center;
  padding-right: 46px;
  font-size: 13px;
  color: $blue;
}

.logotypeAbout {
  height: 10px;
  fill: $blue;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

// For disabling temporarily the about Ensembl link in production
.aboutEnsemblDisabled {
  color: $medium-dark-grey;

  .logotypeAbout {
    fill: $medium-dark-grey;
  }
}
