.sectionHead {
  font-size: 12px;
  font-weight: var(--font-weight-light);
  border-bottom: 1px solid var(--color-grey);
  margin-bottom: 10px;
  margin-top: 45px;
}

.sectionHead:first-child {
  margin-top: 30px;
}

.speciesFilesLink{
  margin-left: 10px;
}

.speciesFilesLink:not(:last-child) {
  margin-bottom: 25px;
}

.speciesFilesLinkTitle{
  font-weight: var(--font-weight-light);
  margin-bottom: 10px;
}