@import 'src/styles/common';

$speciesSearchFieldHeight: 40px;
$offsetTop: 5px;

.speciesAutosuggestionPanel {
  position: absolute;
  left: 0;
  top: calc(#{$speciesSearchFieldHeight} + #{$offsetTop});
  width: 100%;
  padding: 18px 24px;
  background: white;
  border: 1px solid $ens-grey;
  box-shadow: 2px 2px 6px 0 $ens-grey;
}
