@import 'src/styles/common';

.accordionDefault {
  border: 2px solid $medium-light-grey;
  border-radius: 2px;
}

.accordionItemDefault:not(:first-child) {
  border-top: 2px solid $medium-light-grey;
}

.accordionButtonDefault {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 0.6rem;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  position: relative;
}

.accordionButtonDisabled {
  background-color: $light-grey;
  color: $grey;
  cursor: default;
  &:after,
  &:before {
    display: none;
  }
}

.accordionButtonDefault[aria-expanded='true']::before,
.accordionButtonDefault[aria-selected='true']::before {
  top: 15px;
  transform: rotate(-45deg);
}

.accordionButtonDefault[aria-expanded='true']::after,
.accordionButtonDefault[aria-selected='true']::after {
  top: 15px;
  transform: rotate(45deg);
}

.accordionPanelDefault {
  background: $light-grey;
  animation: fadein 0.2s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
