const VERSION_GIT : &str = "@git log --no-color | head -1@";
const VERSION_DATE : &str = "@date@";
const VERSION_HOSTNAME : &str= "@hostname@";
const VERSION_USER : &str= "@whoami@";
const VERSION_CHANGES : &str = "@git status --porcelain@";
