const VERSION_GIT : &str = "@git log --no-color | head -1@";
const VERSION_DATE : &str = "@date@";
const VERSION_HOSTNAME : &str= "@hostname@";
const VERSION_DIR : &str= "@pwd@";
const VERSION_USER : &str= "@whoami@";
const VERSION_CHANGES : &str = "@git status --porcelain | perl -pe 's/"//g; s/\\(...)/chr(oct($1))/ge;'@";
const VERSION_POM : &str = "@pom@";
