.vepFormGrid {
  display: grid;
  align-items: center;
  grid-template-columns:
    [vep-logo] max-content
    [form-title] max-content
    [transcript-set-and-submit] 1fr
    [vep-version] max-content
    [job-lists-navigation] max-content;
  grid-template-areas:
    'vep-logo form-title transcript-set-and-submit vep-version job-lists-navigation';
  column-gap: 32px;
  max-width: var(--vep-container-max-width);
  white-space: nowrap;
}

@media (width <= 1440px) {
  .vepFormGrid {
    grid-template-columns:
      [vep-logo] max-content
      [form-title] 1fr
      [vep-version] max-content
      [job-lists-navigation] auto;
    grid-template-areas:
      'vep-logo form-title vep-version job-lists-navigation'
      'transcript-set-and-submit transcript-set-and-submit transcript-set-and-submit transcript-set-and-submit';
    row-gap: 16px;
  }
}

/* Style overrides for some of the ToolsTopBar styles */
.vepGenericTopBar {
  padding-top: 0;
  padding-bottom: 0;
  justify-content: center; /* To achieve vertical alignment. ToolsTopBar is a flex box with flex-direction column */
}

.vepGenericGrid {
  display: grid;
  align-items: center;
  grid-template-columns:
    [vep-logo] max-content
    [new-job-button] max-content
    [results-availability] minmax(0, 1fr)
    [vep-version] auto
    [job-lists-navigation] auto;
  grid-template-areas:
    'vep-logo new-job-button results-availability vep-version job-lists-navigation';
  column-gap: 32px;
  max-width: var(--vep-container-max-width);
  white-space: nowrap;
}

.vepGenericGrid .ensemblLogo {
  width: 130px;
}

@media (width <= 1210px) {
  .vepGenericGrid {
    grid-template-columns:
      [vep-logo] max-content
      [new-job-button] 1fr
      [vep-version] auto
      [job-lists-navigation] auto;
    grid-template-areas:
      'vep-logo new-job-button vep-version job-lists-navigation'
      'results-availability results-availability results-availability .';
    row-gap: 3px;
  }

  .resultsAvailabilityNotice {
      justify-self: end;
  }
}

.logo {
  grid-area: vep-logo;
  width: 130px;
  aspect-ratio: 10/1;
}

.runAJob {
  grid-area: form-title;
  margin-left: 20px;
  font-weight: var(--font-weight-bold);
}

.transcriptSetAndSubmit {
  grid-area: transcript-set-and-submit;
  justify-self: end;
  display: flex;
  column-gap: var(--standard-gutter);
  padding-right: 80px;
}
.transcriptSetWrapper {
  display: flex;
  align-items: baseline;
}

@media (width <= 1440px) {
  .transcriptSetAndSubmit {
    padding-left: var(--standard-gutter);
    justify-self: start;
  }
}

@media (width <= 1530px) {
  .transcriptSetAndSubmit {
    padding-left: var(--standard-gutter);
    padding-right: clamp(0px, 18% - 80px, 80px);
  }
}

.transcriptSetSelector {
  margin-left: 20px;
  min-width: 300px;
}

.vepVersion {
  grid-area: vep-version;
  justify-self: end;
  display: flex;
  align-items: baseline;
  white-space: pre;
  color: var(--color-medium-dark-grey);
  line-height: 1px;
}

.vepVersion svg {
  height: 11px;
  margin-right: 0.6ch;
  fill: var(--color-medium-dark-grey);
}

.vepVersion span {
  color: var(--color-black);
}

.jobListsNavigation {
  grid-area: job-lists-navigation;
  display: flex;
  column-gap: 12px;
  justify-self: end;
}

.newJobButton {
  grid-area: new-job-button;
  justify-self: start;
}

.resultsAvailabilityNotice {
  grid-area: results-availability;
  display: flex;
  font-weight: var(--font-weight-light);
  white-space: normal;
}
