.feature {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.leftColumn {
  text-align: right;
  font-weight: var(--font-weight-light);
  padding-right: 10px;
}

.mainColumn {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 2px;
}

.labelledElement {
  display: flex;
  column-gap: 0.7ch;
  align-items: baseline;
}

.geneName {
  display: inline-flex;
  align-items: baseline;
  column-gap: 10px;
}

.smallLight {
  font-size: 12px;
  font-weight: var(--font-weight-light);
}

.fullLocation {
  display: inline-flex;
  align-items: baseline;
  column-gap: 10px;
}