.container {
  min-height: 40px;
}

.grid {
  display: grid;
  /* grid columns are the same across activity viewer app */
  grid-template-columns: [left] 150px [middle] 1fr [right] 150px;
  padding: 16px 0;
}

.leftColumn {
  text-align: right;
  font-weight: var(--font-weight-light);
  padding-right: 10px;
}

.mainColumn {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 2px;
}

.geneName {
  display: inline-flex;
  align-items: baseline;
  column-gap: 10px;
}

.geneNamePrimary {
  font-weight: var(--font-weight-bold);
}

.geneBiotype {
  display: inline-flex;
  align-items: baseline;
  column-gap: 10px;
}

.geneFullName {
  display: inline-flex;
  align-items: baseline;
  column-gap: 10px;
}

.smallLight {
  font-size: 11px;
  font-weight: var(--font-weight-light);
}

.fullLocation {
  display: inline-flex;
  align-items: baseline;
  column-gap: 10px;
}