.multiselectTable {
  table-layout: fixed;
  td {
    white-space: nowrap;
    padding: 5px 5px 5px 0;
    min-width: 200px;
  }
}

.addIconHolder {
  height: 21px;
  width: 21px;
  margin-left: -5px;
}

.removeIconHolder {
  height: 18px;
  width: 18px;
  margin-left: -3px;
}

.selectBox {
  width: 150px;
}
