.browserBar {
  display: grid;
  grid-template-columns: [browser-reset] auto [feature-summary] 1fr [nav-buttons] auto [location-indicator] auto;
  column-gap: 20px;
  width: 100%;
  align-items: center;
  position: relative;
  padding-left: 18px;
}

.featureSummaryStrip {
  justify-self: start;
  max-width: 100%;
}

.browserLocationIndicator {
  grid-column: location-indicator;
}
