.table {
  --table-background: var(--color-light-grey);
  --selection-column-width: 104px;
}

.table th {
  white-space: nowrap;
}

/* the first column contains row selectors */
.table th:nth-child(1),
.table td:nth-child(1) {
  --table-cell-padding-left: 0;
  --table-cell-padding-right: 0;
  box-sizing: border-box;
  width: var(--selection-column-width);
  min-width: var(--selection-column-width);
}

.table th:nth-child(1) {
  --table-column-head-padding-right: 0;
  --table-column-head-padding-left: 0;
}

.table td:nth-child(1) {
  text-align: center;
}

.selectionColumnHeader {
  --_checkbox-width: var(--checkbox-side-size, 13px);
  --_checkbox-half-width: 6.5px;
  --_selection-column-gap: 8px;
  display: grid;
  grid-template-columns:
    calc(50% - var(--_selection-column-gap) - var(--_checkbox-half-width))
    var(--_checkbox-width);
  align-items: center;
  width: 100%;
  column-gap: var(--_selection-column-gap);
}

.selectionColumnHeader span {
  justify-self: end;
}

/* the second column contains just the home icon; no need for a regular wide padding */
.table th:nth-child(2),
.table td:nth-child(2) {
  --table-column-head-padding-right: 10px;
  --table-column-head-padding-left: 10px;
  --table-cell-padding-left: 0;
  --table-cell-padding-right: 0;
}

/* the last column contains only a narrow toggle; no need for a regular wide padding */
.table th:nth-child(10),
.table td:nth-child(10) {
  --table-column-head-padding-right: 10px;
  --table-column-head-padding-left: 10px;
  --table-cell-padding-left: 0;
  --table-cell-padding-right: 0;
  position: sticky;
  right: 0;
  background-color: var(--color-light-grey);
}

.alignCenter {
  text-align: center;
}

.selectionColumnCell input {
  display: block;
  margin: 0 auto;
}

.speciesHomeLink {
  display: inline-flex;
}

.speciesHomeIcon {
  fill: white;
  background-color: var(--color-blue);
  width: 20px;
  aspect-ratio: 1;
  padding: 2px;
  font-size: 0; /* to remove the empty vertical space around the home icon and better center it vertically */
}
