.table {
  --table-background: var(--color-light-grey);
  --selection-column-width: 104px;
}

.table th {
  white-space: nowrap;
}

/* the first column contains row selectors */
.table th:nth-child(1),
.table td:nth-child(1) {
  --table-column-head-padding-right: 20px;
  --table-cell-padding-right: 20px;
}

.tableCellCheckboxWrapper {
  display: flex;
  align-items: center;
}

/* the second column contains just the home icon; no need for a regular wide padding */
.table th:nth-child(2),
.table td:nth-child(2) {
  --table-column-head-padding-right: 10px;
  --table-column-head-padding-left: 10px;
  --table-cell-padding-left: 0;
  --table-cell-padding-right: 0;
}

/* the last column contains only a narrow toggle; no need for a regular wide padding */
.table th:nth-child(10),
.table td:nth-child(10) {
  --table-column-head-padding-right: 10px;
  --table-column-head-padding-left: 10px;
  --table-cell-padding-left: 0;
  --table-cell-padding-right: 0;
  position: sticky;
  right: 0;
  background-color: var(--color-light-grey);
}

.alignCenter {
  text-align: center;
}

.speciesHomeLink {
  display: inline-flex;
}

.speciesHomeIcon {
  fill: white;
  background-color: var(--color-blue);
  width: 20px;
  aspect-ratio: 1;
  padding: 2px;
  font-size: 0; /* to remove the empty vertical space around the home icon and better center it vertically */
}
