@import 'src/styles/common';

.launchbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
  padding: 0 $standard-gutter;
  height: 60px;
  align-items: center;

  @media screen and (max-width: 700px) {
    overflow-x: auto;
  }
}

.categoriesWrapper {
  display: flex;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.categories {
  display: flex;
  flex: 0 0 auto;
}

.launchbarButton {
  display: inline-block;
  height: 32px;
  width: 32px;

  button {
    width: 32px;
    height: 32px;
  }
}

.category {
  display: flex;
  column-gap: 20px;
  padding: 0 $standard-gutter;

  &:first-child {
    padding-left: 0px;

    .launchbarButton {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &:not(:last-child) {
    border-right: 1px solid $grey;
  }
}

.launchbarButtonImage {
  background-color: $blue;

  svg {
    fill: $white;
  }
}

.launchbarButtonSelectedImage {
  background-color: $black;

  svg {
    fill: $white;
  }
}

.launchbarButtonDisabledImage {
  background-color: $grey;

  svg {
    fill: $white;
  }

  button {
    cursor: default;
  }
}

.aboutEnsembl {
  display: flex;
  align-items: center;
  color: $blue;
}

.logotype {
  height: 10px;
  fill: $blue;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.toolsIconWrapper {
  position: relative;
}

.notification {
  border-radius: 10px;
  height: var(--launchbar-notification-size, 18px);
  width: var(--launchbar-notification-size, 18px);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);

  &Red {
    background-color: $red;
  }

  &Green {
    background-color: $green;
  }
}
