/* Common legend styles */

.legendSection {
  margin-top: 32px;
}

.legendSectionHead {
  font-weight: var(--font-weight-light);
  border-bottom: 1px solid var(--color-dark-grey);
  margin-bottom: 8px;
}