
.browserImageWrapper {
  height: 100%;
  position: relative;
}

.browserStage {
  height: 100%;
  width: 100%;
}

.loaderWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
