@import 'src/styles/common';

.overviewContainer {
  font-size: 13px;
}

.externalRefContainer {
  margin-top: 6px;
}

.externalRefLink {
  font-size: 12px;
}

.sectionHead {
  color: $black;
  font-size: 12px;
  font-weight: $light;
  border-bottom: 1px solid $grey;
  margin-bottom: 15px;
  position: relative;
  margin-top: 20px;
}

.sectionContent {
  margin-left: 15px;
}

.geneSymbol {
  font-weight: $bold;
  margin-right: 10px;
}

.accordionContainer {
  width: 100%;

  .entityViewerAccordion {
    border: none;
  }

  .entityViewerAccordionHeader {
    background-color: $light-grey;
    border-radius: 5px;
  }

  .entityViewerAccordionButton {
    color: $blue;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;

    &:before,
    &:after {
      margin-top: -3px;
    }

    &Disabled {
      color: $grey;
    }
  }

  .entityViewerAccordionItem:not(:first-child) {
    border-color: transparent;
  }

  .entityViewerAccordionItemContent {
    background-color: transparent;
    border: none;
    padding: 15px;
  }
}

.findAGene {
  color: $blue;
  cursor: pointer;
  margin: 30px 0 20px 0;
  width: 95px;

  svg {
    fill: $blue;
    width: 13px;
    margin-left: 12px;
    margin-bottom: -2px;
  }
}
