@import 'src/styles/common';

.speciesSearchMatch {
  color: $black;
  padding: 2px 24px;
  margin: 0 -23px;
  cursor: pointer;

  &:hover {
    background-color: $ice-blue;
  }
}

.matched {
  font-weight: $dark;
}

.assemblyName {
  font-size: 10px;

  &:not(:first-of-type) {
    margin-left: 1rem;
  }
}

.scientificName {
  font-style: italic;
  font-weight: $light;

  &:not(:first-of-type) {
    margin-left: 1rem;
  }
}
