.helpText {
  font-weight: var(--font-weight-light);
  background-color: var(--color-white);
  padding: 0 14px 14px;
}

.navigateSection {
  background-color: var(--color-light-grey);
  padding: 14px;
}

.inputField {
  margin-top: 10px;
  font-weight: var(--font-weight-light);
}

.inputField label > span {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  width: 32px;
}

.segmentedInput {
  --flat-input-width: 140px;
  margin-top: 20px;
}

.singleInput {
  --flat-input-width: 216px;
  margin-top: 30px;
}

.errorMessage {
  color: var(--color-red);
  margin: 20px 0 0 42px;
}

.formSubmit {
  margin-top: 30px;
  text-align: right;
}
