@import 'src/styles/common';

.browserNavBarControls {
  margin: 15px 0 0 40px;

  .navButtonWrapper {
    display: inline-block;
    margin-right: 35px;
  }
}

.inputGroup {
  margin-top: 10px;
  height: 30px;
  font-weight: $light;

  label {
    & > span {
      display: inline-block;
      margin-right: 10px;
      text-align: right;
      width: 32px;
    }
  }

  input {
    border: 1px solid $light-grey;
    height: 30px;
    padding: 2px 6px;
  }
}

.coordInputs {
  margin-top: 20px;

  input {
    width: 140px;
  }
}

.regionInput {
  margin-top: 30px;

  input {
    width: 230px;
  }
}

.moveLeftButton,
.moveRightButton {
  height: 22px;
  width: 22px;
}

.zoomInButton,
.zoomOutButton,
.browserReset {
  height: 16px;
  width: 16px;
}

.formButtons {
  margin-top: 30px;
  width: 272px; // TODO: find a better way to position the buttons rather than relying on the width
  text-align: right;

  .cancel {
    margin-right: 20px;
  }
}

.clickableText {
  color: $light-blue;
  cursor: pointer;
}

.browserReset {
  height: 16px;
  width: 16px;
}
