@import 'src/styles/common';

.navigateAccordion {
  border: none;
}
.expandableSection + .expandableSection {
  border-top: none;
}

.helpText {
  font-weight: $light;
  background-color: $white;
  padding: 0 14px 14px 14px;
}
.navigateAccordionItem {
  border: 1px solid $medium-light-grey;
}
.navigateAccordionItem + .navigateAccordionItem {
  border-top: none;
}

.navigateAccordionItemButton {
  padding: 14px;
  color: $blue;
}

.navigateSection {
  background-color: $light-grey;
  padding: 14px;
}

.inputField {
  margin-top: 10px;
  font-weight: $light;

  label {
    & > span {
      display: inline-block;
      margin-right: 10px;
      text-align: right;
      width: 32px;
    }
  }
}

.segmentedInput {
  margin-top: 20px;
  --flat-input-width: 140px;
}

.segmentedInputDisabled {
  --simple-select-border: 1px solid #{$grey};
  --simple-select-arrowhead-color: #{$grey};
  --select-background-color: #{$light-grey};
}

.singleInput {
  margin-top: 30px;
  --flat-input-width: 216px;
}

.errorMessage {
  color: $red;
  margin: 20px 0 0 42px;
}

.formButtons {
  margin-top: 30px;
  text-align: right;

  .cancel {
    margin-right: 20px;
  }
}

.clickableText {
  color: $light-blue;
  cursor: pointer;
}
