@import 'src/styles/common';

.browserNavBarControls {
  margin: 15px 0 0 40px;
}

.inputGroup {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  height: 30px;
  font-weight: $light;

  span {
    align-items: flex-end;
    margin-right: 10px;
    text-align: right;
  }

  input {
    border: 1px solid $light-grey;
    height: 30px;
    padding: 2px 6px;
  }
}

.coordInputs {
  margin-top: 20px;
  width: 180px;

  input {
    width: 140px;
  }
}

.regionInput {
  margin-top: 30px;
  width: 271px;

  input {
    width: 230px;
  }
}

.moveLeftIcon,
.moveRightIcon {
  height: 22px;
  width: 22px;
}

.zoomInIcon,
.zoomOutIcon,
.browserReset {
  height: 16px;
  width: 16px;
}

.formButtons {
  margin: 30px 0;
  text-align: right;
  width: 271px;

  .cancel {
    margin-right: 20px;
  }
}

.clickableText {
  color: $light-blue;
  cursor: pointer;
}

.browserReset {
  height: 16px;
  width: 16px;
}
