.container {
  height: 100%;
  display: grid;
  align-items: start;
  grid-template-rows: auto 1fr;
}

.mainContentContainer {
  container-name: main-content-container;
  height: 100%;
  overflow: auto;
  container-type: size;
}
