@import 'src/styles/common';

.pasteText {
  color: $ens-blue;
  cursor: pointer;
}

.uploadText {
  color: $ens-grey;
}

.removeIconHolder {
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 2px;
  margin-top: 6px;
}

.inputWrapper {
  width: calc(100% - 75px);
  float: left;
}

.fields {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.textInput {
  height: 30px;
}
