@import 'src/styles/common';

.pasteText,
.uploadText {
  color: $blue;
  cursor: pointer;
}

.fileUploadWrapper {
  float: left;
}

.removeIconHolder {
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 2px;
  margin-top: 8px;
}

.fields {
  width: calc(100% - 75px);
  float: left;
}

.textInput {
  height: 36px;
  padding-left: 15px;
  border: none;
}
