.variantColor {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  top: 1px;
}

.color1 {
  background-color: var(--color-dark-pink);
}

.color2 {
  background-color: var(--color-dark-yellow);
}

.color3 {
  background-color: var(--color-lime);
}

.color4 {
  background-color: var(--color-teal);
}

.color5 {
  background-color: var(--color-duckegg-blue);
}
