@import 'src/styles/common';

.chevron {
  fill: $blue;
  height: 8px;
}

.chevron_animated {
  transition: transform 0.3s ease-in-out;
}

.chevron_up {
  transform: rotate(180deg);
}

.chevron_left {
  transform: rotate(90deg);
}

.chevron_right {
  transform: rotate(-90deg);
}
