@import 'src/styles/common';

$left-padding: 15px;

.section {
  padding-left: $left-padding;
}

.sectionHead {
  color: $dark-grey;
  font-size: 12px;
  font-weight: $light;
  border-bottom: 1px solid $grey;
  margin-bottom: 15px;
  position: relative;
  margin-top: 20px;
}

.fieldsGroup {
  display: flex;
  flex-direction: column;
}

.fieldsGroup:not(:empty) {
  margin-bottom: 16px;
}

.field {
  display: grid;
  grid-template-columns: [label] max-content [value] 1fr;
  column-gap: 10px;
}

.field .label {
  grid-column: label;
  font-weight: $light;
}

.commonName {
  font-weight: $bold;
  margin-right: 10px;
}

/* For species that only have a scientific name */
.scientificName {
  font-style: italic;
  font-weight: $bold;
}

.commonName + .scientificName {
  font-weight: $light;
}

.reference {
  font-style: italic;
}

.assemblyName {
  font-weight: $bold;
}

.assemblyLevel {
  font-weight: $bold;
}
