@import 'src/styles/common';

.header {
  height: 30px;
  margin-top: 10px;
  border-bottom: 2px solid $blue;
  z-index: 1;

  .headerCell {
    font-weight: $light;
    user-select: none;

    &Sortable {
      cursor: pointer;
    }
  }

  .headerCellContent {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    padding-left: 5px;
  }
}

.questionButton {
  margin-left: 15px;
  height: 14px;
  width: 14px;
  cursor: default;
}

.sort {
  display: inline-block;
  position: relative;
}

.sort::before {
  content: '';
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-25%);
  width: 0.8em;
  height: 0.5em;
  background-color: $blue;
  cursor: pointer;
  clip-path: polygon(
    100% 0%,
    0 0%,
    50% 100%
  ); // idea from https://moderncss.dev/custom-select-styles-with-pure-css
}

.sortArrow {
  margin-right: 0.8em;
  height: 8px;
  width: 8px;

  fill: $grey;

  &Active {
    fill: $blue;
  }
}
