.home {
  display: grid;
  grid-template-rows: minmax(650px, auto) 85px;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  background-image: linear-gradient(var(--color-black), var(--color-blue));
  padding-top: 40px;
}

.mainTop {
  position: relative;
  margin-bottom: -30px;
  z-index: 1;
}

.mainTopMiddle {
  display: grid;
  grid-template-rows: auto 110px auto;
  justify-content: center;
}

.mainTopMiddle .logotype {
  height: 36px;
  fill: var(--color-white);
  justify-self: center;
}

.mainTopMiddle .text {
  text-align: center;
  font-size: 18px;
  font-weight: var(--font-weight-light);
  color: var(--color-white);
  margin-top: 15px;
}

.appList {
  display: grid;
  grid-template-columns: repeat(3, 270px);
}

.appListItem {
  display: grid;
  grid-template-rows: 56px auto;
  justify-content: center;
}

.appListItem .button {
  display: block;
  position: relative;
  width: 221px;
  height: 40px;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 6px;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.appListItem .button span {
  margin-left: -20px;
}

.appIconWrapper {
  font-size: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.appListItem .bottomText {
  font-size: 14px;
  color: var(--color-white);
  padding: 10px;
  width: 190px;
  text-align: center;
  margin-left: 20px;
}

.homeTopRight {
  position: absolute;
  top: 2px;
  right: var(--standard-gutter);
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
}

.helpLabel {
  color: var(--color-blue);
  font-weight: var(--font-weight-bold);
}

.homeTopRight .text {
  font-weight: var(--font-weight-bold);
  align-self: center;
}

.helpIcon {
  width: 25px;
  height: 22px;
  border-radius: 5px;
  fill: var(--color-white);
  background-color: var(--color-blue);
}

.conversationIcon {
  width: 40px;
  margin-left: 20px;
  height: 25px;
}

.speciesContainer {
  overflow-x: hidden;
  position: relative;
}

.speciesStrip {
  max-width: none;
  height: 100%;
  position: absolute;
  bottom: 0;
  transform: translateX(calc(-1 * (100% - 100vw) / 2));
}

.platform {
  position: absolute;
  bottom: 0;
  background-color: var(--color-dark-grey);
  background-image: linear-gradient(var(--color-dark-grey), var(--color-black));
  height: 9%;
  width: 100%;
}

@media (orientation: portrait) {
  .speciesStrip {
    max-height: 60%;
    transform: translateX(calc(-1 * (100% - 100vw) / 2));
  }

  .platform {
    height: 6%;
  }
}

.home footer {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.5rem;
  padding-left: 60px;
  padding-right: 60px;
}

.footerLeft {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}

.footerLeft .logotype {
  width: 92px;
  height: 34px;
  margin-right: 10px;
  fill: var(--color-dark-grey);
}

.footerLeft .ebiLogo {
  margin-right: 20px;
  width: 110px;
  height: 34px;
}

.footerLeft .text {
  font-size: 15px;
  font-weight: var(--font-weight-light);
  color: var(--color-dark-grey);
  margin-right: 10px;
}

.footerRight {
  grid-column: 2/2;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footerRight .gbcLogo {
  height: 40px;
  margin-left: clamp(30px, 3vw, 90px);
}

.footerRight .elixirLogo {
  width: 71px;
  height: 52px;
  margin-left: 40px;
}

.socialMediaLinks {
  margin-right: 12px;
}

.toolsList {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  position: relative;
}

.toolsListItem {
  display: flex;
  align-items: center;
  position: relative;
}

.toolsListItemLabel {
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  position: absolute;
  right: 100%;
  margin-right: 12px;
}

.toolsButton {
  width: 36px;
  height: 36px;
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}
