.main {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding-left: var(--global-padding-left);
}

/* FIXME: review grid areas */
.topSection {
  display: grid;
  grid-template-areas:
    "search-field ."
    "results-summary .";
  grid-template-columns: max-content max-content;
  column-gap: 80px;
  row-gap: 32px;
}

.searchFieldWrapper {
  grid-area: search-field;
}

.resultsSummaryWrapper {
  grid-area: results-summary;
}

.loader {
  margin-top: 40px;
  margin-left: 60px;
}

.containerForTableAndControls {
  height: 100%;
  width: max-content;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 12px;
  overflow: hidden;
}

.resultsControls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--standard-gutter);
}

.tableContainer {
  height: 100%;
  width: max-content;
  max-width: calc(100vw - var(--global-padding-left) - var(--standard-gutter));
  overflow: auto;
  padding-bottom: var(--global-padding-bottom);
}
