@import 'src/styles/common';

.checkboxGridContainer {
  width: 100%;
  display: flex;
  padding: 20px;
  &.collapsed {
    display: none;
  }
}

.checkboxGridHeader {
  color: $grey;
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
  height: 45px;
}

.checkboxGridHeader + .checkboxGridContainer {
  padding-top: 5px;
}

.label {
  color: $grey;
}

.checkboxContainer {
  margin-bottom: 5px;
}

.checkbox {
  height: 14px;
  width: 14px;
}

.collapseButtonWrapper {
  position: relative;
  width: 20px;
  height: 14px;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
}

.collapseButton:after,
.collapseButton:before {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  width: 10px;
  transition: transform 0.2s linear, top 0.2s linear;
  background-color: $blue;
}

.collapseButton::before {
  right: 0px;
  top: 12px;
  transform: rotate(-45deg);
}

.collapseButton::after {
  right: 6px;
  top: 12px;
  transform: rotate(45deg);
}

.collapseButton.open::before {
  top: 7px;
  transform: rotate(45deg);
}

.collapseButton.open:after {
  top: 7px;
  transform: rotate(-45deg);
}
