@import 'src/styles/common';

.breadcrumbs {
  color: $black;
  font-weight: $light;

  .breadcrumb{
    margin-right: 15px;
  }

  .breadcrumb::after { 
    content: ">";
    margin-left: 7px;
  }

  .breadcrumb:last-child{
    font-weight: $normal;
  }

  .breadcrumb:last-child::after{
    content: none;
  }
}
