@import 'src/styles/common';

.wrapper {
  padding-right: 16px;
  padding-left: 50px;
  margin-top: -15px;
  max-height: calc(100vh - 190px);
  overflow-y: auto;
  margin-right: 4px;
  margin-bottom: 20px;
}

.resultCard {
  min-height: 75px;
  border: 1px solid $ens-grey;
  padding: 15px 5px;
  background: $ens-white;
  margin-bottom: 5px;
  position: relative;
  display: block;

  .resultLine {
    width: 100%;
    position: relative;
    .lineHeader {
      text-align: right;
      color: $ens-dark-grey;
      width: 25%;
      max-width: 200px;
      display: inline-block;
    }

    .lineValue {
      color: $ens-black;
      width: 75%;
      display: inline-block;
      padding-left: 5px;
    }
  }
}

.loaderWrapper {
  width: 100%;
  padding: 10px;
  text-align: center;
  position: absolute;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  margin-top: -15px;
  margin-left: -5px;

  div {
    top: 50%;
    position: absolute;
    margin-top: -20px;
  }
}
