@import 'src/styles/common';

.siteMessage {
  margin-left: 100px;
  padding-top: 2%;

  h4 {
    color: $grey;
    font-size: 13px;
    font-weight: $normal;
    margin-bottom: 0.8em;
  }

  p {
    font-size: 13px;
    margin: 0;
    line-height: 1.5;
  }

  .convoMessage {
    margin-top: 1em;
  }
}
