.table {
  --table-background: var(--color-light-grey);
}

.table thead {
  white-space: nowrap;
}

/* heading of the column of checkboxes */
.table th:first-of-type {
  --table-column-head-padding-left: 0;
}

/* the column of checkboxes */
.table td:first-of-type {
  --table-cell-padding-left: 0;
  text-align: center;
}

.assemblyAccessionId {
  /* --assembly-accession-table-font-weight: var(--font-weight-normal); */
}

.showMore {
  color: var(--color-blue);
}

.referenceGenome {
  font-style: italic;
}

.disabled {
  --dot-solid-color: var(--color-medium-light-grey);
  color: var(--color-medium-dark-grey);
}

.centered {
  text-align: center;
}
