@import 'src/styles/common';

.table {
  --table-background: var(--color-light-grey);
}

.table thead {
  white-space: nowrap;
}

// heading of the column of checkboxes
.table th:first-of-type {
  --table-column-head-padding-left: 0;
}

// the column of checkboxes
.table td:first-of-type {
  --table-cell-padding-left: 0;
  text-align: center;
}

.assemblyName {
  font-weight: var(--font-weight-light);
}

.showMore {
  color: var(--color-blue);
}

.referenceGenome {
  font-style: italic;
}

.disabled {
  color: var(--color-medium-dark-grey);
  --dot-solid-color: var(--color-medium-light-grey);
}

.centered {
  text-align: center;
}
