@import 'src/styles/common';

.submissionsContainer {
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr);
  height: 100%;
}

.container {
  padding: var(--blast-page-standard-padding);
  overflow: auto;
  height: 100%;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  max-width: 1770px; // same as the width of a sequence box (see ListedBlastSubmission component); does it want to be a constant?
  padding: 1rem 0 2rem;
}
