/*
 * The purpose of this container is to make the main area of the page scrollable.
 * The scrollbar should be at the right edge of the page; therefore, this container has a default (100%) width.
 */
.outerContainer {
  height: 100%;
  overflow-y: auto;
}

/*
 * The purpose of this container is to set a max width to the form.
 */
.container {
  margin-top: 22px;
  margin-left: var(--double-standard-gutter);
  margin-bottom: var(--global-padding-bottom);
  max-width: 1160px;
}

/*
*  THE TOPMOST AREA, ABOVE OTHER FORM SECTIONS
*/
.topmostAreaGrid {
  --padding-side: 40px;
  display: grid;
  grid-template-columns: [submission-name-field] 400px [form-reset] 1fr;
  align-items: end;
  padding-left: var(--padding-side);
  padding-right: var(--padding-side);
  margin-bottom: 20px;
}

.submissionName {
  grid-column: submission-name-field;
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-weight: var(--font-weight-light);
  font-size: 11px;
  white-space: nowrap;
}

.resetForm {
  grid-column: form-reset;
  justify-self: end;
}


/*
*  TOP SECTIONS OF THE FORM
*/

/* Grid to use to display the regular content of the section, i.e. not the expanded content */
.topFormSectionRegularGrid {
  --column-gap: 20px;
  --padding-side: 40px;
  display: grid;
  grid-template-columns:
    [section-name] calc(152px - var(--column-gap))
    [section-main-content] 1fr
    [section-toggle] auto;
  column-gap: var(--column-gap);
  align-items: start;
  min-height: var(--form-section-min-height);
  align-items: center;
}

.topFormSectionName {
  grid-column: section-name;
  font-weight: var(--font-weight-light);
  padding-left: var(--padding-side);
}

.topFormSectionMain {
  grid-column: section-main-content;
}

.topFormSectionToggle {
  grid-column: section-toggle;
  padding-right: var(--padding-side);
  display: flex;
}
