@import 'src/styles/common';

.label {
  color: $white;
  white-space: nowrap;
  font-size: 12px;
}

.viewInAppLinkButtons {
  display: flex;
  align-items: center;
}

.viewInAppLink {
  margin-left: 20px;

  &:first-of-type {
    margin-left: 15px;
  }

  svg {
    width: 25px;
    height: 25px;
    fill: $white;
    background-color: $blue;
  }
}
