@import 'src/styles/common';

.viewInApp {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.label {
  font-weight: $light;
  font-size: 12px;
}

.viewInAppLight .label {
  color: $black;
}

.viewInAppDark .label {
  color: $white;
}

.viewInAppLink {
  margin-left: 20px;
  --app-icon-size: 25px;
  --app-icon-bg-color: #{$blue};

  &:first-of-type {
    margin-left: 15px;
  }

  svg {
    fill: $white;
  }
}
