@import 'src/styles/common';

.standardAppLayout {
  height: 100%;
  min-height: 550px; // based on the current interface of genome browser
  overflow: hidden;

  --sidebar-content-width: 340px;
  --sidebar-toolstrip-width: 50px;
  --topbar-height: 38px;
  --drawer-window-width: 45px;
}

.topbar {
  height: var(--topbar-height);
  background: $light-grey;
  box-shadow: 0 2px 3px $grey;
  position: relative;
  width: 100%;
  z-index: 10;

  &_withSidebarNavigation {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr var(--sidebar-content-width);
    grid-column-gap: var(--sidebar-toolstrip-width);
  }

  &_withoutSidebarNavigation {
    display: flex;
    align-items: center;

    & > div {
      padding-right: 1em;
    }
  }
}

.mainWrapper {
  height: calc(100% - var(--topbar-height));
  position: relative;
}

.main {
  height: 100%;
  overflow: auto;

  &Default {
    margin-right: calc(
      var(--sidebar-content-width) + var(--sidebar-toolstrip-width)
    );
  }

  &FullWidth {
    margin-right: var(--sidebar-toolstrip-width);
  }
}

.sidebarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--sidebar-toolstrip-width));
  height: 100%;
  display: flex;
  z-index: 5;
  transition: transform 0.3s ease-in-out;

  &Open {
    transform: translateX(calc(100% - var(--sidebar-content-width)));
  }

  &DrawerOpen {
    transform: translateX(var(--drawer-window-width));
  }

  &Closed {
    transform: translateX(100%);
  }
}

.instantaneous {
  transition: none;
}

.sidebar {
  flex: 0 0 auto;
  height: 100%;
  width: var(--sidebar-content-width);
  border-left: 1px solid $grey;
  background-color: white;
  overflow: auto;
  scrollbar-gutter: stable;
}

.sidebarToolstrip {
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: var(--sidebar-toolstrip-width);
  height: 100%;
  background: $light-grey;
  border-left: 1px solid $grey;
}

.sidebarToolstripContent {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.sidebarModeToggle {
  margin-bottom: 55px;
}

.sidebarTabs {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

.sidebarIcon {
  width: 26px;
  height: 26px;
  padding: 4px;
  border-radius: 2px;
  margin-bottom: 30px;
}

.navigateIcon {
  width: 26px;
  height: 26px;
  padding: 2px;
}

.drawer {
  height: 100%;
  flex-grow: 1;
  position: relative;
  padding: 15px 30px;
  border-left: solid $medium-light-grey 1px;
  background-color: white;
  width: calc(
    100% - var(--drawer-window-width) - var(--sidebar-toolstrip-width) -
      var(--sidebar-content-width)
  );
}

.drawerWindow {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  width: var(--drawer-window-width);
  height: 100%;
}

.drawerClose {
  position: absolute;
  right: 14px;
  top: 15px;
}
