@import 'src/styles/common';

$toggleButtonHeight: 14px;

.main {
  position: relative;
}

.toggleButton {
  display: inline-block;
  font-size: 0;
  user-select: none;
  cursor: pointer;
  svg {
    fill: $blue;
    height: $toggleButtonHeight;
  }
}
