@import 'src/styles/common';
@import 'src/shared/components/help-article/helpArticleConstants';

$article-right-padding: 1.5rem;

.appBar {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 44px;
}

.topMenuBar {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 44px;
  background: $light-grey;
  box-shadow: 0 2px 3px $grey;
}

.grid {
  height: 100%;
  padding-left: 80px;
  padding-top: 44px;
}

.aside {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.asideTitle {
  font-weight: $light;
  margin-bottom: 1rem;
}
