@import 'src/styles/common';

.wrapper {
  padding: 40px;
}

.active {
  border: none;
  background-color: $dark-grey;
  color: $white;
}

.imageButtonWrapper {
  margin: 40px;
  height: 100px;
  width: 100px;
}

.badge {
  background-color: $red;
}
