@import 'src/styles/common';

.drawer {
  height: 100%;
  overflow: auto;
  font-size: 13px;
}

.drawerView {	
  overflow-y: auto;	
  margin-top: 10px;	

  h2 {	
    display: flex;	
    align-items: center;	
    justify-content: center;	
    text-align: center;	
  }	

  p {	
    margin: 0px;	
  }	

  .nextLine {	
    display: block;	
    margin-bottom: 10px;	
  }	

  .container {	
    display: grid;	
    grid-template-columns: 100px 1fr;	
    grid-column-gap: 1em;	
    grid-row-gap: 1em;	
  }	

  .label {	
    font-weight: $light;	
    text-align: right;	
  }	

  .details {	
    display: flex;	
    text-align: left;	
  }	

  .mainDetail {	
    font-weight: $bold;	
  }	

  .secondaryDetail {	
    font-weight: $light;	
    margin-left: 10px;	
  }	
}