@import 'src/styles/common';

.drawer {
  border-left: 1px solid $ens-light-grey;
  height: calc(100vh - 176px);
  width: calc(100vw - 397px);
}

.drawerView {
  margin-top: 20px;
  overflow: scroll;

  h2 {
    @include flex;
    @include flex-align(center, middle);
    text-align: center;
  }

  dd {
    width: 600px;
  }

  label {
    float: left;
    font-weight: $light;
    text-align: right;
    width: 150px;
  }

  p {
    margin: 0 0 20px 0;
  }

  .details {
    float: right;
    text-align: left;
    width: 400px;
  }

  .mainDetail {
    font-size: 16px;
    font-weight: $bold;
  }

  .secondaryDetail {
    font-weight: $light;
    margin-left: 10px;
  }
}

.closeButton {
  float: right;
  position: relative;
  right: 10px;
  top: 10px;

  img {
    height: 18px;
    width: 18px;
  }
}
