@import 'src/styles/common';

.drawer {
  height: 100%;
}

.drawerView {
  overflow-y: auto;
  margin-top: 10px;

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  p {
    margin: 0px;
  }

  .clearFix {
    float: left;
    width: 600px;
    margin-bottom: 20px;
    clear: both;
  }

  .label {
    float: left;
    font-weight: $light;
    text-align: right;
    width: 90px;
  }

  .details {
    float: right;
    text-align: left;
    width: 490px;
  }

  .mainDetail {
    font-size: 16px;
    font-weight: $bold;
    display: block;
    float: left;
    margin-top: -3px;
  }

  .secondaryDetail {
    font-weight: $light;
    margin-left: 10px;
  }
}
