@import 'src/styles/common';

.wrapper {
  padding-right: 15px;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  background-color: $white;
}
.header {
  padding: 10px 40px 10px 15px;
  color: $dark-grey;
  position: relative;
}

.title {
  width: 140px;
  font-weight: $bold;
}
.titleBadge {
  top: -2px;
}

.viewExample {
  color: $blue;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 100px;
}
.accordionItem {
  padding: 0px;
}

.permanentBlock {
  background: $light-grey;
}

.accordionExpandedTitle {
  color: $dark-grey;

  > span {
    color: $black;
    font-weight: 700;
  }
}

.resetIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 15px;
}

.defaultContent {
  padding: 20px;
}
