// Normalization rules picked from foundation-global-styles and foundation-normalize

@import 'common';

// apply a natural box layout model
html {
  box-sizing: border-box;
  font-size: $global-font-size;
}

// inherit the natural box layout from html; allow box-sizing to easily change if necessary
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent; // disable blue highlight colour that can otherwise be seen upon tapping an element with cursor: pointer in mobile browser
}

body {
  margin: 0;
  padding: 0;

  background: $body-background;

  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;
  text-size-adjust: none; // prevent automatic text size inflation on smartphones running Chromium-based browsers
  color: $body-font-color;

  @if ($body-antialiased) {
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  }
}

figure {
  margin: 0;
}

img {
  // Get rid of gap under images by making them display: inline-block; by default
  display: inline-block;
  vertical-align: middle;

  // Grid defaults to get images and embeds to work properly
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

// Make sure textarea takes on height automatically
textarea {
  height: auto;
  min-height: 50px;
  border-radius: $global-radius;
}

// Make select elements are 100% width by default
select {
  box-sizing: border-box;
  width: 100%;
  border-radius: $global-radius;
}

ul {
  // list-style-type: none;
  margin: 0;
  padding: 0;
}

// Reset <button> styles created by most browsers
button {
  // Remove the focus ring around an element when a mouse input is detected.
  &[data-whatinput='mouse'] {
    outline: 0;
  }
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: $global-radius;
  background: transparent;
  line-height: 1;
  cursor: $global-button-cursor;
}

pre {
  overflow: auto; // Prevent text overflow on pre
  font-family: monospace; // Correct the inheritance and scaling of font size in all browsers
  font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

// Change the font styles in all browsers.
// Remove the margin in Firefox and Safari.
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

b,
strong {
  font-weight: bolder; // Add the correct font weight in Chrome, Edge, and Safari
}

small {
  font-size: 80%; // // Add the correct font size in all browsers
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
