// 1. Global
// ---------

$global-font-size: 13px;
$global-lineheight: 1.5;
$black: #1b2c39;
$white: #fff;
$off-white: #fefefe;
$body-background: $off-white;
$body-font-color: $black;
$body-font-family: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-button-cursor: auto;

$standard-gutter: 30px;
$half-gutter: calc($standard-gutter / 2);
$double-standard-gutter: calc($standard-gutter * 2);
$global-padding-left: calc($standard-gutter * 4);
$global-padding-bottom: 90px;

// Colour Palette
// ---------
$soft-black: #374148;

$shadow-color: rgba(0, 0, 0, 0.4);

$blue: #0099ff; // blue on white
$light-blue: #33adff; // blue on black
$ice-blue: #e5f5ff; // text highlight
$teal: #327C89;
$duckegg-blue: #96D0C9;
$neon-blue: #8ef4f8;

$light-grey: #f1f2f4;
$medium-light-grey: #d4d9de;
$grey: #b7c0c8;
$medium-dark-grey: #9aa7b1;
$dark-grey: #6f8190;

$red: #d90000;
$dark-pink: #e685ae;
$purple: #ca81ff;

$orange: #ff9900;
$mustard: #cc9933;
$dark-yellow: #f8c041;

$green: #47d147;
$lime: #84fa3a;

$global-box-shadow: $medium-light-grey;
$form-field-shadow: inset 2px 2px 4px -2px $medium-dark-grey,
  inset -2px -2px 1px -2px $dark-grey;

/* stylelint-disable */
:export {
  black: $black;
  soft-black: $soft-black;
  blue: $blue;
  light-blue: $light-blue;
  ice-blue: $ice-blue;
  red: $red;
  orange: $orange;
  mustard: $mustard;
  dark-grey: $dark-grey;
  medium-dark-grey: $medium-dark-grey;
  grey: $grey;
  medium-light-grey: $medium-light-grey;
  light-grey: $light-grey;
  green: $green;
  white: $white;
  shadow-color: $shadow-color;
}
/* stylelint-enable */

$img-base-url: '/static/img';

// font weights

$light: 300;
$normal: 400;
$bold: 700;
$dark: 900;

// Base Typography
// ------------------

$font-family-monospace: 'IBM Plex Mono', 'Liberation Mono', Courier, monospace;
