@layer components;

/* apply a natural box layout model */
html {
  box-sizing: border-box;
  font-size: var(--body-font-size);

  --scrollbar-width: 0px;  /* this is a fallback value; it will be overwritten by javascript at startup */
}

/* inherit the natural box layout from html; allow box-sizing to easily change if necessary */
*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent; /* disable blue highlight colour that can otherwise be seen upon tapping an element with cursor: pointer in mobile browser */
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-off-white);
  font-family: var(--font-family-body);
  font-weight: normal;
  line-height: var(--body-line-height);
  text-size-adjust: none; /* prevent automatic text size inflation on smartphones running Chromium-based browsers */
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 980px; /* when mobile phones in portrait mode scale the page down to fill the screen, they usually go to 980px */
}

a {
  color: var(--color-blue);
  text-decoration: none;
}

img {
  display: inline-block; /* Get rid of gap under images by making them display: inline-block; by default */
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/* Make sure textarea takes on height automatically */
textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0;
}

/* Make select elements 100% of parent's width by default */
select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* Reset <button> styles created by most browsers */
button {
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 1;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

pre {
  overflow: auto; /* Prevent text overflow on pre */
  font-family: monospace; /* Correct the inheritance and scaling of font size in all browsers */
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers. */
}

/* Change the font styles in all browsers.
Remove the margin in Firefox and Safari. */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

dl {
  margin: 0;
}

figure {
  margin: 0;
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

small {
  font-size: 80%; /* Add the correct font size in all browsers */
}

/* Prevent `sub` and `sup` elements from affecting the line height in
all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


@media print {
  body {
    print-color-adjust: exact;
  }
}
