@import 'common';
@import 'normalize';
@import 'fonts';
@import 'scrollbars';

html,
body,
[class='ens-app'] {
  height: 100%;
  width: 100%;
  min-width: 980px; // when mobile phones in portrait mode scale the page down to fill the screen, they usually go to 980px
}

a {
  color: $blue;
  text-decoration: none;

  &.inactive {
    color: $dark-grey;
  }
}

dl {
  margin: 0;
}

button {
  cursor: pointer;

  &.disabled {
    cursor: default;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

@media print {
  body {
    print-color-adjust: exact;
  }
}
