/*

Trying to unify the appearance of scrollbars across browsers,
but especially to fight the Mac behaviour, which by default forces browsers
to show the scrollbar only when the element is being scrolled.

Notice that this will work for webkit-based browsers, but will not work in Firefox.

*/
* {
  &::-webkit-scrollbar {
    appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgb(0 0 0 / 0.5);
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar:vertical {
    width: 11px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
}
