.appIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--app-icon-size, 32px);
  width: var(--app-icon-size, 32px);
  background-color: var(--app-icon-bg-color, transparent);

  svg {
    fill: white;
  }
}

.globalSearch {
  svg {
    width: 62.5%;
    height: 62.5%;
  }
}

.genomeBrowser {
  svg {
    width: 59.375%;
    height: 59.375%;
  }
}

.speciesSelector {
  svg {
    width: 70%;
    height: 70%;
  }
}

.entityViewer {
  svg {
    width: 75%;
    height: 75%;
  }
}

.blast {
  svg {
    width: 75%;
    height: 75%;
  }
}

.customDownload {
  svg {
    width: 56.25%;
    height: 56.25;
  }
}

.help {
  svg {
    width: 70%;
    height: 70%;
  }
}
