@import 'src/styles/common';

.wrapper {
  padding: 4px;
}

.radio {
  width: 0;
  display: none;
}

.default {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid $grey;
  background-color: none;
  position: absolute;
  margin-top: 4px;
  cursor: pointer;
}

.checked {
  background-color: $white;
}

.checked:after {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: $green;
  content: '';
  position: absolute;
}

.label {
  margin-left: 30px;
  color: $black;
  cursor: pointer;
}
