@import 'src/styles/common';

.blastInputSequences {
  width: 860px;
}

.header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 52px;
  width: 860px;
  align-items: center;
  padding-left: 28px;
  padding-bottom: 12px;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: $white;
}

.headerGroup {
  display: flex;
  align-items: center;
}

.headerGroup:last-child {
  justify-self: end;
}

.headerTitle {
  font-size: 15px;
  font-weight: $bold;
}

.sequenceCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  color: $white;
  background-color: $dark-grey;
  font-weight: $bold;
  border-radius: 100%;
  font-size: 15px;
  margin: 0 0.6rem 0 0.6rem;
}

.maxSequences {
  font-weight: $light;
}

.clearAll {
  margin-right: 30px;
  color: $blue;
  cursor: pointer;
  user-select: none;
}

.blastAgainstButton {
  margin-left: 18px;
}

.inputBoxesContainer {
  // hide top border for the input boxes stacked under the top one
  & > div:not(:first-child) [class*='header'] {
    border-top: none;
  }
}

.addSequence {
  display: flex;
  align-items: center;
  margin-right: 28px;
}

.addSequenceLabel {
  font-weight: $light;
  margin-right: 14px;
}
