@import 'src/styles/common';

$border: 1px solid $grey;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
  min-height: 50px;
  border: $border;
  border-bottom: none;
}

.body {
  padding: 16px 26px;
  background-color: $light-grey;
  border: $border;
}

.textarea {
  border: $border;
  font-family: $font-family-monospace;
}

// FIXME this should be a separate component

.deleteButtonWrapper {
  margin-left: 2em;
}

.deleteButton {
  height: 20px;
  width: 20px;
  fill: $blue;
  cursor: pointer;
}
