.inputSequenceBox {
  --border: 1px solid var(--color-grey);
  --textarea-height: 102px; /* same as upload button's height */
  width: 860px;
}

.inputSequenceBoxFileOver {
  --drop-zone-bg-color: var(--color-ice-blue);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px 0 30px;
  min-height: 50px;
  border: var(--border);
  border-bottom: none;
}

.body {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  padding: 10px 65px 12px 28px;
  background-color: var(--color-light-grey);
  border: var(--border);
}

.textarea {
  font-family: var(--font-family-monospace);
  font-size: 12px;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}

.textarea:not(.textareaInvalid):focus {
  --textarea-border-color: var(--color-blue);
}

.textareaInvalid {
  --textarea-border-color: var(--color-red);
}

.deleteButtonWrapper {
  font-size: 0;
  margin-left: 2em;
}

.inputSizeToggle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 48px;
  height: 96px;
}

.alertButton {
  position: relative;
  top: 5px;
  margin-left: 20px;
}
