@import 'src/styles/common';

$border: 1px solid $grey;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  min-height: 50px;
  border: $border;
  border-bottom: none;
}

.body {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 16px 28px;
  background-color: $light-grey;
  border: $border;

  // FIXME: this is a hack
  [class*='defaultUpload'] {
    width: 112px;
    margin-left: 18px;
  }
}

.textarea {
  border: $border;
  font-family: $font-family-monospace;
  font-size: 12px;
  letter-spacing: 0.1rem;
}

.textareaCollapsed {
  height: 104px;
}

.textareaExpanded {
  min-height: 104px;
  max-height: 445px;
}

.deleteButtonWrapper {
  margin-left: 2em;
}

.inputSizeToggle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 48px;
  height: 96px;
}
