@import 'src/styles/common';

.inputBoxesContainer {
  // hide top border for the input boxes stacked under the top one
  & > div:not(:first-child) [class*='header'] {
    border-top: none;
  }
}

.addSequenceWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 12px 14px 12px;
}

.addSequence {
  display: flex;
  align-items: center;
}

.addSequenceLabel {
  font-weight: $light;
  margin-right: 14px;
}
