@import 'src/styles/common';

.checkboxGridWrapper {
  padding: 20px;
}

.orthologues {
  padding: 20px;
  input {
    width: 250px;
    height: 30px;
    border: none;
    padding-left: 15px;
  }

  input::placeholder {
    color: $medium-light-grey;
  }

  label {
    margin-right: 15px;
    color: $dark-grey;
  }

  .resultCounter {
    margin-left: 20px;
    span:first-of-type {
      font-weight: $bold;
      color: $black;
    }

    span:nth-of-type(2) {
      color: $medium-dark-grey;
    }

    span:last-of-type {
      font-size: 12px;
      padding-left: 2px;
      color: $medium-dark-grey;
    }
  }

  .bestMatchesFilter,
  .showAllFilter {
    color: $blue;
    cursor: pointer;
    margin-left: 20px;
  }

  .filterWrapper {
    margin-bottom: 20px;
  }
}

.speciesAttributesSectionTitle {
  margin: 20px 0 15px 30px;
  color: $dark-grey;
}
