@import 'src/styles/common';

.radioGroup {
  display: flex;
}

.radioGroupColumn {
  flex-direction: column;
  align-items: flex-start;
}

.radioGroupRow {
  display: flex;
}

.radioGroupItem {
  display: inline-grid;
  grid-template-columns: 38px max-content;
}

.input {
  width: 0;
  display: none;
}

.radio {
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  justify-self: center;
  margin-top: var(--radio-margin-top, 9px);
  background-color: var(--radio-background-color, #{$white});
  border: 1px solid var(--radio-border-color, #{$grey});
  height: var(--radio-diameter, 13px);
  width: var(--radio-diameter, 13px);

  &Checked {
    background-color: var(--radio-checked-background-color, #{$white});

    &:after {
      content: '';
      position: absolute;
      margin-top: 2px;
      margin-left: 2px;
      height: var(--radio-checked-diameter, 7px);
      width: var(--radio-checked-diameter, 7px);
      border-radius: 50%;
      background: $green;
    }
  }
}

.label {
  color: var(--radio-label-color, #{$black});
  font-size: var(--radio-label-font-size, 12px);
  font-weight: var(--radio-label-font-weight, #{$light});
  line-height: 30px;
  padding-right: 2px;
  word-wrap: break-word;
  user-select: none;
  cursor: pointer;
}

.themeLight {
  .label {
    font-size: var(--radio-label-font-size, 13px);
    font-weight: var(--radio-label-font-weight, #{$normal});
  }
}

.themeDark {
  .radio {
    background-color: var(--radio-background-color, transparent);
    border-color: var(--radio-border-color, #{$dark-grey});
    height: var(--radio-diameter, 12px);
    width: var(--radio-diameter, 12px);

    &Checked {
      background-color: var(--radio-checked-background-color, #{$white});

      &::after {
        height: var(--radio-checked-diameter, 6px);
        width: var(--radio-checked-diameter, 6px);
      }
    }
  }

  .label {
    color: var(--radio-label-color, #{$white});
  }
}
