@import 'src/styles/common';

// TODO: finalize styles
.speciesSearchPanel {
  background-color: $ens-light-grey;
  height: 300px;
  padding: 40px;
}

.speciesSearchPanelRow {
  display: flex;
  align-items: center;
}
