.main {
  height: 100%;
  padding: 26px var(--standard-gutter) 0
    var(--global-padding-left);
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-grey);
}

.resultsWrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding-bottom: var(--global-padding-bottom);
}

.status {
  margin: 8px 0 0;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 32px;
}

.sectionTitle {
  font-size: 14px;
}

.warning {
  margin: 0;
  color: var(--color-red);
}
