.resultsWrapper {
  overflow-y: auto;
  padding-bottom: var(--global-padding-bottom);
}

.status {
  margin: 8px 0 0;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 32px;
}

.sectionTitle {
  font-size: 14px;
}

.warning {
  margin: 0;
  color: var(--color-red);
}
