.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 30px;
}

.epigenomeLabel {
  display: flex;
  align-items: start;
  column-gap: 0.6rem;
}

.epigenomeTextLabel {
  font-size: 11px;
  font-weight: var(--font-weight-light);
  line-height: 1;
}

.epigenomeColorLabel {
  display: flex;
  column-gap: 0.3rem;
}

.coloredBlock {
  width: 6px;
  height: 25px;
}

.labelPopupContent {
  --label-popup-content-padding-left: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  padding-left: var(--label-popup-content-padding-left); /* to create hanging indent effect */
}

.labelPopupContent p {
  margin: 0;
  text-indent: calc(-1 * var(--label-popup-content-padding-left)); /* to create hanging indent effect */
  line-height: 1.2;
}

.labelPopupContent .dimensionName {
  display: inline-block;
  font-weight: var(--font-weight-light);
  margin-right: 1ch;
}