.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 30px;
}

.epigenomeLabel {
  display: flex;
  column-gap: 0.3rem;
}

.coloredBlock {
  width: 6px;
  height: 25px;
}
