.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 30px;
}

.epigenomeLabel {
  display: flex;
  align-items: start;
  column-gap: 0.6rem;
}

.epigenomeTextLabel {
  font-size: 11px;
  font-weight: var(--font-weight-light);
}

.epigenomeColorLabel {
  display: flex;
  column-gap: 0.3rem;
}

.coloredBlock {
  width: 6px;
  height: 25px;
}
