.container {
  display: flex;
  column-gap: 0.3rem;
  margin-top: 238px; /* FIXME: top offset should be calculated dynamically */
  justify-content: end;
  padding-right: 30px;
}

.column {
  display: flex;
  flex-direction: column;
}

.coloredBlock {
  width: 6px;
  height: 25px;
}
