@import 'src/styles/common';

.tabsContainer {
  display: flex;
  overflow-y: hidden;
  height: 40px;
  scrollbar-width: none;
}

.tab {
  padding: 3px 18px;
  color: $blue;
  cursor: pointer;
  margin-right: 3px;
  white-space: nowrap;
}

.disabled {
  color: $medium-dark-grey;
  cursor: default;
}

.selected {
  color: $black;
  position: relative;
  cursor: default;
}
