@import 'src/styles/common';

.primaryButton {
  background-color: $ens-green;
  color: $ens-white;
  padding: 8px 18px;
}

.primaryButtonDisabled {
  background-color: $ens-light-grey;
  color: $ens-grey;
  border: 1px solid $ens-grey;
}

.secondaryButton {
  background-color: $ens-blue;
  color: $ens-white;
}

.button {
  padding: 8px 18px;
  &:active,
  &:focus {
    outline: none;
  }
}
