@import 'src/styles/common';

.primaryButton {
  background-color: $ens-green;
  color: $ens-white;
  padding: 8px 18px;
  font-weight: $bold;
}

.primaryButtonDisabled {
  background-color: transparent;
  color: $ens-grey;
  border: 1px solid $ens-grey;
  cursor: default;
}

.secondaryButton {
  background-color: $ens-blue;
  color: $ens-white;
  font-weight: $bold;
}

.button {
  padding: 8px 18px;
  border-radius: 4px;
  &:active,
  &:focus {
    outline: none;
  }
}
