@import 'src/styles/common';

.containerSvg {
  overflow: visible;
}

.axis,
.tick {
  fill: var(--sequence-ruler-color, #{$orange});
}

.label {
  fill: var(--sequence-ruler-label-color, black);
  font-size: 10px;
  font-family: $font-family-monospace;
}
