@import 'src/styles/common';

.container {
  display: inline-grid;
  grid-template-columns:  [icon] 12px 5px [link] auto;
}

.icon {
  display: inline-block;
  fill: $orange;
  grid-column: icon;
  top: 1px;
  position: relative;
  height: 12px;
}

.link {
  display: inline-block;
  grid-column: link;
  position: relative;
  top: -2px;
}
