@import 'src/styles/common';

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border: 2px solid $ens-blue;
  border-radius: 50%;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  svg {
    width: 66%;
    height: 66%;
    fill: $ens-blue;
  }
}

.closeButtonInverted {
  background-color: $ens-blue;
  border: none;

  svg {
    width: 56%;
    height: 56%;
    fill: $ens-white;
  }
}
