@import 'src/styles/common';

.closeButton {
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid $ens-blue;
  border-radius: 50%;

  &:active,
  &:focus {
    outline: none;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66%;
    height: 66%;
    fill: $ens-blue;
  }
}

.closeButtonInverted {
  box-sizing: content-box;
  background-color: $ens-blue;
  border: none;

  svg {
    top: 50%;
    left: 50%;
    width: 56%;
    height: 56%;
    transform: translate(-50%, -50%);
    fill: $ens-white;
  }
}
