.grid {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-areas:
    "top-left image-controls-top top-right"
    "left sv-image right";
  height: 100%;
  overflow-y: auto;
  padding-top: 12px;
}

.imageControlsContainer {
  grid-area: image-controls-top;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 30px;
  padding-left: var(--double-standard-gutter);
  padding-right: var(--standard-gutter);
}

.imageContainer {
  grid-area: sv-image;
}