@import 'src/styles/common';

.browserNavBar {
  display: flex;
  font-size: 12px;
  background: $light-grey;
  padding: 16px 26px;
  position: relative;
  z-index: 2;

  form {
    display: inline-block;
  }

  label {
    font-weight: 300;
    margin-right: 5px;
  }

  input {
    padding: 3px 9px;
  }
}

.errorText {
  color: $red;
}

.semiOpaque {
  opacity: 0.4;
}
