@import 'src/styles/common';

.checkboxWithSelectWrapper {
  padding-left: 20px;
  padding-top: 10px;
}

.checkboxWithRadiosWrapper,
.checkboxWithTextfieldsWrapper {
  padding-left: 20px;
  padding-top: 10px;
}

.accordion {
  border: none;
  border-top: 2px solid $medium-light-grey;
}

.accordionButton {
  position: relative;
  display: inline-block;
  width: auto;

  &:before {
    right: -20px;
    width: 8px;
    top: 17px;
  }

  &:after {
    right: -16px;
    width: 8px;
    top: 17px;
  }

  &[aria-expanded='true']::before,
  &[aria-selected='true']::before {
    top: 21px;
  }

  &[aria-expanded='true']::after,
  &[aria-selected='true']::after {
    top: 21px;
  }
}

.checkboxGridWrapper {
  border-top: 2px solid $medium-light-grey;
}
.checkboxGridWrapper + .contentSeparator {
  border-top: 2px solid $medium-light-grey;
}
