.wrapper {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note {
  font-style: italic;
}

.controls {
  margin-top: 4em;

  input {
    margin-left: 1rem;
  }

  & > div {
    display: flex;
    align-items: center;
  }
}

.responseDurationControl {
  margin-bottom: 1rem;

  input {
    margin-right: 0.6rem;
  }
}
