@import 'src/styles/common';

.listLoader {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;

  section {
    margin-top: 45px;
  }

  div {
    background-color: $medium-light-grey;
    border-radius: 20px;
    height: 9px;
    margin-bottom: 10px;
    animation: blinking-background 1.3s linear infinite;
  }

  .listHeading {
    width: 50%;
  }

  .shortItem {
    width: 70%;
  }

  .longItem {
    width: 100%;
  }
}

@keyframes blinking-background {
  0%, 50%, 100% {
    background-color: $light-grey;
  }

  25%, 75% {
    background-color: $medium-light-grey;
  }
}