h1 {
    color: #47d147;
}

body .wy-side-nav-search {
    background: #0099ff;
}

body .wy-nav-side, body .rst-versions, body .rst-versions .rst-current-version, body .wy-menu {
    background: #2c343a;
}

body .wy-menu-vertical li.current > a {
    background: #f1f2f4;
}

body .wy-menu-vertical li.current > a {
    background: #b7c0c8;
}
