@import 'src/styles/common';

.strainSelector {
  position: absolute;
  top: 22px;
  left: 100%;
  transform: translateX(-60%);
  white-space: nowrap;
  display: inline-block;
  color: $white;
  font-size: 12px; // FIXME
  font-weight: 700;
  padding: 4px 6px;
  background-color: $blue;
  border-radius: 4px;
  box-shadow: 2px 2px 5px $grey;
  cursor: pointer;
  user-select: none;
}

.strainsList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 200px;
}

.strain {
  display: inline-block;
  color: $blue;
  cursor: pointer;
}

.strainSelected {
  color: $grey;
  cursor: default;
}
