@import 'src/content/app/species-selector/components/popular-species-button/PopularSpeciesButton';

$buttons-per-row: 14;
$popular-species-block-width: calc(
  #{$buttons-per-row} * (#{$button-width} + #{$button-gap})
);

.layout {
  padding-left: $global-padding-left;
  padding-top: $button-width; // FIXME this will have to change
}

.popularSpeciesList {
  width: 100%;
  max-width: $popular-species-block-width;
}
