@import 'src/styles/common';
@import 'src/styles/mixins';

.default {
  @include lozenge($borderRadius: 15px);
  min-width: 170px;
  position: relative;
  border: 1px solid $blue;
  color: $blue;

  &:active,
  &:focus {
    outline: none;
  }
}

.active {
  background-color: $black;
  border: 1px solid $black;
  color: $white;
}

.inactive {
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;
}

.disabled {
  background-color: transparent;
  color: $grey;
  border: 1px solid $grey;
  cursor: default;
}
