@import 'src/styles/common';

.badgedButton {
  position: relative;
  display: inline-block;
}

.badgeDefault {
  position: absolute;
  background-color: $ens-green;
  height: 26px;
  min-width: 26px;
  top: -13px;
  right: -13px;
  padding: 2px 0 0 0;
  color: $ens-white;
  border-radius: 13px;
  text-align: center;
  cursor: pointer;
}
