.browserImagePlus {
  height: 100%;
  position: relative;
}

.browserStage {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;

  &.shorter {
    height: calc(100% - 56px);
  }
}

.browserInnerWrapper {
  overflow: hidden;
}

.loaderWrapper {
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  position: absolute;
}
