@import 'src/styles/common';

.browserAppBar {
  font-size: 12px;
  padding: 8px 20px;
  min-height: 80px;

  .appBarTop {
    margin-bottom: 12px;
  }

  .appBarBottom {
    display: grid;
    margin-left: 2em;
    max-width: 100%;
    grid-template-columns: minmax(80%, 1fr) minmax(100px, auto);
  }
}

.helpLink {
  flex: 0 1 auto;
  position: relative;
  top: 5px;
  margin-left: 2em;

  a {
    color: $black;
    font-size: 12px;
    font-weight: $light;
  }

  img {
    height: 14px;
    margin-left: 5px;
    width: 14px;
  }
}
