@import 'src/styles/common';

.popupPanel {
  display: flex;
  background-color: $light-grey;
  position: absolute;
  z-index: 1;
  top: 45px;
  box-shadow: 2px 3px 6px $global-box-shadow;
  overflow: scroll;
}
