@import 'src/styles/common';

.speciesPage {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.topbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  line-height: 1;
}

.topbarLeft {
  display: flex;
  align-items: center;
}

.close {
  margin-top: 2px;
}

.pageTitle {
  margin-right: 1rem;
}

.dataForSpecies {
  color: $medium-dark-grey;
}
