@import 'src/styles/common';

.browserGenomeSelector {
  img {
    height: 18px;
    width: 18px;
  }

  input {
    padding: 1px 6px;
    width: 200px;
  }

  button {
    margin-left: 10px;
  }
}

.chrCode {
  appearance: none;
  background: $ens-blue;
  border: none;
  border-radius: 0;
  color: $ens-white;
  display: inline-block;
  font-weight: $bold;
  margin: 0 5px;
  padding: 1px 4px;
  text-align: center;
  text-align-last: center;
  width: auto;
}

.chrRegion {
  color: $ens-blue;
  display: inline-block;
}

.browserGenomeSelectorDisabled {
  .chrCode {
    background: $ens-dark-grey;
  }

  .chrRegion {
    color: $ens-dark-grey;
  }
}
