@import 'src/styles/common';

.browserGenomeSelector {
  img {
    height: 18px;
    width: 18px;
  }

  select {
    appearance: none;
    background: $ens-blue;
    border: none;
    border-radius: 0;
    color: $ens-white;
    display: inline-block;
    font-weight: $bold;
    margin: 0 10px;
    padding: 3px 2px;
    text-align: center;
    text-align-last: center;
    width: auto;
  }

  input {
    padding: 2px 6px;
    width: 90px;
  }

  button {
    margin-left: 10px;
  }
}

.chrRegion {
  color: $ens-blue;
  display: inline-block;
}
