@import 'src/styles/common';

$container-padding-right: 20px;

.speciesTitleArea {
  display: grid;
  grid-template-areas:
    'icon species-name usage-toggle search remove'
    'remove-message . . . .';
  grid-template-columns: 60px fit-content(60%) minmax(200px, 680px) auto 1fr;
  grid-template-rows: 80px auto auto auto auto;
  grid-column-gap: 20px;
  align-items: center;
  margin-left: 60px;
  padding-right: $container-padding-right;
}

.speciesIcon {
  grid-area: icon;
  width: 60px;
  height: 60px;
  border: 1px solid $blue;
  padding: 6px;
}

.speciesNameWrapper {
  grid-area: species-name;
}

.speciesName {
  display: inline;
  font-size: 16px;
  font-weight: $bold;
  line-height: 1;
  margin: 0 8px 0 0;
}

.assemblyName {
  font-size: 11px;
  line-height: 1;
}

.speciesToggle {
  grid-area: usage-toggle;
  padding-left: 25px;
}

.speciesRemove {
  grid-area: remove;
  justify-self: end;
  white-space: nowrap;
}

.disabledRemoveButton {
  background-color: $grey;
  color: $white;
  border: 1px solid $grey;
  cursor: default;
}

.speciesRemoveMessage {
  grid-area: remove-message;
  grid-column: 1 / span 5;
  justify-content: end;
  margin-bottom: 20px;
}

.geneSearchWrapper {
  grid-area: search;
  color: $blue;
  cursor: pointer;
  display: inline-flex;
  column-gap: 12px;
  white-space: nowrap;
  justify-self: start;

  svg {
    fill: $blue;
    width: 13px;
  }
}

@media screen and (max-width: 1199px) {
  .speciesTitleArea {
    grid-template-areas:
      'icon species-name usage-toggle remove'
      '. remove-message . .'
      '. search . .';
    grid-template-columns: 60px 150px auto 1fr;
    grid-template-rows: 80px auto auto auto;
  }

  .speciesNameWrapper {
    grid-area: species-name;
    min-height: 60px;
    display: flex;
    align-items: center;
  }

  .speciesToggle {
    grid-area: usage-toggle;
    padding: 0;
  }

  .remove {
    grid-area: remove;
    align-self: start;
    white-space: nowrap;
  }

  .speciesRemove {
    white-space: normal;
  }

  .speciesRemoveMessage {
    grid-area: remove-message;
    grid-column: 2 / span 3;
    justify-content: start;
  }

  .geneSearchWrapper {
    grid-area: search;
    margin: 0;
  }
}

@media screen and (max-width: 1040px) {
  .speciesTitleArea {
    grid-template-areas:
      'icon species-name .'
      '. usage-toggle remove'
      '. remove-message .'
      '. search .';
    grid-template-columns: 60px 150px 1fr;
    grid-template-rows: 80px 0px auto 40px;
    grid-row-gap: 10px;
  }
  .speciesRemoveMessage {
    margin-top: 20px;
  }
}
