.speciesTitleArea {
  container-name: species-page-title-area;
  container-type: inline-size;
  margin-left: var(--double-standard-gutter);
}

.grid {
  display: grid;
  align-items: center;
  grid-column-gap: 20px;
  padding-right: 20px;
  justify-items: start;
}

.speciesIcon {
  grid-area: icon;
  width: 57px;
  height: 57px;
  border: 1px solid var(--color-blue);
}

.speciesIcon img {
  filter: var(--black-to-grey-species-icon-filter);
}

.speciesNameWrapper {
  grid-area: species-name;
}

.speciesName {
  display: inline;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  margin: 0 8px 0 0;
}

.assemblyName {
  font-size: 11px;
  line-height: 1;
}

.assemblyCountWrapper {
  align-items: center;
  display: inline-flex;
  grid-area: assembly-count;
  column-gap: 12px;
  flex-wrap: nowrap;
  margin-left: 20px;
}

.assembliesLink {
  color: var(--color-blue);
  font-size: 12px;
}

.speciesToggle {
  grid-area: usage-toggle;
}

.speciesRemove {
  grid-area: remove;
  justify-self: end;
  white-space: nowrap;
  padding-right: 35px;
}

.speciesRemoveMessage {
  grid-area: remove-message;
  justify-content: end;
  margin-bottom: 20px;
  padding-right: 35px;
}

@container species-page-title-area (min-width: 761px) {
  .grid {
    display: grid;
    grid-template-areas:
      'icon species-name assembly-count usage-toggle remove'
      '. remove-message remove-message remove-message remove-message';
    grid-template-columns: 60px auto minmax(180px, 1fr) minmax(auto, 284px) auto;
    grid-template-rows: 80px auto;
  }

  .grid:not(:has(.assemblyCountWrapper)) {
    grid-template-areas:
      'icon species-name usage-toggle remove'
      '. remove-message remove-message remove-message';
    grid-template-columns: 60px minmax(auto, 1fr) minmax(auto, 284px) auto;
  }
}


@container species-page-title-area (max-width: 830px) {
  .grid {
    grid-template-areas:
      'icon species-name assembly-count'
      '. usage-toggle remove'
      '. remove-message remove-message';
    grid-template-columns: 60px auto minmax(min-content, 1fr);
    grid-template-rows: minmax(80px, auto) auto auto;
    grid-row-gap: 10px;
    margin-bottom: 20px;
  }

  .assemblyCountWrapper {
    margin-left: 20px;
  }

  .speciesRemoveMessage {
    margin-top: 20px;
    margin-bottom: 0;
    justify-content: start;
  }

  .speciesToggle {
    padding: 0;
  }

}


.speciesTitleAreaEmpty {
  height: 80px;
}
