@import 'src/styles/common';

$container-padding-right: 20px;

@mixin narrow-grid {
  grid-template-areas:
    'icon species-name species-name species-name'
    'icon use-dont-use . remove';
  grid-template-columns: 60px 150px 20px 1fr;
  padding: 20px $container-padding-right 12px 0;
  height: auto;

  .speciesIcon {
    align-self: start;
  }

  .speciesNameWrapper {
    min-height: 60px;
    display: flex;
    align-items: center;
  }

  .speciesToggle {
    align-self: start;
    padding: 0;
  }

  .remove {
    align-self: start;
  }
}

.speciesTitleArea {
  display: grid;
  grid-template-areas: 'icon species-name usage-toggle remove';
  grid-template-columns: 60px fit-content(60%) 200px minmax(280px, 1fr);
  grid-column-gap: 20px;
  align-items: center;
  height: 90px;
  margin-left: 60px;
  padding-right: $container-padding-right;

  @media (max-width: 999px) {
    @include narrow-grid;
  }

  &Narrow {
    @media (max-width: 1199px) {
      @include narrow-grid;
    }
  }
}

.speciesIcon {
  grid-area: icon;
  width: 60px;
  height: 60px;
  border: 1px solid $blue;
  padding: 6px;
}

.speciesNameWrapper {
  grid-area: species-name;
}

.speciesName {
  display: inline;
  font-size: 16px;
  font-weight: $bold;
  line-height: 1;
  margin: 0 8px 0 0;
}

.assemblyName {
  font-size: 11px;
  line-height: 1;
}

.speciesToggle {
  padding-left: 25px;
}

.speciesRemove {
  grid-area: remove;
}
