@import 'src/styles/common';

$container-padding-right: 20px;

@mixin narrow-grid {
  grid-template-areas:
    'icon species-name usage-toggle'
    'icon findAGene remove';
  grid-template-columns: 60px 150px 1fr;
  padding: 20px $container-padding-right 12px 0;
  height: auto;

  .speciesIcon {
    align-self: start;
  }

  .speciesNameWrapper {
    min-height: 60px;
    display: flex;
    align-items: center;
  }

  .speciesToggle {
    padding: 0;
  }

  .remove {
    align-self: start;
    white-space: nowrap;
  }

  .speciesRemove {
    white-space: normal;
  }

  .findAGene {
    margin: 0;
  }
}

.speciesTitleArea {
  display: grid;
  grid-template-areas: 'icon species-name usage-toggle search remove';
  grid-template-columns: 60px fit-content(60%) minmax(200px, 680px) auto 1fr;
  grid-column-gap: 20px;
  align-items: center;
  height: 90px;
  margin-left: 60px;
  padding-right: $container-padding-right;

  @media (max-width: 999px) {
    @include narrow-grid;
  }

  &Narrow {
    @media (max-width: 1199px) {
      @include narrow-grid;
    }
  }
}

.speciesIcon {
  grid-area: icon;
  width: 60px;
  height: 60px;
  border: 1px solid $blue;
  padding: 6px;
}

.speciesNameWrapper {
  grid-area: species-name;
}

.speciesName {
  display: inline;
  font-size: 16px;
  font-weight: $bold;
  line-height: 1;
  margin: 0 8px 0 0;
}

.assemblyName {
  font-size: 11px;
  line-height: 1;
}

.speciesToggle {
  padding-left: 25px;
}

.speciesRemove {
  grid-area: remove;
  justify-self: end;
  white-space: nowrap;
}

.search {
  grid-area: search;
}

.findAGene {
  color: $blue;
  cursor: pointer;
  display: inline-flex;
  column-gap: 12px;
  white-space: nowrap;

  svg {
    fill: $blue;
    width: 13px;
  }
}
