@import 'src/styles/common';

.container {
  display: flex;
}

.selectedNode {
  border-radius: 30px;
  height: 21px;
  padding: 1px 16px 0;
  margin-right: 24px;
  background-color: $black;
  color: $white;
  text-align: center;
  cursor: default;
}
