@import 'src/styles/common';

.inAppSearchTopInterstitial {
  display: inline-grid;
  grid-template-areas:
          'label label'
          'search-field search-button'
          'hits-count .';
  grid-template-columns: 485px auto;
  column-gap: 48px;
}

.inAppSearchTopSidebar {
  display: grid;
  grid-template-areas:
          'label label'
          'search-field search-field'
          'hits-count search-button';
  grid-template-columns: 1fr min-content;
}

.searchFieldWrapper {
  grid-area: search-field;
  padding: 4px;
  box-shadow: inset 2px 2px 4px -2px $dark-grey;
  background: white;

  &Interstitial {
    height: 30px;
  }

  // nesting to increase specificity of the selector
  .searchField {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.label {
  grid-area: label;
  color: $dark-grey;
  margin-bottom: 15px;
}

.searchButton {
  grid-area: search-button;
}

.hitsCount {
  grid-area: hits-count;

  .hitsNumber {
    font-weight: $bold;
  }
}

.searchMatches {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 36px;
}

.searchMatch {
  color: $blue;
  cursor: pointer;
  display: inline-block;

  & > span:nth-child(2) {
    margin-left: 0.6rem;
  }
}

.tooltip {
  background: $black;
  padding: 12px 20px;
  filter: drop-shadow(2px 2px 3px $shadow-color);
  color: $white;
}

.tooltipTip {
  fill: $black;
}

.tooltipContent {
  & > div:first-child span:first-child {
    margin-right: 28px;
  }

  & > div:nth-child(3) span:first-child {
    font-weight: $bold;
  }

  & > div:not(:last-child) {
    margin-bottom: 6px;
  }

  & > div:last-child {
    margin-top: 28px;
  }
}
