@import 'src/styles/common';

$buttonSize: 56px;

.popularSpeciesButton {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  // FIXME: use margins in the fallback style rules
  // margin-right: 1rem;
  // margin-bottom: 1rem;
  width: $buttonSize;
  height: $buttonSize;
  background: $ens-blue;
  padding: 3px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    filter: invert(1);
  }

  & > svg {
    width: 100%;
    height: 100%;
    fill: white;

    // selecting by a part of the class name, because svgr apparently modifies the original value
    // of the class attribute of svg elements
    *[class*='text'] {
      fill: black;
    }
  }
}

.popularSpeciesButtonActive {
  background: white;
  border: 1px solid $ens-blue;

  img {
    filter: invert(0);
  }

  & > svg {
    fill: black;

    // selecting by a part of the class name, because svgr apparently modifies the original value
    // of the class attribute of svg elements
    *[class*='text'] {
      fill: white;
    }
  }
}

.popularSpeciesButtonDisabled {
  background: $ens-light-grey;
  cursor: default;
}
