@import 'src/styles/common';

$button-width: 52px;
$button-gap: 1.4rem;

.popularSpeciesButtonWrapper {
  position: relative;
  display: inline-block;
  margin-right: $button-gap;
  margin-bottom: 1.2rem;
  font-size: 0;
  user-select: none;

  *[class*='tooltip'] {
    user-select: none;
  }
}

.popularSpeciesButton {
  position: relative;
  display: inline-block;
  width: $button-width;
  height: $button-width;
  background: $blue;
  padding: 3px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    filter: #{"invert()"};  // <-- unfortunate consequence of CSS and SCSS keyword collision
  }
}

.popularSpeciesButtonSelected {
  background: $dark-grey;
}

.popularSpeciesButtonCommitted {
  background: white;
  border: 1px solid $blue;

  img {
    filter: none;
  }
}

.popularSpeciesButtonDisabled {
  background: $grey;
  cursor: default;
}
