.main {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 60px 1fr;
  grid-template-areas:
    "top top"
    ". table";
  row-gap: 30px;
  padding-left: var(--double-standard-gutter);
}

.top {
  display: grid;
  grid-area: top;
  align-items: center;
  justify-self: start;
  grid-template-columns: [species-image] 60px [genomes-count] auto [add-button] max-content [filter] max-content;
  column-gap: var(--standard-gutter);
  white-space: nowrap;
}

.speciesImage {
  grid-column: species-image;
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  padding: 2px;
}

.speciesImage img {
  filter: var(--black-to-grey-species-icon-filter);
}

.genomesCount {
  grid-column: genomes-count;
  display: flex;
  column-gap: 1rem;
}

.addButton {
  grid-column: add-button;
}

.filterWrapper {
  grid-column: filter;
  margin-left: var(--double-standard-gutter);
}

.loader {
  grid-area: table;  
}

.tableContainer {
  grid-area: table;
  overflow: auto;
  padding-bottom: var(--global-padding-bottom);
}
