.container {
  padding-left: var(--double-standard-gutter);
  margin-top: 20px;
  padding-bottom: var(--global-padding-bottom);
}

/* Note: might need changing after Panel is refactored */
.panelHeader {
  padding-left: calc(var(--standard-gutter) - 10px);
}

.variantName {
  font-weight: var(--font-weight-bold);
}

.variantType {
  font-size: 11px;
  font-weight: var(--font-weight-light);
  margin: 0 10px;
}

.alleleFreqTitle {
  margin-left: 20px;
}

.colonSeparator {
  font-weight: var(--font-weight-bold);
}

.populationGroups {
  display: inline-flex;
  gap: 20px;
  margin-left: 30px;
}

.populationGroup:not(:disabled) {
  color: var(--color-blue);
}

.populationGroup:disabled {
  color: var(--color-black); /* overrides user agent styles */
  font-weight: var(--font-weight-bold);
}

.tablePlain th,
.tablePlain td {
  padding-left: 24px;
  padding-right: 32px;
}

.table {
  font-size: 12px;
}

.table tbody td:nth-child(1) {
  width: 190px;
}

.table tbody td:nth-child(2) {
  width: 140px;
}

.table tbody td:nth-child(3) {
  width: 270px;
}

.tablePlain {
  border-collapse: collapse;
  margin-bottom: 20px;
  font-weight: var(--font-weight-bold);
}

.alleleColumnTitle {
  position: relative;
}

.alleleColumnTitle::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -7px;
  transform: translate(-100%, -25%);
  height: 10px;
  width: 10px;
  background-color: var(--color-grey);
}

.accordion {
  border: none;
}

.accordionButton {
  color: var(--color-blue);
  padding: 5px 15px;
  border-radius: 5px;
}

.accordionButton::before,
.accordionButton::after {
  margin-top: -3px;
}

.accordionHeading {
  width: fit-content;
  font-weight: var(--font-weight-bold);
}

.accordionItem {
  margin-bottom: 20px;
}

.accordionItem:not(:first-child) {
  border-top: none;
}

.accordionItemContent {
  background-color: transparent;
  border: none;
  padding: 15px;
}

.globalFrequencyHeader {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  font-weight: var(--font-weight-bold);
  width: 270px;
  font-size: 12px;
  margin-left: 10px;
}

.accordionTitleContainer {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: flex-start;
}

.accordionHeadingContainer {
  width: 330px;
}

.frequencyCount {
  font-weight: normal;
  margin: 0 5px;
}
