.scrollRef{
  scroll-margin-top: 90px;
}


.middle {
  cursor: pointer;
  display: grid;
  grid-template-columns: 10% 50% 40%;
  grid-column-gap: 10px;
}

.transcriptId {
  color: var(--color-blue);
  cursor: pointer;
}

.middle,
.transcriptId {
  font-weight: var(--font-weight-normal);
  text-align: right;
}

.wrapText {
  word-wrap: break-word;
}
