.scrollRef{
  scroll-margin-top: 90px;
}

.middle {
  cursor: pointer;
  display: grid;
  grid-template-columns: 10% 43% 43%;
  column-gap: 2%;
}

.transcriptId {
  color: var(--color-blue);
  cursor: pointer;
}

.middle,
.transcriptId {
  font-weight: var(--font-weight-normal);
}

.productStableId {
  overflow-wrap: break-word;
  justify-self: end;
  word-break: break-all;
  text-align: right;
}
