@import 'src/styles/common';

.chromosomeNavigatorContainer {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: $light-grey;
  padding: 0 100px;

  [class*='chromosomeNavigator'] {
    flex: 1 0 auto;
  }
}
