@import 'src/styles/common';

.chromosomeNavigatorContainer {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: $light-grey;
  padding: 0 100px;

  [class*='chromosomeNavigator'] {
    flex: 1 0 auto;
  }
}


.chromosomeNavigator {
  svg {
    width: 100%;
    overflow: visible;
  }

  .stick {
    height: 4px;
    fill: $light-grey;
    stroke: $grey;
  }

  .viewport {
    fill: white;
  }

  .viewportBorder {
    fill: none;
    stroke: $dark-grey;
  }

  .focusPointer {
    fill: $orange;

    line {
      stroke: $orange;
    }
  }

  .centromereRegion {
    fill: $light-grey;
    stroke: $light-grey;
  }

  .centromereCentre {
    fill: $dark-grey;
  }

  .label {
    font-family: $font-family-monospace;
    font-size: 11px;
  }
}


.controls {
  padding: 5em 4em;

  label {
    display: block;
    display: flex;
    align-items: center;
  }

  input {
    margin-left: 0.5em;
    width: 80%;
  }
}

.controlsGroup {
  margin-bottom: 1em;

  div {
    font-weight: bold;
  }
}
