@import 'src/styles/common';

.previewTable {
  margin-top: 20px;
  margin-left: 40px;
  border-collapse: collapse;
  min-width: 50%;

  tr:first-of-type {
    border-bottom: 2px solid $ens-blue;
    border-top: 2px solid $ens-blue;
    color: $ens-blue;
  }

  tr {
    border-bottom: 2px solid $ens-light-grey;
  }
  td {
    padding: 8px 0 8px 5px;
  }
}
