.grid {
  display: grid;
  grid-template-columns: [left] calc(var(--nucleotides-offset) * 16px) [right] max-content;
  row-gap: 6px;
  margin-top: 40px;
  margin-left: var(--chevrons-block-width);
}

.left {
  grid-column: left;
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  gap: 12px;
}

.label {
  font-size: 11px;
  font-weight: var(--font-weight-light);
}

.alleleLength {
  font-size: 11px;
}
