.container {
  --chevrons-block-width: 165px; /* the block of right-pointing chevrons to the left of reference sequence, indicating forward strand */
  height: 100%;
  background:
    repeating-linear-gradient(to bottom, var(--color-orange) 0 4px, transparent 4px 8px);
  background-size: 1px 100%;
  background-position: calc(
    var(--chevrons-block-width) +
    calc(var(--nucleotides-offset)) * calc(16px + 1px)
    - 2px); /* chevron block width plus total width of letter block and spaces between them, minus a couple of pixels */
  background-repeat: no-repeat;
  padding-bottom: var(--global-padding-bottom);
}

.referenceSequenceBlock {
  display: grid;
  grid-template-areas:
    '. . variant-start .'
    '. reference-sequence-label variant-name view-in'
    'chevrons sequence sequence .'
    '. . strand-label .';
  grid-template-columns: var(--chevrons-block-width) calc(var(--nucleotides-offset) * calc(16px + 1px)) max-content auto;
}


.chevrons {
  --chevron-fill: #485967;
  grid-area: chevrons;
  align-self: center;
  display: inline-flex;
  justify-content: space-between;
  width: var(--chevrons-block-width);
  padding-right: 24px;
}

.variantStartLabel {
  grid-area: variant-start;
  display: inline-flex;
  height: 36px;
  align-items: flex-start;
  margin-top: 30px;
  font-size: 11px;
  font-family: var(--font-family-monospace);
  margin-left: 8px; /* half the letter block width */
}

.referenceSequenceLabel {
  grid-area: reference-sequence-label;
  line-height: 1;
  font-weight: var(--font-weight-light);
  font-size: 11px;
}

.variantInfo {
  grid-area: variant-name;
  margin-left: 8px; /* half the letter block width */
  display: inline-flex;
  height: 28px;
  align-items: flex-start;
}

.variantName {
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  padding-right: 12px;
}

.variantType {
  font-weight: var(--font-weight-light);
  font-size: 11px;
}

.referenceSequence {
  grid-area: sequence;
}

.strandLabel {
  grid-area: strand-label;
  font-weight: var(--font-weight-light);
  font-size: 11px;
  justify-self: end;
  margin-top: 11px;
}
