.copy {
  position: relative;
  font-size: var(--copy-button-font-size, 12px);
}

.copyText {
  color: var(--color-blue);
  line-height: inherit;
  position: relative;
  z-index: 0;
}

.copied .copyText {
  visibility: hidden;
}

.checkmark {
  fill: var(--color-green);
  height: 13px;
  position: absolute;
  left: 50%;
  translate: -50%;
  scale: 1;
  z-index: 1;
  animation: checkmark-pulse 0.3s ease-in-out;
}

@keyframes checkmark-pulse {
  0% {
    scale: 0.6;
  }

  70% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}
