@import 'src/styles/common';

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // display: flex;
  // justify-content: space-around;
}

.tab {
  cursor: default;
  &Unselected {
    cursor: pointer;
    color: $blue;
  }
}
