@import 'src/styles/common';

.accordionContainer {
  width: 50%;
  margin: 10px;
}
.u-position-absolute {
  position: absolute;
}

.u-position-relative {
  position: relative;
}

.accordion {
  border: 1px solid $ens-light-grey;
  border-radius: 2px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid $ens-light-grey;
}

.accordion__item {
  position: relative;
}

.accordion__title {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  position: relative;

  &[aria-expanded='true'] .accordion__arrow::before {
    transform: rotate(-45deg);
  }

  &[aria-expanded='true'] .accordion__arrow::after {
    transform: rotate(45deg);
  }
}

.accordion__body {
  padding: 20px;
  display: block;
  animation: fadein 0.35s ease-in;
  border-top: 1px solid $ens-light-grey;

  &--hidden {
    display: none;
    opacity: 0;
    animation: fadein 0.35s ease-in;
  }
}

.accordion__title > *:last-child,
.accordion__body > *:last-child {
  margin-bottom: 0;
}

.accordion__arrow {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;

  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: $ens-blue;
    content: '';
    transition: transform 0.25s ease;
  }

  &::before {
    left: 4px;
    transform: rotate(45deg);
  }

  &::after {
    right: 4px;
    transform: rotate(-45deg);
  }
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(5px);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    //   transform: translateY(-5px);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
