@import 'src/styles/common';

.trackPanelList {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: $white;

  h4 {
    border-bottom: 1px solid $grey;
    color: $grey;
    font-size: 10px;
    padding-bottom: 2px;
  }
}

.mainTrackItem {
  width: 100%;
}

.emptyListMsg {
  font-size: 12px;
  margin-left: 0;
  padding: 4px 10px;
}

.accordionContainer {
  width: 100%;

  .trackPanelAccordion {
    border: none;
  }

  .trackPanelAccordionHeader {
    background-color: $light-grey;
    border-radius: 5px;
  }

  .trackPanelAccordionButton {
    color: $blue;
    padding: 5px 15px 5px 17px;
    border-radius: 5px;
    font-size: 12px;

    &:before,
    &:after {
      margin-top: -3px;
    }

    &Disabled {
      color: $grey;
    }
  }

  .trackPanelAccordionItem:not(:first-child) {
    border-color: transparent;
  }

  .trackPanelAccordionItemContent {
    background-color: transparent;
    border: none;
    padding: 10px 0 20px;
  }
}

.findAGene {
  color: $blue;
  cursor: pointer;
  margin: 30px 0 20px 10px;
  display: inline-flex;
  align-items: center;
  column-gap: 12px;

  svg {
    fill: $blue;
    width: 13px;
  }
}
