.newTechErrorWrapper {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newTechMessage {
  margin-bottom: 3rem;
}

.errorLinkButton {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  padding: 8px 18px;
  border-radius: 4px;
}

.generalErrorScreen {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.generalErrorHeader {
  justify-content: flex-start;
  flex: 0 0 auto;
}

.generalErrorTopMessage {
  font-weight: bold;
}

.generalErrorBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.generalErrorBottomMessage {
  font-size: 12px;
}

.reloadButton,
.homeButton {
  padding-top: 40px;
}

.moreOptions {
  padding: 50px 0 20px;
}

.resetOption {
  color: var(--color-red);
}

.resetOption button {
  margin-top: 24px;
}

.generalErrorImage {
  display: flex;
  font-size: 12px;
}

.vennCircle {
  display: flex;
  width: 195px;
  height: 195px;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(183 192 200 / 0.24);
  position: relative;
}

.vennCircleLeft {
  left: 32px;
  text-align: right;
}

.vennCircleLeft span {
  margin-right: 77px;
  margin-left: 25px;
}

.vennCircleRight {
  right: 32px;
  text-align: left;
}

.vennCircleRight span {
  margin-right: 15px;
  margin-left: 25px;
}

.vennIntersection {
  padding-left: 19px;
}

.infoText {
  font-size: 18px;
  font-weight: bold;
}

.infoIcon svg {
  --alert-icon-diameter: 20px;
}
