.chromosomeNavigatorContainer {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: var(--color-light-grey);
  padding: 0 100px;

  [class*='chromosomeNavigator'] {
    flex: 1 0 auto;
  }
}


.controls {
  padding: 5em 4em;

  label {
    display: block;
    display: flex;
    align-items: center;
  }

  input {
    margin-left: 0.5em;
    width: 80%;
  }
}

.controlsGroup {
  margin-bottom: 1em;

  div {
    font-weight: bold;
  }
}
