.container {
  display: inline-grid;
  grid-template-columns:  [icon] auto [text] auto;
  column-gap: 5px;
  align-items: baseline;
}

.icon {
  fill: var(--disabled-external-link-icon-color, var(--color-grey));
  grid-column: icon;
  height: 12px;
  width: 12px;
}

.text {
  grid-column: text;
  color: var(--disabled-external-link-text-color, var(--color-grey));
  font-size: 12px; /* same as for external link */
}
