.container {
  display: inline-grid;
  grid-template-columns:  [icon] auto [link] auto;
  column-gap: var(--external-link-icon-offset, 5px);
  align-items: baseline;
}

.icon {
  display: inline-block;
  fill: var(--external-link-icon-offset, var(--color-orange));
  grid-column: icon;
  height: var(--external-link-icon-size, 12px);
  aspect-ratio: 1;
}

.link {
  display: inline-block;
}
