@import 'src/styles/common';

.speciesPage {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
}

.topbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  line-height: 1;
  padding-left: 30px;
  padding-right: 20px;
}

.topbarLeft {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-self: start;
}

.pageTitle {
  color: $blue;
  font-weight: $bold;
  margin-left: 17px;
}
