.speciesPage {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
}

.topbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-items: start;
  line-height: 1;
  max-width: 1380px;
  padding-left: 30px;
}

.addSpeciesButton {
  --add-button-icon-color: var(--color-green);
  --add-button-label-color: var(--color-black);
  padding-right: 35px;
}
