@import 'src/styles/common';

.inputGroup {
  display: inline-block;
}

.checkboxLabel {
  font-size: 13px;
  margin-right: 20px;
  max-width: inherit;
}

.downloadButtonDisabled {
  color: $dark-grey;
}
