@import 'src/styles/common';

.infoCardDefault {
  min-height: 100px;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  width: 600px;
  max-width: 100%;
  background: $white;
  box-shadow: 1px 1px 4px $shadow-color;
}

.headerDefault {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  background-color: #6f8190;
  height: 36px;
  padding: 5px 0 5px 10px;
  width: 100%;
  line-height: 24px;
}

.bodyDefault {
  position: relative;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.closeButton {
  position: absolute;
  right: 10px;
  top: 5px;
}
