@import 'src/styles/common';

.sidebarModalView {
  background: $white;
  font-weight: $light;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  overflow: auto;
  z-index: 100;

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 13px;
    margin-bottom: 30px;
  }
}

.closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 200;

  img {
    height: 15px;
    width: 15px;
  }
}