.match {
  background: #dbedff;
  background: rgb(from var(--color-blue) r g b / 30%);
}

.mismatch {
  border: 1px solid var(--color-medium-light-grey);
}

.inversion {
  background: #f8c041;
  background: rgb(from var(--color-dark-yellow) r g b / 50%);
}