@import 'src/styles/common';

.quesionButton {
  position: relative;
  display: inline-block;
  padding: 2px;
  font-size: 0;

  > svg {
    width: 100%;
    height: 100%;
    fill: $blue;
  }
}

.in-input-field {
  width: 17px;
  height: 17px;
  margin-top: 3px;
}

.inline {
  width: 16px;
  height: 16px;
}
