@import 'src/styles/common';

.wrapper {
  background-color: $light-grey;
  height: 60px;
  position: relative;
}

.selectedFilters {
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -12px;
}

.previewButton {
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -15px;
}

.backButton {
  height: 30px;
  width: 30px;
  margin-left: -33px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 14px;
}

.downloadTypeSelectHolder {
  display: inline-block;
  position: absolute;
  right: 170px;
  top: 20px;
}

.downloadTypeLabel {
  color: $dark-grey;
}

.downloadTypeSelect {
  margin-left: 10px;
  color: $blue;
  li {
    color: $medium-dark-grey;
  }
}

.roundButtonInactive {
  background-color: $medium-dark-grey;
  border-color: $medium-dark-grey;
  color: $white;
}

.changeLink {
  cursor: pointer;
  color: $blue;
  margin-left: 30px;
}
