@import 'src/styles/common';

.sectionHead {
  font-weight: $light;
  font-size: 12px;
  border-bottom: 1px solid $grey;
  margin-bottom: 15px;
  position: relative;
  margin-top: 20px;
}

.listContainer {
  margin-left: 20px;
}

.geneSymbol {
  font-weight: $bold;
  margin-right: 10px;
}

.transcriptExternalReferences {
  margin: 10px 0 20px 0;
}

.showHideWrapper,
.externalReferenceContainer {
  margin-bottom: 10px;
}

.externalReferenceContainer {
  font-size: 13px;
}
