@import 'src/styles/common';

.xrefsContainer {
  font-size: 13px;
}
.sectionHead {
  font-weight: $light;
  font-size: 12px;
  border-bottom: 1px solid $grey;
  margin-bottom: 15px;
  position: relative;
  margin-top: 20px;
}

.geneDetails {
  .geneSymbol {
    font-weight: $bold;
    margin-right: 10px;
  }
}

.accordionContainer {
  width: 100%;
}

.xrefAccordion {
  border: none;
  margin-top: 0px;
  margin-bottom: 10px;
}

.xrefAccordionHeader {
  background-color: transparent;
  border-radius: 0px;
}

.xrefAccordionButton {
  color: $blue;
  padding: 0px;
  width: auto;
  padding-right: 60px;
  display: inline-block;
  margin-left: 20px;

  &:before,
  &:after {
    margin-top: -10px;
  }
}

.xrefAccordionItem:not(:first-child) {
  border-color: transparent;
}

.xrefAccordionItemContent {
  background-color: transparent;
  border: none;
  padding: 5px 0px 5px 20px;
}

.transcriptId {
  color: $blue;
  cursor: pointer;
}
.transcriptXrefs {
  margin: 10px 0 20px 0;
}

.externalReferenceContainer{
  margin-bottom:10px;
  margin-left: 20px;
}

