.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  padding: 1em;
  background: pink;
}

.mainToolboxContent {
  .toggleButton {
    margin-left: 1em;
    vertical-align: middle;
  }
}

.mainToolboxContent,
.footerToolboxContent {
  text-align: left;
}
