@import 'src/styles/common';

.defaultUpload {
  border: 1px dashed $blue;
  color: $blue;
  display: inline-block;
  position: relative;

  label {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.fileInput {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
