.grid {
  display: grid;
  grid-template-areas:
    'label .'
    'input controls';
  grid-template-columns: 486px max-content;
  row-gap: 10px;
  column-gap: 30px;
}

.grid:has(.close) {
  grid-template-areas:
    'label . .'
    'input controls close';
}

.label {
  grid-area: label;
  margin-left: 20px;
}

.input {
  grid-area: input;
}

.controls {
  grid-area: controls;
  align-self: center;
  margin-left: 15px;
}

.submit {
  --primary-button-color: var(--color-blue);
}

.addSpeciesControls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.close {
  grid-area: close;
  align-self: center;
}
