.grid {
  --max-input-width: 486px;
  display: grid;
  grid-template-areas:
    'label .'
    'input controls';
  grid-template-columns: minmax(0, var(--max-input-width)) max-content;
  row-gap: 10px;
  column-gap: 30px;
}

.grid:has(.close) {
  grid-template-areas:
    'label . .'
    'input controls close';
}

@container (width < 600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      'label'
      'input'
      'controls';
  }
}

.label {
  grid-area: label;
  margin-left: 20px;
}

.input {
  grid-area: input;
  max-width: var(--max-input-width);
}

.controls {
  grid-area: controls;
  align-self: center;
  justify-self: start;
  margin-left: 15px;
}

.submit {
  --primary-button-color: var(--color-blue);
}

.addSpeciesControls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.close {
  grid-area: close;
  align-self: center;
}
