@import 'src/styles/common';

.showHide {
  cursor: pointer;
  display: inline-block;
}

.label {
  color: var(--show-hide-label-color, $blue);
  white-space: nowrap;
}

.chevron {
  margin-left: 10px;
  --chevron-height: var(--show-hide-chevron-height, 6px);
}
