.wrapper {
  position: relative;
  color: var(--color-blue); /* should be overridable by setting color on the child, if necessary */
}

.pointerBox {
  --pointer-box-padding: 6px 12px;
}

.pointerBox p {
  max-width: 200px;
}
