/* TODO: notice how the styles in this file are almost the same as in GeneFunction.module.css.
   Can/should they be extracted into a single component?
*/

.panelHeader {
  color: var(--color-black);
  padding: 0 var(--standard-gutter);
}

.panelBody {
  color: var(--color-black);
  overflow-y: hidden;
}

.selectedTabName {
  font-weight: var(--font-weight-bold);
}
