@import 'src/styles/common';

.grid {
  display: grid;
  grid-template-columns: auto [submission-name] auto [submission-details] 1fr [control-buttons] 20%;
  column-gap: 20px;
  align-items: center;
  padding-left: 26px; // TODO: seems to be a constant shared with sequence boxes (see ListedBlastSubmission.scss)
  padding-top: 20px;
  margin-bottom: 14px;
  white-space: nowrap;
}

.submissionName {
  grid-column: submission-name;
}

.submissionDetails {
  grid-column: submission-details;
  justify-self: end;
  padding-right: 40px;
}

.showHide {
  position: absolute;
  --show-hide-chevron-height: 8px;
  margin-left: 15px;
}

.submissionIdLabel {
  font-weight: $light;
  margin-right: 1ch;
}

.editSubmission {
  color: $blue;
  cursor: pointer;
  margin: 0 32px;
}

.timeStamp {
  white-space: nowrap;
}

.timeZone {
  font-weight: $light;
  margin-left: 1ch;
}

.controlButtons {
  grid-column: control-buttons;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 40px;
}

.controlButtons > * {
  flex-shrink: 0;
}

.deleteMessageContainer {
  margin: 20px 0px;
}

.deleteMessage {
  color: $red;
}

.clickable {
  color: $blue;
  cursor: pointer;
}

// Leave media queries at the bottom of the file to make sure they override CSS rules defined above
@media screen and (max-width: 1439px) {
  .grid {
    grid-template-columns: auto [submission-name] auto [submission-details] 1fr [control-buttons] auto;
  }
  .controlButtons {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .submissionName {
    display: none;
  }
}
