@import 'src/styles/common';

.grid {
  display: grid;
  grid-template-areas:
    'sequence-number submission-name submission-details control-buttons'
    '. . . delete-message';

  grid-template-columns: auto auto 1fr 20%;
  grid-template-rows: auto auto;
  column-gap: 20px;
  align-items: center;
  padding-left: 26px; // TODO: seems to be a constant shared with sequence boxes (see ListedBlastSubmission.scss)
  padding-top: 20px;
  margin-bottom: 14px;
  white-space: nowrap;
}

@media screen and (max-width: 1720px) {
  .grid {
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto auto;
  }
  .controlButtons {
    padding-left: 20px;
  }
  .deleteMessageContainer {
    grid-area: delete-message;
    padding-left: 20px;
  }
}

.submissionName {
  grid-area: submission-name;
}

@media screen and (max-width: 1279px) {
  .submissionName {
    display: none;
  }
}

.submissionDetails {
  grid-area: submission-details;
  justify-self: end;
  padding-right: 40px;
}

.showHide {
  position: absolute;
  --show-hide-chevron-height: 8px;
  margin-left: 15px;
}

.submissionIdLabel {
  font-weight: $light;
  margin-right: 1ch;
}

.editSubmission {
  color: $blue;
  cursor: pointer;
  margin: 0 32px;
}

.timeStamp {
  white-space: nowrap;
}

.timeZone {
  font-weight: $light;
  margin-left: 1ch;
}

.controlButtons {
  grid-area: control-buttons;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 40px;
}

.controlButtons > * {
  flex-shrink: 0;
}

.deleteMessageContainer {
  grid-area: control-buttons;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 30px;
}

.deleteMessage {
  color: $red;
}

.clickable {
  color: $blue;
  cursor: pointer;
}
