@import 'src/styles/common';

.checkboxHolder {
  display: grid;
  grid-template-columns: 27px 1fr;
}

.defaultCheckbox {
  background-color: transparent;
  cursor: pointer;
  justify-self: center;
  border: 1px solid;
  transition: background-color 0.1s ease-in-out;
  margin-top: 7px;

  & + label {
    cursor: pointer;
    font-weight: $light;
  }
}

.checked {
  background-color: $green;
}

.disabled {
  background-color: $light-grey;
  cursor: default;

  & + label {
    cursor: default;
  }
}

.defaultLabel {
  line-height: 30px;
  padding-left: 8px;
  padding-right: 2px;
  max-width: calc(100% - 17px);
  word-wrap: break-word;
}

.themeDarkCheckbox {
  border-color: $dark-grey;
  height: 12px;
  width: 12px;
}

.themeDarkLabel {
  color: $white;
  font-size: 12px;
  font-weight: 300;
}

.themeLighterCheckbox {
  border-color: $grey;
  height: 13px;
  width: 13px;
}

.themeLighterLabel {
  color: $black;
  font-size: 12px;
  font-weight: 300;
}

.themeLightCheckbox {
  border-color: $grey;
  height: 13px;
  width: 13px;
}

.themeLightLabel {
  color: $black;
  font-size: 13px;
  font-weight: 400;
}

.hiddenInput {
  display: none;

  &:focus + div {
    border: 1px solid $dark-grey;
  }
}
