@layer components {
  .checkbox {
    appearance: none;
    background-color: var(--checkbox-background-color, var(--color-white));
    border: 1px solid var(--checkbox-border-color, var(--color-grey));
    cursor: pointer;
    height: var(--checkbox-side-size, 13px);
    width: var(--checkbox-side-size, 13px);
    transition: background-color 0.1s ease-in-out;
  }
  
  .checkbox:checked:not(:disabled) {
    background-color: var(--checkbox-checked-background-color, var(--color-green));
  }
  
  .checkbox:not(:checked) {
    background-color: var(--checkbox-unchecked-background-color, var(--color-white));
  }
  
  .checkbox:disabled {
    border-color: var(--checkbox-disabled-border-color, var(--color-medium-light-grey));
    background-color: var(--checkbox-disabled-background-color, var(--color-light-grey));
    cursor: default;
    pointer-events: none;
  }
}
