@import 'src/styles/common';

.checkboxHolder {
  display: grid;
  grid-template-columns: 27px 1fr;
}

.defaultCheckbox {
  cursor: pointer;
  justify-self: center;
  height: 14px;
  width: 14px;
  border: 1px solid $grey;
  background-color: $white;
  transition: background-color 0.1s ease-in-out;
  margin-top: 7px;

  & + label {
    cursor: pointer;
    font-weight: $light;
  }
}

.unchecked {
  background-color: $white;
}

.checked {
  background-color: $green;
}

.disabled {
  background-color: $light-grey;
  cursor: default;

  & + label {
    cursor: default;
  }
}

.defaultLabel {
  color: $black;
  line-height: 30px;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 2px;
  max-width: calc(100% - 17px);
  word-wrap: break-word;
}

.hiddenInput {
  display: none;

  &:focus + div {
    border: 1px solid $dark-grey;
  }
}
