@import 'src/styles/common';

.browserRegionEditor {
  position: relative;

  label {
    margin-left: 10px;
  }

  input {
    width: 120px;
  }

  .inputGroup {
    display: inline-block;
    position: relative;
  }
}

.submitButton {
  display: inline-block;
  visibility: hidden;
  margin-left: 10px;

  img {
    height: 18px;
    width: 18px;
  }

  &Visible {
    visibility: visible;
  }
}

.overlay {
  background-color: rgba(241, 242, 244, 0.7);
}
