.container {
  grid-row: results;
  height: 100%;
  padding-top: 4em;;
  width: max-content;
  overflow-y: hidden;
}

.scrollWrapper {
  height: 100%;
  overflow-y: auto;
  display: flex;
  padding-right: 1rem;
  flex-direction: column;
  row-gap: 2.5rem;
  width: max-content;
  padding-bottom: var(--global-padding-bottom);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}

.sectionTitle {
  font-size: 14px;
}

.genomes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}