@import 'src/styles/common';

.blastViewsNavigation {
  display: grid;
  grid-template-columns: [left] auto [notice] 1fr [right] auto;
  column-gap: 1.5rem;
  align-items: center;
  max-width: var(--blast-container-max-width);
}

.title {
  font-size: 16px; // TODO: this is a title repeated in another component; extract as a common variable
  font-weight: bold;
  margin: 0;
}

.wrapperLeft {
  display: flex;
  column-gap: 46px;
  align-items: center;
}

.wrapperRight {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.leftColumn {
  grid-column: left;
}

.rightColumn {
  grid-column: right;
  justify-self: end;
}

.resultsAvailabilityNotice {
  grid-column: notice;
  text-align: right;
  line-height: 1;
  color: $black;
  font-weight: $light;
}
