.openChromatinPeak {
  border: 1px solid var(--color-black);
}

.openChromatinSignal {
  background: linear-gradient(to right, var(--color-medium-light-grey), var(--color-medium-dark-grey), var(--color-dark-grey), var(--color-medium-light-grey));
}

.histone {
  align-items: center;
}

.histoneMarker {
  height: 2px;
}