// TODO: perhaps consider common variable for left margin (it will be the same for SearchPanel

$buttons-per-row: 14;
$gap-width: 1.5rem; // width of the gap between the buttons
$button-width: 56px; // width of a popular species button
$popular-species-block-width: calc(
  14 * #{$button-width} + #{$buttons-per-row} * #{$gap-width}
);

.layout {
  padding-left: 100px;
  padding-top: $button-width; // FIXME this will have to change
}

.popularSpeciesList {
  width: 100%;
  max-width: $popular-species-block-width;
}
