.biomartPreviewTableGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: var(--biomart-container-max-width);
}

.biomartPreviewTableContainer {
  width: 100%;
  overflow: hidden;
  padding: 10px 45px;
  box-sizing: border-box;
}

.biomartPreviewTable {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.biomartPreviewTableHeaderRow {
  display: table-row;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  color: #0099ff;
}

.biomartPreviewTableRow {
  display: table-row;
}

.biomartPreviewTableCell {
  display: table-cell;
  padding: 10px;
  text-align: left;
}

.biomartCloseButtonContainer {
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
}
