.label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.label > *:not(:last-child, .itemsCount) {
  margin-right: 12px;
}

.labelText {
  line-height: 1;
}

.labelTextStrong {
  font-weight: var(--font-weight-bold);
}

.labelTextSecondary {
  font-size: 11px;
  font-weight: var(--font-weight-light);
}

.labelTextSecondaryStrong {
  font-size: 11px;
}

.colourMarker {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.itemsCount {
  margin-right: 0.4rem;
}

.itemsExpandLozenge {
  --pill-button-font-size: 11px;
  display: flex;
  column-gap: 5px;
  padding: 4px 10px;
}
