@import 'src/styles/common';

.main {
  color: $ens-black;
  margin-left: 2em;
  line-height: 2.5em;
}

.placeholderMessage {
  font-size: 14px;
}

.genomeBrowserLinkContainer {
  margin-left: 1.2rem;
  display: inline-block;
  color: $ens-blue;
}
