@import 'src/styles/common';

.main {
  margin-left: 2em;
}

.placeholderMessage {
  color: $ens-grey;
}

.genomeBrowserLinkContainer {
  margin-left: 1.2rem;
  display: inline-block;
  color: $ens-blue;
}
