@import 'src/styles/common';

.top,
.main {
  color: $ens-black;
}

.main {
  margin-left: 2em;
}

.placeholderMessage {
  font-size: 14px;
}

.genomeBrowserLinkContainer {
  margin-left: 1.2rem;
  display: inline-block;
  color: $ens-blue;
}
