@import 'src/styles/common';

.clearButton {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }
}

.clearButtonInverted {
  background-color: $blue;
  border: none;

  svg {
    width: 56%;
    height: 56%;
    fill: $white;
  }
}
