@import 'src/styles/common';

.clearButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 2px solid $blue;
  border-radius: 50%;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  svg {
    width: 66%;
    height: 66%;
    fill: $blue;
  }
}

.clearButtonInverted {
  background-color: $blue;
  border: none;

  svg {
    width: 56%;
    height: 56%;
    fill: $white;
  }
}
