@import 'src/styles/common';

.trackPanelTabs {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  margin-left: 44px;
  padding-right: 5px;
  width: 312px;
}

.trackPanelTab {
  button {
    color: $dark-blue;
  }
}

.trackPanelTabActive {
  button {
    color: inherit;
  }
}

.trackPanelTabDisabled {
  button {
    color: $dark-grey;
    cursor: default;
  }
}
.trackPanelTabArrow {
  position: relative;

  &::after {
    border: 6px solid $grey;
    border-color: transparent transparent $light-grey $light-grey;
    box-shadow: -2px 2px 2px 0 $grey;
    box-sizing: border-box;
    content: '';
    height: 0;
    position: absolute;
    right: calc(60% - 6px);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    top: 24px;
    width: 0;
  }
}
