@import 'src/styles/common';

.trackPanelTabs {
  display: flex;
  font-size: 14px;
  justify-content: space-around;
}

.trackPanelTab {
  color: $blue;
  cursor: pointer;
}

.trackPanelTabDisabled {
  color: $dark-grey;
  cursor: default;
}

.trackPanelTabActive {
  color: $black;
  position: relative;
  cursor: default;

  &::after {
    border: 6px solid $grey;
    border-color: transparent transparent $light-grey $light-grey;
    box-shadow: -2px 2px 2px 0 $grey;
    box-sizing: border-box;
    content: '';
    height: 0;
    position: absolute;
    right: calc(60% - 6px);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    top: 28px;
    width: 0;
  }
}
