@import 'src/styles/common';

.closeButton {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  cursor: pointer;
}

.icon {
  font-size: 0; // to make the height of the svg independent on font-size settings

  circle {
    fill: $blue;
  }

  path {
    fill: white;
  }
}
