@import 'src/styles/common';

.regionName {
  fill: $black;
  font-size: 10px;
}

.backbone {
  fill: $medium-dark-grey;
}

.hit {
  fill: $black;
  opacity: 0.3;
}

.topHit {
  stroke: red;
  fill: none;
}

.diagramLegend {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 14px;
  align-items: center;
}

.diagramLegendLabel {
  font-size: 12px;
  font-weight: $light;
}

.diagramLegend > svg {
  width: 13px;
  overflow: visible;
}

.regionsExpandToggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.regionsExpandToggle > span {
  font-size: 12px;
  font-weight: $light;
  margin-right: 10px;
}
