.badgedButton {
  position: relative;
  display: inline-block;
}

.badgeDefault {
  position: absolute;
  background-color: var(--color-green);
  height: 26px;
  min-width: 26px;
  top: -13px;
  right: -13px;
  font-weight: 700;
  padding: 2px 0 0 0;
  color: var(--color-white);
  border-radius: 13px;
  text-align: center;
  cursor: pointer;
}
