.browserLocationIndicator {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  font-size: 14px;
}

.circularIndicator {
  background: var(--color-grey);
  display: inline-block;
  margin: 0 0.5em;
  padding: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.chrLocationView {
  display: flex;
  align-items: center;
}

.regionNameContainer {
  display: inline-block;
  position: relative;
  margin-right: 0.5em;
}

.regionName {
  color: var(--color-grey);
}

.chrSeparator {
  margin: 0 2px;
}

.chrRegion {
  color: var(--color-dark-grey);
  display: inline-block;
}

.probeAnchor {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(14px * 1.5); /* font size of the element times the line height */
}

.probe {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  visibility: hidden;
}
