<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unsupported browser</title>
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      margin: 0;
    }

    main {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 32px
    }
  </style>
</head>

<body>
  <main>
    <div>
      Looks like your browser is not supported
    </div>
  </main>
</body>

</html>
