@import 'src/styles/common';

.linkHolder {
  margin: 5px 0 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    font-weight: $normal;
  }
}

.previouslyViewedType {
  color: $dark-grey;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 300;
}

.previouslyViewedVersionedStableId {
  margin-left: 8px;
}

.title {
  font-size: 14px;
  margin: 5px 0 10px 10px;
  font-weight: $bold;
}

.sectionTitle {
  color: $dark-grey;
  font-size: 12px;
  border-bottom: 1px solid $grey;
  margin-bottom: 15px;
  position: relative;
  margin-top: 20px;

  .ellipsis {
    position: absolute;
    right: 5px;
    top: -2px;
    width: 25px;
  }
}
