@import 'src/styles/common';

.trackPanelBookmarks {
  margin-left: 10px;
}

.linkHolder {
  margin-top: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    font-weight: $normal;
  }
}

.objectType {
  color: $dark-grey;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 300;
}

.objectId {
  margin-left: 8px;
}

.title {
  font-size: 14px;
  margin: 5px 0 25px 0;
  font-weight: $bold;
}

.more {
  font-size: 12px;
  margin-top: 25px;
  cursor: pointer;
  color: $blue;
  font-weight: $normal;
}
