@import 'src/styles/common';

.appBar {
  display: grid;
  grid-template-columns: minmax(80%, 1fr) minmax(150px, auto);
  grid-template-areas:
    'top top'
    'main right';
  font-size: 12px;
  padding: 8px 20px;
  min-height: 80px;
}

.appBarTop {
  grid-area: top;
  min-height: 30px;
}

.appBarMain {
  grid-area: main;
  margin-left: 2em;
  max-width: 100%;
}

.appBarRight {
  grid-area: right;
}

.helpLink {
  flex: 0 1 auto;
  position: relative;
  top: 5px;
  margin-left: 2em;

  a {
    color: $black;
    font-size: 12px;
    font-weight: $light;
  }

  img {
    height: 14px;
    margin-left: 5px;
    width: 14px;
  }
}
