@import 'src/styles/common';

.appBar {
  font-size: 12px;
  padding: 8px 20px;
  width: 100%;
  min-height: 80px;

  .appBarTop {
    margin-bottom: 12px;
  }

  .appBarBottom {
    display: flex;
    margin-left: 2em;
  }
}

.helpLink {
  flex: 0 1 auto;
  position: relative;
  top: 5px;

  a {
    color: $ens-black;
    font-size: 12px;
    font-weight: $light;
  }

  img {
    height: 14px;
    margin-left: 5px;
    width: 14px;
  }
}
