@import 'src/styles/common';

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 16px;
  align-items: center;
}

.speciesIcon {
  width: 60px;
  height: 60px;
  border: 1px solid $blue;
  padding: 6px;

  [class*='text'] {
    fill: white;
  }
}

.speciesLabel {
  display: flex;
  align-items: baseline;
  white-space: nowrap;

  & > * {
    flex: 0 0 auto;
  }
}

.speciesName {
  font-size: 16px;
  font-weight: $bold;
  line-height: 1;
  margin: 0;
}

.assemblyName {
  font-size: 11px;
  margin-left: 8px;
  line-height: 1;
}
