@import 'src/styles/common';

$container_max_width: 1770px;

.resultsContainer {
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr);
  height: 100%;
}

.mainContainer {
  overflow: auto;
  scrollbar-gutter: stable;
  padding: var(--blast-page-standard-padding);
  height: 100%;
}

.blastSubmissionResultsContainer {
  max-width: $container_max_width;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  max-width: $container_max_width;
  padding: 1rem 0 2rem;
}
