.container {
  --alert-icon-diameter: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  row-gap: 34px;
}

.container p {
  margin: 0;
  text-align: center;
}

.container p:not(:first-child) {
  margin-top: 0.6rem;
}

.errorText {
  color: var(--color-red);
}
