@import 'src/styles/common';

.questionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border: 2px solid $ens-blue;
  border-radius: 50%;
  cursor: pointer;

  svg {
    width: 70%;
    height: 70%;
    fill: $ens-blue;
  }
}
