@import 'src/styles/common';

$columnWidth: 230px;
$columnGap: 60px;
$rowGap: 60px;

.instructionsPanel {
  display: flex;
  background-color: $light-grey;
  min-height: 235px;
  padding: 29px $global-padding-left;
  box-shadow: 0 3px 5px $global-box-shadow;
}

.instructionsWrapper {
  display: grid;
  grid-template-columns: repeat(4, #{$columnWidth});
  grid-column-gap: $columnGap;
  grid-row-gap: $rowGap;
  max-width: calc(4 * #{$columnWidth} + 3 * #{$columnGap});
}

.description {
  display: flex;
  align-items: center;
  --app-icon-bg-color: #{$dark-grey};

  .iconLabel {
    margin-left: 12px;
  }
}

.searchIcon {
  width: 30px;
  height: 30px;
  fill: $dark-grey;
}

.searchDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  color: $dark-grey;
}

.speciesSelectorButton {
  margin-left: 40px;
  align-self: start;
  justify-self: start;
}

@media (max-width: 2 * $global-padding-left + 4 * $columnWidth + 3 * $columnGap) {
  .instructionsWrapper {
    grid-template-columns: repeat(2, #{$columnWidth});
  }
  .speciesSelectorButton {
    margin-left: 0;
  }
}
