.noResults {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.noResults p {
  margin: 0;
}

/* Using the :where selector to drop selector specificity, so that it does not compete with .speciesCount class */
:where(.noResults p:first-child) {
  font-size: 12px;
  font-weight: var(--font-weight-light);
}

.speciesCount {
  font-weight: var(--font-weight-bold);
  padding: 0 0.5ch;
}

.resultsWrapper {
  height: 100%;
  width: 800px;
  max-width: 100%;
  overflow-y: auto;
}

.resultsTable {
  width: 100%;

  --table-background: var(--color-light-grey);
}

.resultsTable th {
  text-align: left;
  box-shadow: inset 0 -1px 0 var(--table-head-border-color, var(--color-blue)); /* same as in Table.module.css */
  padding: 0 0.5rem 0.4rem 1rem;
  font-size: 12px;
  font-weight: var(--font-weight-light);
}

.resultsTable td {
  padding: 0.4rem 0.5rem 0.4rem 1rem;
  border-bottom: 1px solid var(--color-medium-light-grey);
  vertical-align: top;
}

.resultsTable .tableHeaderForButton {
  text-align: center;
}

.resultsTable .tableCellForButton {
  vertical-align: middle;
}

.resultsTable .tableHeaderForButton,
.resultsTable .tableCellForButton {
  padding-left: 0;
}

.speciesName [data-part="common-name"],
.speciesName [data-part="scientific-name"],
.speciesName [data-part="assembly-id"] {
  font-weight: normal;
}

.speciesName [data-part="assembly-name"] {
  font-size: 11px;
  font-weight: var(--font-weight-light);
}

.resultLabel {
  white-space: nowrap;
}

.geneSymbol {
  font-weight: var(--font-weight-bold);
  margin-right: 8px;
}

.transcriptSymbol {
  margin-left: 8px;
}

.appIcon {
  --app-icon-bg-color: var(--color-blue);
  display: flex;
  width: 25px;
  height: 25px;
  margin: auto;
}

.capitalized {
  text-transform: capitalize;
}