@import 'src/styles/common';

.circleLoader {
  display: var(--circle-loader-display, inline-block);
  border-radius: 100%;
  animation: loader-spin 1.3s linear infinite;
  border-style: solid;
  border-color: $grey;
  border-top-color: $red;
}

.circleLoaderDefault {
  width: var(--circle-loader-diameter, 40px);
  height: var(--circle-loader-diameter, 40px);
  border-width: var(--circle-loader-border-width, 3px);
}

.circleLoaderSmall {
  width: var(--circle-loader-diameter, 30px);
  height: var(--circle-loader-diameter, 30px);
  border-width: var(--circle-loader-border-width, 2px);
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}
