.buttonWrapper {
  position: relative;
  display: inline-block;
}

.invisible {
  visibility: hidden;
}

.loadingIndicator, .successIndicator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

// .successIndicator {

// }

// .failureIndicator {

// }
