.button {
  display: flex;
  column-gap: 12px;
  align-items: center;
  color: var(--color-blue);
}

.button:disabled {
  color: var(--color-grey);
}

.chevronContainer {
  --chevron-fill: white;
  padding: 3px 2px;
  background-color: var(--color-blue);
}

.button:disabled .chevronContainer {
  background-color: var(--color-grey);
}