@import 'src/styles/common';

.track {
  display: flex;
  font-size: 12px;
  margin-left: 0;
  padding: 4px 10px;

  img {
    height: 16px;
    width: 16px;
  }

  .chevron {
    margin-left: 8px;
    height: 6px;
  }

  &:hover,
  &.trackHighlighted {
    background: $ice-blue;
  }

  &.main {
    font-weight: $bold;
  }

  label {
    width: calc(100% - 50px);

    button {
      margin-left: 0;
    }

    .mainText {
      margin-right: 10px;
    }

    .selectedInfo {
      color: $black;
      display: inline-block;
      font-size: 10px;
      font-weight: $normal;
      margin-right: 10px;
    }

    .additionalInfo {
      display: inline-block;
      font-size: 10px;
      font-weight: $light;
    }
  }

  .box {
    border: 1px solid;
    display: inline-block;
    height: 11px;
    margin-right: 10px;
    position: relative;
    top: 1px;
    width: 11px;

    &.blue {
      background: $blue;
      border-color: $blue;
    }

    &.darkGrey {
      background: $dark-grey;
      border-color: $dark-grey;
    }

    &.grey {
      background: $grey;
      border-color: $grey;
    }

    &.white {
      background: $white;
    }
  }
}

.ellipsisHolder {
  height: 16px;
  width: 16px;
}

.eyeHolder {
  height: 16px;
  width: 16px;
  margin-left: 15px;
}

.selected {
  svg {
    fill: $blue;
  }
}

.unselected {
  svg {
    fill: $grey;
  }
}
