@import 'src/styles/common';

.track {
  display: grid;
  grid-template-columns: 1fr [controls] auto;
  align-items: center;
  font-size: 12px;
  margin-left: 0;
  padding: 4px 10px;
  white-space: nowrap;

  &WithChildren {
    grid-template-columns: auto 1fr [controls] auto;
  }

  &:hover,
  &.trackHighlighted {
    background: $ice-blue;
  }

  .box {
    display: inline-block;
    height: 12px;
    margin-right: 10px;
    position: relative;
    top: 1px;
    width: 12px;

    &.blue {
      background: $blue;
    }

    &.darkGrey {
      background: $dark-grey;
    }

    &.lightGrey {
      background: $medium-light-grey;
    }
  }
}

.labelTextPrimary {
  margin-right: 10px;
}

.main {
  .labelTextPrimary {
    font-weight: $bold;
  }
}

// TODO: would sure be nice to rename this class
.selectedInfo {
  color: $black;
  font-size: 11px;
  font-weight: $normal;
  margin-right: 10px;
}

// TODO: would sure be nice to rename this class
.additionalInfo {
  font-size: 11px;
  font-weight: $light;
}

.controls {
  display: flex;
  grid-column: controls;
  margin-left: 15px;

  & > * {
    flex: 0 0 auto;
  }
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.chevronWrapper {
  justify-self: start;
}

.chevron {
  margin-left: 8px;
  height: 6px;
}

.ellipsisHolder {
  height: 16px;
  width: 16px;
}

.eyeHolder {
  height: 16px;
  width: 16px;
  margin-left: 15px;
}

.selected {
  svg {
    fill: $blue;
  }
}

.unselected {
  svg {
    fill: $grey;
  }
}
