@import 'src/styles/common';

.trackPanelList {
  border-left: 1px solid $ens-medium-grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 15px;
  width: 320px;

  &.shorter {
    height: calc(100vh - 177px);
  }

  &.taller {
    height: calc(100vh - 129px);
  }

  h4 {
    border-bottom: 1px solid $ens-grey;
    color: $ens-grey;
    font-size: 10px;
    padding-bottom: 2px;
  }
}
