@import 'src/styles/common';

.trackPanelList {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  background: $white;

  h4 {
    border-bottom: 1px solid $grey;
    color: $grey;
    font-size: 10px;
    padding-bottom: 2px;
  }
}

.emptyListMsg {
  font-size: 12px;
  margin-left: 0;
  padding: 4px 10px;
}
