@container (width < 600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      'label'
      'input'
      'controls';
  }
}

.label {
  --icon-width: 22px;
  --distance-from-icon: 8px;
  padding-left: calc(var(--icon-width) + var(--distance-from-icon));
  position: relative;
}

.searchIcon {
  fill: var(--color-black);
  width: var(--icon-width);
  aspect-ratio: 1;
  position: absolute;
  left: 0;
}

.labelDisabled {
  color: var(--color-medium-dark-grey);
}

.labelDisabled svg {
  fill: var(--color-medium-dark-grey);
}