@import 'src/styles/common';

.topLevelContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  max-width: 1800px;
}

.topLevel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 0 25px 3px 0;
  font-size: 16px;
}

.runJob {
  font-weight: $bold;
  margin-right: 35px;
}

.select label {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 10px;
}

.parametersColumn .select label {
  grid-template-columns: 140px 70px;
  text-align: right;
}

.parametersColumn .matrixSetting .select label {
  grid-template-columns: 140px 110px;
}

.blastSubmissionName label span,
.select label span {
  font-weight: $light;
  line-height: 27px;
}

.bottomLevel {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 20px;
  margin-left: 104px;

  @media (max-width: 1610px) {
    margin-left: -10px;
  }
}

.bottomLevel > * {
  flex-basis: auto;
  white-space: nowrap;
}

.parametersColumn {
  display: grid;
  grid-template-rows: 40px 40px;
}

.blastJobBlock {
  display: inline-flex;
  align-items: center;
  column-gap: 30px;
  margin-left: 20px;
}

.blastSubmissionName label {
  display: inline-flex;
  column-gap: 11px;
  align-items: center;
  white-space: nowrap;
}

.checkboxesColumn {
  margin-left: 60px;

  @media (min-width: 1190px) and (max-width: 1490px) {
    margin-left: 150px;
  }
}
