@import 'src/styles/common';

.topLevel {
  display: flex;
  gap: 1rem;
}

.mainSettings {
  display: flex;
  gap: 1rem;
}

.mainSettings > * {
  flex: 0 0 auto;
}

.mainSettings select {
  flex: 0 0 auto;
}

.select label {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 10px;
}

.select label span {
  font-weight: $light;
  line-height: 27px;
}

.bottomLevel {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 0.6rem;
}

.bottomLevel > * {
  flex-basis: auto;
  white-space: nowrap;
}

.blastJobBlock {
  display: inline-flex;
  align-items: center;
  column-gap: 32px;
}

.blastJobName {
  display: inline-flex;
  column-gap: 24px;
  align-items: center;
  white-space: nowrap;
}
