.container + .container {
  margin-top: 46px;
}

.head {
  display: grid;
  grid-template-columns: [title] 300px 1fr;
  padding-left: var(--standard-gutter);
  padding-bottom: 12px;
}

.body {
  border: 1px solid var(--color-grey);
  padding-left: var(--standard-gutter);
  padding-right: var(--standard-gutter);
  padding-top: 24px;
  padding-bottom: 24px;
}

.bodyLoading {
  display: grid;
  grid-template-columns: [species-name] 300px [spinner] 1fr [status] auto;
  align-items: center;
}

.bodyAccepted {
  display: grid;
  grid-template-columns: [species-name] 300px [input-summary] 1fr [status] auto;
  column-gap: var(--standard-gutter);
  align-items: center;
}

.bodyAccepted:has(.submissionName) {
  grid-template-columns: [species-name] 300px [input-summary] minmax(20%, 292px) [submission-name] minmax(200px, 1fr) [status] auto;
}

.spinner {
  grid-column: spinner;
  justify-self: center;
  transform: translateX(calc(50% - 150px));
}

.labelLeft {
  margin-right: 10px;
}

.light {
  font-weight: var(--font-weight-light);
}

.smallLight {
  font-size: 12px;
  font-weight: var(--font-weight-light);
}

.inputSummary {
  grid-column: input-summary;
  word-wrap: break-word;
}

.submissionName {
  grid-column: submission-name;
}

.status {
  grid-column: status;
  font-weight: var(--font-weight-bold);
}

.statusRunning,
.statusFailed {
  color: var(--color-red);
}
