@import 'src/styles/common';

.defaultContainer {
  display: grid;
  grid-template-columns: [label] auto 5px [icon]12px 5px [link] 1fr;
  width: 100%;
}

.defaultLabel {
  grid-column: label;
}

.defaultIcon {
  grid-column: icon;
  svg {
    fill: $orange;
  }
}

.defaultLink {
  grid-column: link;
}
