@import 'src/styles/common';

.topBar {
  height: 40px;
  background-color: $light-grey;
  box-shadow: 0 3px 5px $global-box-shadow;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.alertButton {
  --alert-icon-diameter: 30px;
  font-size: 0;
}

.errorMessage {
  color: $red;
  font-weight: $bold;
  margin-top: 15px;
}

.suggestion {
  margin-top: 5px;
}

.continueButton {
  --button-link-color: #{$green};
}

.continueButtonWrapper {
  margin-top: 40px;
}
