@import 'src/styles/common';

.linkHolder {
  margin-top: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    font-weight: $normal;
  }
  .label {
    margin-right: 8px;
    span + span {
      margin-left: 8px;
    }
  }
}

.type {
  color: $dark-grey;
  font-size: 12px;
  font-weight: 300;
}

.more {
  margin-top: 25px;

  /* stylelint-disable no-descending-specificity */
  span {
    font-size: 12px;
    cursor: pointer;
    color: $blue;
    font-weight: $normal;
  }
}
