@import 'src/styles/common';

.textarea {
  border: none;
  padding: 7px;
  width: 100%;
  height: 85px; /* To display 5 lines of text */
  &:focus,
  &:active {
    outline: none;
  }
}

.disableResize {
  resize: none;
}

.shadedTextarea {
  box-shadow: inset 2px 2px 4px -2px $dark-grey;
  border: none;
  padding: 4px;
}
