@import 'src/styles/common';

.textarea {
  border: none;
  padding: 7px;
  width: 100%;
  height: 85px; /* To display 5 lines of text */
  &:focus,
  &:active {
    outline: none;
  }

  &::placeholder {
    color: $black;
    font-weight: $light;
  }
}

.disableResize {
  resize: none;
}

.shadedTextarea {
  box-shadow: $form-field-shadow;
  padding: 7px 15px;
  border: none;
}
