.panel {
  width: initial;
  min-height: 100%;
}

.panelBody {
  color: var(--color-black);
  min-height: 300px;
  margin-right: 30px;
  padding-bottom: 100px;
  z-index: 0; /* so that a tooltip brought up iside the body does not overlay the panel header when scrolling, but instead go behind the header */
}

.header {
  position: sticky;
  top: -5px;
  z-index: 1;
}

.defaultTabName {
  padding: 3px 30px;
}

.selectedTabName {
  background-color: transparent;
  color: var(--color-black);
  font-weight: var(--font-weight-bold);
}

.selectedTabName::after {
  content: '';
  position: absolute;
  border: 6px solid var(--color-grey);
  border-color: transparent transparent var(--color-light-grey) var(--color-light-grey);
  box-shadow: -2px 2px 2px 0 var(--global-box-shadow-color);
  width: 0;
  height: 0;
  box-sizing: border-box;
  left: calc(50% - 8px);
  transform-origin: 0 0;
  transform: rotate(-45deg);
  top: 28px;
}
