.panelBody {
  padding-bottom: var(--global-padding-bottom);
  color: var(--color-black);
}

.panelHead {
  position: sticky;
  top: -5px;
  color: var(--color-black);
  padding: 0 var(--standard-gutter);
}

.selectedTab {
  font-weight: var(--font-weight-bold);
}