.pseudoRadioGroup {
  --radio-label-font-weight: var(--font-weight-normal);
  display: flex;
  column-gap: 2rem;
  margin-left: var(--inner-block-offset-left);
}

.pseudoRadioDisabled > * {
  --radio-background-color: var(--color-light-grey);
  --radio-label-font-weight: var(--font-weight-light);
  cursor: default !important; /* yes, !important is terrible; but this is just a dummy component; no parent will need to override this */
}
