.pseudoRadioButton > * {
  cursor: default !important; /* yes, !important is a bad smell; but this is just a dummy component; and no parent will need to override this */
}

.pseudoRadioDisabled > * {
  --radio-background-color: var(--color-light-grey);
  --radio-label-font-weight: var(--font-weight-light);
}
