@import 'src/styles/common';

$rightCornerWidth: 40px;

.speciesSearchFieldWrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 485px;

  // nesting to increase specificity of the selector (needs to override child rules)
  .speciesSearchField {
    width: 100%;
    background: $white;
    height: 36px;
    padding-left: 22px;
  
    input {
      &::placeholder {
        color: $grey;
      }
  
      &:focus {
        &::placeholder {
          color: white;
        }
      }
    }
  }
}

.speciesSearchFieldRightCorner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: $rightCornerWidth;
  height: 100%;
  padding-top: 1px;
}
