@import 'src/styles/common';

$rightCornerWidth: 40px;

.speciesSearchFieldWrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 4px;
  width: 100%;
  max-width: 485px;
  height: 40px;
  box-shadow: inset 2px 2px 4px -2px $ens-dark-grey;
  background: white;
}

.speciesSearchField {
  width: 100%;
  background: $ens-white;
  padding-left: 18px;
  border: none;

  input {
    &::placeholder {
      color: $ens-grey;
    }

    &:focus {
      &::placeholder {
        color: white;
      }
    }
  }
}

.speciesSearchFieldRightCorner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: $rightCornerWidth;
  height: 100%;
  padding-top: 1px;
}
