@import 'src/styles/common';

.trackPanelWrapper {
  @include flex;
  position: absolute;
  right: 0;
  transition: all 0.5s linear;
}

.closedTrackPanelWrapper {
  @include flex;
  position: absolute;
  right: -320px;
  transition: all 0.5s linear;
}

.trackPanel {
  @include flex;
  position: relative;
}
