@import 'src/styles/common';

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tab {
  cursor: default;
  &Unselected {
    cursor: pointer;
    color: $blue;
  }
}

.defaultTab {
  background-color: transparent;
  color: $blue;
  border-radius: 3px;
  margin-right: 3px;
  height: 30px;
  border: none;
}

.disabledTab {
  color: $grey;
}

.selectedTab {
  background-color: transparent;
  color: $black;
  &::after {
    border: 6px solid $grey;
    border-color: transparent transparent $light-grey $light-grey;
    box-shadow: -2px 2px 2px 0 $grey;

    width: 0;
    height: 0;
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    top: 29px;
  }
}

.tabsContainer {
  height: 23px;
  overflow: unset;
  padding-bottom: 23px;
}
