@import 'src/styles/common';

.container {
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr);
  height: 100%;
  position: relative;
}

.mainContainer {
  height: 100%;
  padding-left: 65px;
  padding-right: 10px;
}

.mainContainerSmall {
  overflow: auto;
  scroll-behavior: smooth;
  padding-bottom: 90px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 45px;
  padding-bottom: 90px;
  overflow: auto;
  scroll-behavior: smooth;
  height: 100%;
}

.speciesSelectorContainer {
  display: flex;
  flex-direction: column;
}

.blastFormStepToggle {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  max-width: 1770px; //TODO: To replace with global variables for spaces on the blast form (see ENSWBSITES-1602)
  margin-left: -2px;
  padding: 20px 0 20px 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.buttonActive {
  background-color: $black;
  border-color: $black;
}
