@import 'src/styles/common';

.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
}

.mainContainer {
  height: 100%;
  padding: 0px 65px;
  overflow: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 45px;
  height: 100%;
}

.speciesSelectorContainer {
  display: flex;
  flex-direction: column;
}
