@import 'src/styles/common';

.container {
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr);
  height: 100%;
  position: relative;
}

.mainContainer {
  height: 100%;
}

.mainContainerSmall {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  padding: var(--blast-page-standard-padding);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 45px;
  padding: var(--blast-page-standard-padding);
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  height: 100%;
}

.speciesSelectorContainer {
  display: flex;
  flex-direction: column;
}

.blastFormStepToggle {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.buttonActive {
  background-color: $black;
  border-color: $black;
}
