@import 'src/styles/common';

.linkHolder {
  margin: 5px 0 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.entityType {
  color: $dark-grey;
  margin-left: 8px;
  font-size: 12px;
  font-weight: $light;
}

.title{
  font-size: 14px;
  margin: 5px 0 25px 10px;
  font-weight: $bold;
}

.entityId {
  margin-left: 8px;
}
