@import 'src/styles/common';

.entityViewerSidebarModal {
  position: relative;
  height: 100%;
  overflow: auto;

  h3 {
    font-size: 14px;
  }

  p {
    margin-bottom: 30px;
  }
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
}

.sectionTitle {
  color: $dark-grey;
  font-size: 12px;
  border-bottom: 1px solid $grey;
  margin-bottom: 15px;
  position: relative;
  margin-top: 20px;
  font-weight: $light;
}
