.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.appIconWrapper {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 1rem;
  align-items: center;
  white-space: nowrap;
  --app-icon-bg-color: var(--color-blue);
}
