
.toolbox {
  background: var(--color-black);
  padding: 12px 20px;
  filter: drop-shadow(2px 2px 3px var(--shadow-color));
  cursor: default;
  color: var(--color-white);
  min-height: 40px;
  font-size: 13px;
}

.tooltipTip {
  fill: var(--color-black);
}
