@import 'src/styles/common';

.wrapper {
  max-width: 500px;
}

.greyWrapper {
  background-color: $light-grey;
}

.customizedInput {
  color: rosybrown;
  font-size: 36px;
  font-weight: bold;
  padding: 16px;
}
