@import 'src/styles/common';

.visibilityIcon {
  --image-button-unselected-svg-color: #{$grey};

  --image-button-selected-bg-color: transparent;
  --image-button-selected-svg-color: #{$blue};
}

.visibilityIconPartiallySelected {
  svg {
    [class*='leftHalf'] {
      fill: $grey;
    }
  }
}
