@import 'src/styles/common';

.selected {
  svg {
    fill: $blue;
  }
  &svg:hover {
    opacity: 0.8;
  }
}

.unselected {
  svg {
    fill: $grey;
  }
  &svg:hover {
    opacity: 0.8;
  }
}

.partiallySelected {
  svg {
    fill: $blue;
    [class*='rightHalf'] {
      fill: $grey;
    }
  }
}
