@import 'src/styles/common';

.checkboxHolder {
  position: relative;
  display: flex;
}

.defaultCheckbox {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border: 1px solid $grey;
  background-color: $white;
  transition: background-color 0.1s ease-in-out;
  float: left;
  margin-top: 2px;

  & + label {
    cursor: pointer;
  }
}

.unchecked {
  background-color: $white;
}

.checked {
  background-color: $green;
}

.disabled {
  background-color: $light-grey;
  cursor: default;

  & + label {
    cursor: default;
  }
}

.defaultLabel {
  color: $black;
  line-height: 30px;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 2px;
  float: left;
  max-width: calc(100% - 17px);
  margin-top: -5px;
  word-wrap: break-word;
}

.hiddenInput {
  display: none;

  &:focus + div {
    border: 1px solid $dark-grey;
  }
}
