.grid {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 172px;
  align-items: center;
  padding-left: 26px; // TODO: seems to be a constant shared with sequence boxes (see ListedBlastSubmission.scss)
  padding-top: 20px;
  margin-bottom: 14px;
  white-space: nowrap;
}
