@import 'src/styles/common';

.topBar {
  @include top-bar-container;
  @include top-bar-unstack;

  color: $white;
  padding: 2px 20px;
}

.homeLink {
  display: inline-block;
  font-size: 14px;
  font-weight: $global-weight-bold;

  a {
    color: $ens-white;
  }

  img {
    bottom: 2px;
    height: 16px;
    margin-right: 2px;
    position: relative;
    width: 16px;
  }
}

.strapline,
.copyright {
  display: none;
  font-size: 11px;
  margin-left: 30px;

  @include breakpoint(medium) {
    display: inline-block;
  }

  a {
    color: $ens-blue;
  }
}
