@import 'src/styles/common';

.deleteConfirmationContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 30px;
  margin: 20px 0px;
}

.warningText {
  color: $red;
}

.clickable {
  color: $blue;
  cursor: pointer;
}
