@import 'src/styles/common';

.deleteConfirmationContainer {
  display: flex;
  align-items: center;
  justify-content: var(--container-justify-content, flex-end);
  column-gap: var(--container-column-gap, 30px);
  margin: var(--container-margin, 20px 0px);
}

.warningText {
  color: var(--warning-text-color, #{$red});
}

.clickable {
  color: var(--clickable-color, #{$blue});
  cursor: pointer;
}
