.transcriptStoryContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
  padding-bottom: 60px;
  background: var(--color-black);
}

.optionsContainer {
  margin-top: 1em;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem 2rem 1rem 1.5rem;
}

.optionsContainer label {
  display: block;
}

.optionsContainer input {
  margin-right: 0.5em;
}

.optionsGroup:not(:last-child) {
  margin-bottom: 1em;
}

.optionsGroupHeading {
  font-weight: bold;
  margin-left: -0.5rem;
}

.containerBlack {
  padding: 1em;
  background: var(--color-soft-black);
}
