@import 'src/styles/common';

.previewDownloadTable {
  border-collapse: collapse;
  width: calc(100vw - 140px);
  table-layout: fixed;
  margin-top: 10px;

  td {
    padding: 8px 0 8px 7px;
    font-size: 14px;
    vertical-align: top;
  }
}

.previewDownloadHeader {
  border-collapse: collapse;
  min-width: 50%;
  border-bottom: 1px solid $grey;
  color: $grey;

  td {
    padding: 8px 0 0px 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
  }

  td.species {
    width: 20%;
    color: $blue;
    line-height: 35px;
  }

  td.example {
    width: 40%;
    padding-left: 0;
  }

  td.filters {
    width: 40%;
    color: $blue;
    line-height: 35px;
  }
}

.previewDownload {
  height: calc(100vh - 300px);
  overflow: auto;
  position: relative;
}

.closeButton {
  position: absolute;
  right: 20px;
  top: 20px;
}

.exampleDataPanel {
  width: calc(100% - 30px);
}

.resultCounter {
  position: absolute;
  top: 10px;
  right: 100px;
  color: $black;
  font-size: 13px;
  span {
    font-weight: 700;
  }
}
