@import 'src/styles/common';
@import './selected-species-common';

.species {
  @include selected-species-common;
  border: 1px solid $blue;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // flex-grow: 0;
  // flex-shrink: 1;
  // flex-basis: auto;
  // transition: flex-shrink 200ms;
}

.name,
.assembly {
  color: $black;
}

.speciesActive {
  background-color: $black;
  border: none;
  cursor: default;
}

.nameActive,
.assemblyActive {
  color: $white;
}
