.appBar {
  display: grid;
  align-items: center;
  height: 80px;
  padding-left: 44px;
  grid-template-columns: 100px auto;
}

.appBar .conversationIcon {
  justify-self: end;
  height: 24px;
  margin-top: 29px;
  margin-right: 20px;
}

.spinnerContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.articleGrid {
  /* override grid-template-columns rule in HelpArticleGrid css */
  /* to fit SocialMediaLinks component in the aside column */
  grid-template-columns: [main] minmax(auto, 980px) [aside] 300px;
}

.aside {
  display: grid;
  grid-template-rows: 1fr [social-media-links] auto;
}

.asideTitle {
  font-weight: var(--font-weight-light);
  margin-bottom: 1rem;
}

.socialMediaLinks {
  align-self: start;
  grid-row: social-media-links;
  margin-bottom: 60px;
}
