@import 'src/styles/common';

.strainSelector {
  position: relative;
  display: inline-block;
  color: $ens-white;
  font-size: 12px; // FIXME
  font-weight: 700;
  padding: 4px 6px;
  background-color: $ens-blue;
  border-radius: 4px;
  box-shadow: 2px 2px 5px $ens-grey;
  cursor: pointer;
  user-select: none;
}

.strainsList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 200px;
  cursor: default;
}

.strain {
  display: inline-block;
  color: $ens-blue;
  cursor: pointer;
}

.strainSelected {
  color: $ens-grey;
  cursor: default;
}
