@import 'src/styles/common';

$sidebarContentWidth: 320px;
$sidebarToolstripWidth: 46px;
$topbarHeight: 38px;
$drawerWindowWidth: 45px;

.standardAppLayout {
  height: 100%;
  min-height: 550px; // based on the current interface of genome browser
  overflow: hidden;
}

.topbar {
  height: $topbarHeight;
  background: $light-grey;
  box-shadow: 0 2px 3px $grey;
  position: relative;
  padding-left: 18px;
  width: 100%;
  z-index: 10;

  &_withSidebarNavigation {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr $sidebarContentWidth;
    grid-column-gap: $sidebarToolstripWidth;
  }

  &_withoutSidebarNavigation {
    display: flex;
    align-items: center;

    & > div {
      padding-right: 1em;
    }
  }
}

.mainWrapper {
  height: calc(100% - #{$topbarHeight});
  position: relative;
}

.main {
  height: 100%;
  overflow: auto;

  &Default {
    margin-right: calc(#{$sidebarContentWidth} + #{$sidebarToolstripWidth});
  }

  &FullWidth {
    margin-right: $sidebarToolstripWidth;
  }
}

.sidebarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 5;
  transition: transform 0.3s ease-in-out;

  &Open {
    transform: translateX(
      calc(100% - #{$sidebarContentWidth} - #{$sidebarToolstripWidth})
    );
  }

  &DrawerOpen {
    transform: translateX(#{$drawerWindowWidth});
  }

  &Closed {
    transform: translateX(calc(100% - #{$sidebarToolstripWidth}));
  }
}

.instantaneous {
  transition: none;
}

.sidebar {
  flex: 0 0 auto;
  height: 100%;
  width: $sidebarContentWidth;
  border-left: 1px solid $grey;
  padding: 15px;
  background-color: white;
  overflow: auto;
}

.sidebarToolstrip {
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: $sidebarToolstripWidth;
  height: 100%;
  background: $light-grey;
  border-left: 1px solid $grey;
}

.sidebarToolstripContent {
  overflow-x: hidden;
}

.sidebarModeToggle {
  width: 22px;
  height: 22px;
  margin-bottom: 55px;
}

.sidebarModeToggleChevron {
  cursor: pointer;
  fill: $blue;

  &Open {
    transform: rotate(180deg);
  }
}

.sidebarTabs {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

.sidebarIcon {
  width: 22px;
  height: 22px;
  margin: 6px 6px 23px;
}

.drawer {
  height: 100%;
  flex-grow: 1;
  position: relative;
  padding: 15px calc(#{$drawerWindowWidth} + 26px) 15px 30px;
  border-left: solid $medium-light-grey 1px;
  background-color: white;
}

.drawerWindow {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  width: $drawerWindowWidth;
  height: 100%;
}

.drawerClose {
  position: absolute;
  right: calc(#{$drawerWindowWidth} + 10px);
  top: 10px;
}
