@import 'src/styles/common';

$sideBarContentWidth: 320px;
$sideBarToolStripWidth: 36px;
$topBarHeight: 32px;

.standardAppLayout {
  height: 100%;
  overflow: hidden;
}

.topBar {
  display: flex;
  align-items: center;
  height: $topBarHeight;
  background: $light-grey;
  box-shadow: 0 2px 3px $grey;
  position: relative;
  z-index: 200;
}

.mainWrapper {
  display: flex;
  height: calc(100% - #{$topBarHeight});
}

.main {
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
}

.sideBarWrapper {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  height: 100%;
  overflow: hidden;
  transition: width 0.2s ease-in-out;

  &Open {
    width: calc(#{$sideBarContentWidth} + #{$sideBarToolStripWidth});
  }

  &Closed {
    width: $sideBarToolStripWidth;
  }
}

.sideBar {
  flex: 0 0 auto;
  height: 100%;
  width: $sideBarContentWidth;
  border-left: 1px solid $grey;
}

.sideBarToolstrip {
  padding: 10px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: $sideBarToolStripWidth;
  height: 100%;
  background: $light-grey;
  border-left: 1px solid $grey;
}

.sidebarModeToggle {
  width: 22px;
  height: 22px;
}

.sidebarModeToggleChevron {
  cursor: pointer;

  &Open {
    transform: rotate(180deg);
  }
}
