@import 'src/styles/common';

// Avoiding modern CSS features like flexbox and CSS grid for wider browser support of this page

html,
body,
[class='ens-app'] {
  min-width: initial !important; // !important seems to be the only way to override the min-width set in styles/main.scss
}

.container {
  text-align: center;
  padding-top: 100px;
}

.section1 {
  margin-bottom: 55px;
}

.section2 {
  margin-bottom: 100px;
}

.section3 {
  padding-bottom: 100px;

  span {
    display: block;
  }
}

.diagramTitle {
  font-weight: $bold;
  margin-bottom: 0.6rem;
}

.diagram {
  width: 326px;
  margin: auto;
}

.diagram img {
  width: 100%;
}

.supportMessage {
  margin-bottom: 15px;
}

.supportedBrowsers {
  width: 100%;
  max-width: 460px;
  margin: auto;
}
