@import 'src/styles/common';

html,
body,
[class='ens-app'] {
  min-width: initial !important; // !important seems to be the only way to override the min-width set in styles/main.scss
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.section1 {
  margin-bottom: 55px;
}

.section2 {
  margin-bottom: 100px;
}

.section3 {
  padding-bottom: 100px;

  span {
    display: block;
  }
}

.diagramTitle {
  font-weight: $bold;
  margin-bottom: 0.6rem;
}

.supportMessage {
  margin-bottom: 15px;
}

.supportedBrowsers {
  display: flex;
}
