@import 'src/styles/common';

.account {
  border-bottom: 1px solid $ens-grey;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    color: $ens-grey;
    text-align: center;
  }
}
