@import 'src/styles/common';

.newTechErrorWrapper {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newTechMessage {
  margin-bottom: 3rem;
}

.errorLinkButton {
  background-color: $blue;
  color: $white;
  font-weight: $bold;
  padding: 8px 18px;
  border-radius: 4px;
}

.generalErrorScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.generalErrorHeader {
  justify-content: flex-start;
  flex: 0 0 auto;
}

.generalErrorTopMessage {
  font-weight: bold;
}

.generalErrorBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.generalErrorBottomMessage {
  font-size: 12px;
}

.reloadButton {
  padding-top: 40px;
}

.moreOptions {
  padding: 50px 0 20px 0;
}
.resetOption {
  color: $red;
  button {
    margin-top: 24px;
  }
}
.generalErrorImage {
  display: flex;
  font-size: 12px;

  .vennCircle {
    display: flex;
    width: 195px;
    height: 195px;

    .vennCircleLeft {
      display: flex;
      align-items: center;
      border-radius: 50%;
      background-color: rgba(183, 192, 200, 0.24);
      position: relative;
      left: 32px;
      text-align: right;

      span {
        margin-right: 83px;
        margin-left: 30px;
      }
    }
    .vennCircleRight {
      display: flex;
      align-items: center;
      border-radius: 50%;
      background-color: rgba(183, 192, 200, 0.24);
      position: relative;
      right: 32px;
      text-align: left;
      span {
        margin-right: 15px;
        margin-left: 30px;
      }
    }
    .infoIcon {
      padding-left: 19px;
      svg {
        fill: $red;
        width: 24px;
        height: 24px;
      }
    }
  }
  

  img {
    width: 170px;
    height: 170px;
  }
}
