@import 'src/styles/common';

/*
 TODO:
  Add a global layout component based on CSS grid:

  | HEADER  |
  | CONTENT |

  so that the area allotted to content is calculated automatically by the browser,
  and not specifically defined as currently is done below
*/

.content {
  &.shorter {
    height: calc(100% - 79px);
  }

  &.taller {
    height: calc(100% - 25px);
  }
}
