@import 'src/styles/common';

.content {
  &.shorter {
    min-height: calc(100vh - 73px);
  }

  &.taller {
    min-height: calc(100vh - 25px);
  }

  h2 {
    color: $ens-grey;
    margin-top: 35%;
    padding: 15px 0;
    text-align: center;
    width: 100%;
  }
}
