.help {
  display: grid;
  grid-template-rows: [appBar] auto [menu] auto [article-grid] minmax(0, 1fr);
  height: 100%;
}

.appBar {
  display: grid;
  align-items: center;
  height: 80px;
  padding-left: 44px;

  grid-template-columns: 100px auto;

  .conversationIcon {
    justify-self: end;
    height: 24px;
    margin-right: 20px;
    margin-top: 30px;
  }
}

.main {
  height: 100%;
  display: grid;
  padding-left: 44px;
  padding-top: 25px;
  grid-template-areas:
    'breadcrumbs breadcrumbs navigation'
    '.  article  article';
  grid-template-rows: 40px auto;
  grid-template-columns: 36px 1fr;

  .breadcrumbsContainer {
    grid-area: breadcrumbs;
  }

  .articleContainer {
    grid-area: article;
  }
}

.articleGrid {
  grid-row: article-grid;
}
