.help {
  display: grid;
  grid-template-rows: [app-bar] auto [menu] auto [article-grid] minmax(0, 1fr);
  height: 100%;
}

.appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: var(--double-standard-gutter);
  padding-right: var(--standard-gutter);
}

.rightCorner {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 24px;
  gap: 16px;
  margin-top: 30px;
}

.communicationButton {
  margin-top: 8px;
}

.main {
  height: 100%;
  display: grid;
  padding-left: var(--double-standard-gutter);
  padding-top: 25px;
  grid-template-areas:
    'breadcrumbs breadcrumbs navigation'
    '.  article  article';
  grid-template-rows: 40px auto;
  grid-template-columns: var(--standard-gutter) 1fr;
}

.breadcrumbsContainer {
  grid-area: breadcrumbs;
}

.articleContainer {
  grid-area: article;
  height: 100%;
  overflow-y: auto;
}

.articleGrid {
  grid-row: article-grid;
}
