.help {
  display: grid;
  grid-template-rows: [app-bar] auto [menu] auto [article-grid] minmax(0, 1fr);
  height: 100%;
}

.appBar {
  display: grid;
  align-items: center;
  height: 80px;
  padding-left: 44px;
  grid-template-columns: 100px auto;
}

.conversationIcon {
  justify-self: end;
  height: 24px;
  margin-right: var(--standard-gutter);
  margin-top: 30px;
}

.main {
  height: 100%;
  display: grid;
  padding-left: var(--double-standard-gutter);
  padding-top: 25px;
  grid-template-areas:
    'breadcrumbs breadcrumbs navigation'
    '.  article  article';
  grid-template-rows: 40px auto;
  grid-template-columns: var(--standard-gutter) 1fr;
}

.breadcrumbsContainer {
  grid-area: breadcrumbs;
}

.articleContainer {
  grid-area: article;
  height: 100%;
  overflow-y: auto;
}

.articleGrid {
  grid-row: article-grid;
}
