@import 'src/styles/common';

.pillButton {
  background: var(--pill-button-color, #{$blue});
  color: var(--pill-button-text-color, #{$white});
  font-size: var(--pill-button-font-size, 12px);
  font-weight: var(--pill-button-font-weight, #{$bold});
  padding: var(--pill-button-padding, 2px 8px);
  border-radius: var(--pill-button-border-radius, 14px);
}
