@import 'src/styles/common';

.browserBar {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

.browserResetWrapper {
  margin-right: 14px;
}

.browserLocationIndicatorWrapper {
  margin-left: auto;
}

.browserInfo {
  display: flex;
  flex-wrap: nowrap;
  font-size: 12px;
  margin: 0;

  label {
    color: $dark-grey;
    font-weight: $light;
  }

  .value {
    margin: 0 3px;
  }

  &.browserInfoExpanded {
    width: calc(100vw - 36px);

    @include for-big-desktop-up {
      width: calc(100vw - 356px);
    }
  }

  &.browserInfoGreyed {
    color: $dark-grey;
  }

  dd {
    margin-right: 10px;
    white-space: nowrap;
  }

  dl {
    overflow: hidden;

    &.browserInfoLeft {
      flex: 1 1 auto;
    }

    // &.browserInfoRight {
    //   flex: 0 1 auto;
    //   text-align: right;
    // }

    .ensObjectLabel {
      margin-left: 14px;
      text-transform: capitalize;

      .value {
        font-size: 13px;
        font-weight: $bold;
      }
    }
  }

  .navigator {
    margin: 0 10px 0 0;
    position: relative;
    top: -2px;

    img {
      height: 22px;
      width: 22px;
    }
  }
}
