.drawer {
  border-left: 1px solid $ens-black;
  width: calc(75% - 41px);

  .drawer-bar {
    @include flex;
    border-bottom: 1px dashed $ens-black;
    padding: 10px 15px;

    .page-list {
      margin: 0;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      width: 100%;

      dt {
        display: inline-block;
        margin-right: 15px;
        white-space: nowrap;
      }
    }

    .close {
      img {
        height: 24px;
        width: 24px;
      }
    }
  }

  .track-canvas {
    height: calc(100vh - 181px);
    overflow: scroll;

    h2 {
      @include flex;
      @include flex-align(center, middle);
      text-align: center;
    }

    section {
      height: calc(100vh - 181px);
      width: 100%;
      padding: 20px;
    }
  }
}
