// 1. Global
// ---------

$global-font-size: 14px;
$global-lineheight: 1.5;
$black: #17354e;
$white: #fefefe;
$body-background: $white;
$body-font-color: $black;
$body-font-family: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-padding-left: 100px;
$global-button-cursor: auto;

// Colour Palette
// ---------

$ens-black: #17354e;
$ens-shadow-color: rgba(0, 0, 0, 0.4);

$ens-light-blue: #e5f5ff; // text highlight
$ens-blue: #33adff; // blue on black
$ens-dark-blue: #0099ff; // blue on white

$ens-light-grey: #f1f2f4;
$ens-medium-light-grey: #d4d9de;
$ens-grey: #b7c0c8;
$ens-medium-dark-grey: #9aa7b1;
$ens-dark-grey: #6f8190;

$ens-red: #d90000;

$ens-green: #47d147;

$ens-white: #fff;

$global-box-shadow: $ens-medium-light-grey;

/* stylelint-disable */
:export {
  ens-black: $ens-black;
  ens-blue: $ens-blue;
  ens-light-blue: $ens-light-blue;
  ens-dark-blue: $ens-dark-blue;
  ens-red: $ens-red;
  ens-dark-grey: $ens-dark-grey;
  ens-medium-dark-grey: $ens-medium-dark-grey;
  ens-grey: $ens-grey;
  ens-medium-light-grey: $ens-medium-light-grey;
  ens-light-grey: $ens-light-grey;
  ens-green: $ens-green;
  ens-white: $ens-white;
  ens-shadow-color: $ens-shadow-color;
}
/* stylelint-enable */

$img-base-url: '/static/img';

// font weights

$light: 300;
$normal: 400;
$bold: 700;
$dark: 900;

// Base Typography
// ------------------

$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
