// 1. Global
// ---------

$global-font-size: 14px;
$global-lineheight: 1.5;
$black: #17354e;
$white: #fff;
$off-white: #fefefe;
$body-background: $off-white;
$body-font-color: $black;
$body-font-family: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-padding-left: 100px;
$global-button-cursor: auto;

// Colour Palette
// ---------
$shadow-color: rgba(0, 0, 0, 0.4);

$light-blue: #e5f5ff; // text highlight
$blue: #33adff; // blue on black
$dark-blue: #0099ff; // blue on white

$light-grey: #f1f2f4;
$medium-light-grey: #d4d9de;
$grey: #b7c0c8;
$medium-dark-grey: #9aa7b1;
$dark-grey: #6f8190;

$red: #d90000;

$green: #47d147;

$global-box-shadow: $medium-light-grey;

/* stylelint-disable */
:export {
  black: $black;
  blue: $blue;
  light-blue: $light-blue;
  dark-blue: $dark-blue;
  red: $red;
  dark-grey: $dark-grey;
  medium-dark-grey: $medium-dark-grey;
  grey: $grey;
  medium-light-grey: $medium-light-grey;
  light-grey: $light-grey;
  green: $green;
  white: $white;
  shadow-color: $shadow-color;
}
/* stylelint-enable */

$img-base-url: '/static/img';

// font weights

$light: 300;
$normal: 400;
$bold: 700;
$dark: 900;

// Base Typography
// ------------------

$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
