@import 'common';
@import 'fonts';
@import 'animation';

@include foundation-global-styles;
@include foundation-prototype-classes;
@include foundation-visibility-classes;

// apply a natural box layout model
html {
  box-sizing: border-box;
}

// inherit the natural box layout from html; allow box-sizing to easily change if necessary
*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

a {
  color: $ens-blue;
  text-decoration: none;

  &.inactive {
    color: #666;
  }
}

dl {
  margin: 0;
}

button {
  cursor: pointer;

  &.disabled {
    cursor: default;
  }
}

img {
  max-width: initial;
}
