@import 'common';
@import 'normalize';
@import 'fonts';
@import 'animation';

html,
body,
.ens-app {
  height: 100%;
}

a {
  color: $dark-blue;
  text-decoration: none;

  &.inactive {
    color: $dark-grey;
  }
}

dl {
  margin: 0;
}

button {
  cursor: pointer;

  &.disabled {
    cursor: default;
  }
}

img {
  max-width: initial;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

@media print {
  body {
    color-adjust: exact;
  }
}
