@import 'common';
@import 'fonts';
@import 'animation';

@include foundation-global-styles;
@include foundation-prototype-classes;
@include foundation-visibility-classes;

a {
  color: $ens-blue;
  text-decoration: none;

  &.inactive {
    color: #666;
  }
}

dl {
  margin: 0;
}

button {
  cursor: pointer;

  &.disabled {
    cursor: default;
  }
}

img {
  max-width: initial;
}

div[contenteditable] {
  color: $ens-blue;
  display: inline-block;

  &.content-editable-box {
    background: $ens-blue;
    color: $ens-white;
    font-weight: $bold;
    margin: 0 10px;
    padding: 1px 4px;
  }
}
