.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1ch;
}

.vcfString {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 1ch;
}

.vcfString > span {
  word-break: break-all;
}
