@import 'src/styles/common';

.overlayDefault {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 11; /* Need to go above the top bar */
}
