@import 'src/styles/common';

.default {
  position: relative;
  svg {
    height: 100%;
    width: 100%;
    fill: $ens-blue;
    cursor: pointer;
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
  }
}

.active {
  svg {
    fill: $ens-white;
    background: $ens-dark-blue;
  }
  &svg:hover {
    opacity: 0.8;
  }
}

.barIcon {
  width: 22px;
  height: 22px;
  margin: 6px 6px 15px;
}
