@import 'src/styles/common';

.trackPanelBar {
  background: $ens-light-grey;
  height: calc(100vh - 177px);
  width: 36px;

  &.expanded {
    height: calc(100vh - 129px);
  }

  .sliderButton {
    margin: 10px 0 30px 0;

    button {
      padding: 6px;
    }

    img {
      height: 22px;
      width: 22px;
    }
  }
}
