.text {
  margin-right: 1rem;
}

.alertIcon {
  display: inline-block;
  position: relative;
  top: 4px;
}

.largeAlertIcon {
  --alert-icon-width: 20px;
  --alert-icon-height: 20px;
  display: inline-block;
  position: relative;
  top: 4px;
}
