.text {
  margin-right: 1rem;
}

.alertIcon {
  display: inline-block;
  position: relative;
  top: 4px;
}

.largeAlertIcon {
  --alert-icon-diameter: 30px;
  display: inline-block;
  position: relative;
  top: 10px;
}
