.grid {
  display: grid;
  grid-template-columns: [article-text] 2fr [article-video] 2fr [aside] 1fr;
  height: 100%;
}

.text {
  grid-column: article-text;
}

.video {
  grid-column: article-video;
}

.videoWrapper {
  position: relative;
  padding-top: 56.25%; // trick for enforcing the 16:9 aspect ratio in the container

  iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
