@import 'src/styles/common';

.wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label {
  font-weight: 300;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0 3px;
  height: 22px;
  background: $blue;
  font-size: 0;
  border-radius: 5px;
  margin-left: 0.6rem;
}

.icon {
  height: 90%;
  fill: white;
}
