@import 'src/styles/common';

$heading-outdent: 16px;

.spinnerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  height: 100%;
}

.relatedArticlesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.relatedArticle,
.relatedVideo {
  color: $blue;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.relatedCurrent {
  cursor: inherit;
  color: inherit;
}

.relatedVideo {
  position: relative;
}

.historyButton {
  width: 18px;
  height: 18px;
  border-radius: 100%;

  &:first-child {
    margin-right: 1.4rem;
  }

  &Active {
    fill: $blue;
    cursor: pointer;
  }

  &Inactive {
    fill: $grey;
  }
}

.aside {
  grid-column: aside;

  h2 {
    font-size: 13px;
    font-weight: $light;
    margin: 1.5rem 0;
  }
}
