@import 'src/styles/common';

$indent-left: 34px;

.helpLanding {
  height: 100%;
  overflow: auto;
  padding: 0 $standard-gutter $global-padding-bottom 0;

  .showHideWrapper {
    display: inline-block;
    margin-left: 3ch;
  }

  section h1 {
    margin-top: 0px;
  }
  section + section {
    margin-top: 40px;
  }
}

.appsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 324px);
  column-gap: 96px;
  row-gap: 30px;
  margin-left: $indent-left;
}

.stepsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 218px);
  column-gap: 200px;
  max-width: 1200px;
  background-color: $light-grey;
  margin-top: 1ch;
  padding: 20px $indent-left 40px $indent-left;
}

.appBlock {
  ul {
    margin-top: 1ch;
    list-style-type: disc;
    padding-left: 15px;
    font-size: 12px;
    color: $dark-grey;
  }
}

.appLabel {
  line-height: 1;
  margin-bottom: 16px;
}

.searchIcon {
  width: 30px;
  height: 30px;
  fill: $dark-grey;
}

.stepChildren {
  display: flex;
  flex-direction: column;
  gap: 14px;
  line-height: 1;
}

.lastSectionGrid {
  display: grid;
  grid-template-columns: repeat(2, 324px);
  column-gap: calc(96px + #{$indent-left});
  row-gap: 30px;

  p {
    padding-left: $indent-left;
  }
}
