.container {
  display: grid;
  grid-template-rows: minmax(60px, auto) 1fr;
  height: 100%;
  padding-left: var(--double-standard-gutter);
}

.genomesTableContainer {
  height: 100%;
  overflow: auto;
  padding-bottom: var(--global-padding-bottom);
}
