.headerCell {
  font-weight: var(--font-weight-light);
  user-select: none;
}

.headerCellContent {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  padding-left: 5px;
}

.title {
  padding-left: 18px;
}

.titleActive {
  font-weight: var(--font-weight-normal);
}

.titleSortable {
  cursor: pointer;
}

.sortArrowContainer {
  cursor: pointer;
}

.sortArrowContainer + .title {
  padding-left: 0;
}

.rowsCount {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.rowsCount > span {
  white-space: nowrap;
}

.rowsCountText {
  font-size: 10px;
}

.rowsCountNumberProminent {
  font-weight: var(--font-weight-normal);
}

.questionButton {
  margin-left: 15px;
  height: 14px;
  width: 14px;
}

.sort {
  display: inline-block;
  position: relative;
}

.sortArrow {
  margin-right: 0.8em;
  height: 8px;
  width: 8px;
  transform: rotate(180deg);
  fill: var(--color-grey);
}

.sortArrowActive {
  fill: var(--color-blue);
}

.sortArrowUp {
  transform: unset;
}

.totalVisibleRows {
  font-weight: var(--font-weight-normal);
}
