@import 'src/styles/common';

.speciesSearchMatch {
  color: $ens-black;
  padding: 2px 24px;
  margin: 0 -23px;
  cursor: pointer;

  &:hover {
    background-color: $ens-light-blue;
  }
}

.speciesSearchMatchMatched {
  font-weight: $dark;
}

.speciesSearchMatchScientificName {
  font-style: italic;
  font-weight: $light;
  margin-left: 1rem;
}
