@import 'src/styles/common';

.speciesSearchMatch {
  color: $ens-grey;
}

.speciesSearchMatchMatched {
  font-weight: 900;
}

.speciesSearchMatchScientificName {
  font-style: italic;
  font-size: 11px; // FIXME
  margin-left: 1rem;
}
