@import 'src/styles/common';

.label {
  margin-bottom: 0.5em;
  font-weight: $light;
  word-break: break-all;

  .featureId {
    margin-left: 0.5em;
    font-weight: $bold;
  }
}

.checkboxUnchecked {
  background-color: transparent;
  border-color: $dark-grey;
}

.checkboxLabel {
  font-size: 13px;
  width: 200px;
}

.themeDark {
  .label {
    color: $white;
  }

  .checkboxLabel {
    color: $white;
  }
}

.themeLight {
  .label {
    color: $dark-grey;
  }

  .checkboxLabel {
    color: $dark-grey;
  }
}

.downloadButtonDisabled {
  border-color: $dark-grey;
  color: $dark-grey;
}

.container {
  position: relative;

  .geneSection {
    .checkboxWrapper {
      margin-top: 13px;
      margin-left: 13px;
    }
  }

  .transcriptSection {
    margin-top: 7px;
  }

  .checkboxGrid {
    margin-left: 18px;
  }

  button {
    margin-top: 14px;
    float: right;
  }
}
