@import 'src/styles/common';

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 40px 1fr 10px 1fr 40px;
}

.tabList {
  position: absolute;
  left: 40%;
  width: 200px;
}

.attributesHolder {
  grid-column-start: 2;
  grid-column-end: 3;
}

.filtersHolder {
  grid-column-start: 3;
  grid-column-end: 5;
}

.previewDownloadHolder {
  grid-column-start: 2;
  grid-column-end: 5;
}

.exampleDataPanel {
  top: 10px;
  left: calc(50% - 300px);
}
