@import 'src/styles/common';

.wrapper {
  width: calc(100vw - 50px);
  margin: 10px 20px 0 30px;
  position: relative;
}

.resultList {
  position: absolute;
  width: 40%;
  min-width: 40%;
}

.tabList {
  position: absolute;
  left: 40%;
  width: 200px;
}

.dataSelector {
  position: absolute;
  left: calc(40% + 200px);
  width: calc(60% - 200px);
  min-width: 45%;
}
