@import 'src/styles/common';

.wrapper {
  width: calc(100vw - 50px);
  margin: 10px 20px 0 30px;
  position: relative;
}

.tabList {
  position: absolute;
  left: 40%;
  width: 200px;
}

.attributesHolder {
  position: absolute;
  left: 50px;
  width: calc(50% - 55px);
  min-width: 45%;
}

.filtersHolder {
  position: absolute;
  left: 50%;
  width: calc(50% - 40px);
  min-width: 45%;
}
