@import 'src/styles/common';

.browserRegionField {
  position: relative;

  input {
    width: 200px;
  }
}

.inputText {
  &::placeholder {
    color: $grey;
  }
  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.chrLocationView {
  display: inline-block;
}
