@import 'src/styles/common';

.container {
  display: flex;
}

.selectedNode {
  border-radius: 12px;
  height: 24px;
  padding: 1px 20px 0 20px;
  margin-right: 24px;
  background-color: $black;
  color: $white;
  text-align: center;
  cursor: default;
}

.emptyNode {
  border-radius: 100%;
  background-color: $grey;
  margin: 6px 24px 0 0;
  width: 10px;
  height: 10px;
}
