.variantsSection {
  --variants-raw-input-height: 142px;
}

/*
  For consideration:
  Is it worth extracting the background color and the top/bottom padding
  into some subcomponent of the FormSection component,
  and if yes, then what would it be called?
*/
.expandedContentGrid {
  --column-gap: 12px;
  display: grid;
  grid-template-columns: [left] 120px [middle] 450px [right] auto;
  column-gap: var(--column-gap);
  background-color: var(--color-light-grey);
  padding: 24px 0;
}

.gridColumnLeft {
  grid-column: left;
  justify-self: end;
  text-align: right;
  font-size: 11px;
}

.gridColumnMiddle {
  grid-column: middle;
}

.gridColumnRight {
  grid-column: right;
  justify-self: start;
  padding-left: calc(var(--standard-gutter) - var(--column-gap)); /* to achieve the same distance from textarea as the width of the standard gutter */
}

.exampleInputsContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 0.4em;
  padding-top: 25px;
}

.inputControlButtons {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 24px;
  padding-top: var(--standard-gutter);
}

.textarea {
  --textarea-height: var(--variants-raw-input-height);
  font-family: var(--font-family-monospace);
  line-height: var(--body-line-height);
}

.rawVariantsTextContainer {
  font-family: var(--font-family-monospace);
  max-height: var(--variants-raw-input-height);
  width: 450px;
  overflow: auto;
  white-space: pre;
}

.fileDropZone {
  width: 100%;
}

.fileDropZoneLabel {
  display: flex;
  align-items: center;  
}

.fileDropZoneLabel > span {
  margin-right: 50px;
}

.fileDropZoneOutline {
  display: flex;
  align-items: center;
  height: 58px;
}

.maxUploadSize {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-light);
  margin-top: 26px;
}

.maxUploadSizeNumber {
  font-weight: initial;
}

.maxUploadSizeError {
  color: var(--color-red);
}

.invisible {
  visibility: hidden;
  pointer-events: none;
}

.alignSelfCenter {
  align-self: center;
}

.labelThin {
  font-weight: var(--font-weight-light);
}
