@import 'src/styles/common';

.viewIn {
  color: $grey;
  width: 50px;
}
.entityViewerAppLinkButtons {
  display: flex;
  align-items: center;
}
.entityViewerAppLink {
  margin-left: 1.1em;
  &:first-of-type {
    margin-left: 0.6em;
  }
  svg {
    width: 25px;
    height: 25px;
    fill: $white;
    background-color: $blue;
  }
}
