@import 'src/styles/common';

.trackConfig {
  display: grid;
  grid-template-columns: 140px 250px 1fr;
  background: #f1f2f4;
  box-shadow: 1px 1px 10px #6f8190;
  position: absolute;
  left: -395px;
  top: -12px;

  .section {
    display: flex;
    margin: 8px 0px;
    padding: 0px 18px;

    .subLabel {
      line-height: 30px;
      font-size: 12px;
      font-weight: 300;
      padding-right: 4px;
    }
    
    &:not(:last-child) {
      border-right: 1px solid $grey;
    }
  }

  .toggleWrapper {
    margin: 0 6px;
    line-height: 30px;

    svg {
      margin: 0 10px;
    }
  }

  label {
    font-size: 12px;
  }

  /* button styling */

  .slideToggle {
    height: 10px;
    margin-left: 2px;
    display: inline-block;
    vertical-align: middle;
  }
}