@import 'src/styles/common';

.containerSvg {
  overflow: visible;
}

.domain {
  fill: $grey;
}

.track {
  rect {
    fill: $light-grey;
  }
}

.container {
  display: flex;
  flex-direction: column;

  svg {
    overflow: visible;
  }
}

.resourceGroup {
  display: grid;
  grid-template-columns: [type] 178px [images] 902px;
  margin-bottom: 10px;
  font-size: 12px;

  & .resourceName {
    grid-column: type;
    text-align: right;
    padding-right: 1em;
    color: $black;
  }

  & .resourceImages {
    grid-column: images;
  }
}

.resourceImage {
  display: grid;
  grid-template-columns: [image] min-content [description] max-content;
  margin-bottom: 6px;

  & svg {
    grid-column: image;
  }

  & .resourceDescription {
    grid-column: description;
    padding-left: 27px;
    color: $black;
  }
}
