
.container {
  color: white;
  display: grid;
  grid-template-columns:
    var(--gene-view-left-column-width)
    var(--gene-view-middle-column-left-gap)
    var(--gene-view-middle-column-width)
    var(--gene-view-middle-column-right-gap)
    var(--gene-view-right-column-width)
}

.containerSVG {
  grid-column: 3/4;
  background-color: var(--color-light-grey);
  height: 18px;
}

.transcript rect {
  stroke: var(--color-dark-grey);
  fill: var(--color-dark-grey);
  opacity: 0.3;
}

.geneId {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: right;
  font-size: 13px;
  font-weight: var(--font-weight-bold);
  word-break: break-all;
}

.directionIndicator {
  grid-column: 3/4;
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  font-size: 12px;
}

.strand {
  grid-column: 5/6;
  grid-row: 1/2;
  font-size: 12px;
}

.numberOfTranscripts {
  grid-column: 5/6;
  grid-row: 2/3;
}

.transcriptsCount {
  font-weight: var(--font-weight-bold);
  margin-right: 0.4em;
}

.ruler {
  --sequence-ruler-name-color: white;
  --sequence-ruler-label-color: white;
  grid-column: 3/4;
  grid-row: 3/4;
  padding-top: 15px;
}
