@import 'src/styles/common';
@import 'src/content/app/entity-viewer/gene-view/styles/constants';

.container {
  color: white;
  display: grid;
  grid-template-columns: $left_column $middle_column_left_gap $middle_column $middle_column_right_gap $right_column;
}

.containerSVG {
  grid-column: 3/4;
  background-color: $light-grey;
  height: 18px;
}

.transcript {
  rect {
    stroke: $dark-grey;
    fill: $dark-grey;
    opacity: 0.3;
  }
}

.geneId {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: right;
  font-size: 13px;
  font-weight: $bold;
}

.directionIndicator {
  grid-column: 3/4;
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  font-size: 12px;
}

.strand {
  grid-column: 5/6;
  grid-row: 1/2;
  font-size: 12px;
}

.numberOfTranscripts {
  grid-column: 5/6;
  grid-row: 2/3;

  .transcriptsCount {
    font-weight: $bold;
    margin-right: 0.4em;
  }
}

.ruler {
  grid-column: 3/4;
  grid-row: 3/4;
  padding-top: 15px;
  --sequence-ruler-name-color: white;
  --sequence-ruler-label-color: white;
}
