@import 'src/styles/common';

// FIXME: add CSS variable for size

.deleteButton {
  background: transparent;
  border: none;
  outline: none;
  height: 18px;
  width: 18px;

  svg {
    fill: $blue;
  }
}
