@import 'src/styles/common';

.fullPageWrapper {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  height: 100vh;

  &Dark {
    background-color: $black;
  }
}

.defaultTabDark {
  background-color: #33adff;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  margin-right: 3px;
  height: 30px;
}

.disabledTabDark {
  background-color: $grey;
}

.selectedTabDark {
  background-color: transparent;
  border: 1px solid $blue;

  &::after {
    width: 12px;
    height: 12px;
    background-color: $black;
    border: 1px solid $blue;
    border-color: transparent transparent $blue $blue;
    box-shadow: none;
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    top: 28px;
  }
}

.defaultTabPanel {
  background-color: transparent;
  color: $blue;
  font-weight: 700;
  border-radius: 3px;
  margin-right: 3px;
  height: 30px;
  border: none;
}

.disabledTabPanel {
  color: $grey;
}

.selectedTabPanel {
  background-color: transparent;
  color: $black;
  &::after {
    border: 6px solid $grey;
    border-color: transparent transparent $light-grey $light-grey;
    box-shadow: -2px 2px 2px 0 $medium-light-grey;

    width: 0;
    height: 0;
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    top: 28px;
  }
}

.panelTabsContainer {
  height: auto;
  overflow: unset;
  background-color: $light-grey;
  box-shadow: 0 2px 2px 0 $medium-light-grey;
}
