@import 'src/styles/common';
@import 'src/styles/mixins';

.species {
  @include lozenge;
  border: 1px solid $blue;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $white;
  margin-bottom: 12px;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.nameActive,
.assemblyActive {
  color: $white;
}

.inUseActive {
  background-color: $black;
  border: 1px solid $black;
  cursor: default;
}

.inUseInactive {
  background-color: $blue;
  border: 1px solid $blue;
}

.notInUseActive {
  background-color: $grey;
  border: 1px solid $grey;
  cursor: auto;
}

.notInUseInactive {
  background-color: $ice-blue;
  border: 1px solid $ice-blue;
  color: $blue;
}

