@import 'src/styles/common';

.panel {
  width: initial;
  min-height: 100%;
}

.panelBody {
  color: $black;
  min-height: 300px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.header {
  position: sticky;
  top: -5px;
  z-index: 1;
}

.defaultTabName {
  padding: 3px 30px;
}

.selectedTabName {
  background-color: transparent;
  color: $black;
  font-weight: bold;

  &::after {
    border: 6px solid $grey;
    border-color: transparent transparent $light-grey $light-grey;
    box-shadow: -2px 2px 2px 0 $medium-light-grey;

    width: 0;
    height: 0;
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    top: 28px;
  }
}
