@import 'src/styles/common';

.zmenuAnchor {
  position: absolute;
}

.zmenuContentFeature {
  margin: 0;
  margin-bottom: 1em;
}

.zmenuContentLine {
  display: block;
  white-space: nowrap;
}

.zmenuContentBlock {
  &:not(:last-child) {
    margin-right: 1.1em;
  }
}

.markupStrong {
  font-weight: $bold;
}

.markupLight {
  font-weight: $light;
}

.markupEmphasis {
  font-style: italic;
}

.markupFocus {
  cursor: pointer;
  color: $blue;
}

.zmenuAppLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zmenuAppButton {
  flex: 0 0 auto;
  height: 20px;
  width: 20px;
  margin-left: 16px;

  svg {
    width: 20px;
    height: 20px;
    fill: $white;
    background-color: $blue;
  }
}

.zmenuToggleFooter {
  margin-left: auto;
  color: $blue;
}

.zmenuFooterContent {
  margin-top: 19px;
  border-top: 1px solid rgba($grey, 0.3);
  padding-top: 12px;
}

.zmenuInstantDowload {
  &Loading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
