@import 'src/styles/common';

$zmenuBackgroundColor: $ens-black;

.zmenuWrapper {
  position: absolute;
  filter: drop-shadow(2px 2px 3px $ens-shadow-color);
}

.zmenu {
  position: relative;
  padding: 5px 20px;
  color: $ens-white;
  // font-weight: $light;
  background-color: $zmenuBackgroundColor;
}

.zmenuTip {
  position: absolute;

  polygon {
    fill: $zmenuBackgroundColor;
  }
}

.zmenuContentLine {
  // for a line:
  // margin: 0;
  // line-height: 1;

  // for a paragraph:
  margin: 0;
  &:not(:last-of-type) {
    margin: 0 0 0.5em;
  }
}

.markupStrong {
  font-weight: $bold;
}

.markupLight {
  font-weight: $light;
}

.markupFocus {
}

.markupEmphasis {
  font-style: italic;
}
