@import 'src/styles/common';

$zmenuBackgroundColor: $ens-dark-grey;

.zmenu {
  position: absolute;
  padding: 20px;
  background-color: $zmenuBackgroundColor;
  box-shadow: 2px 2px 5px $ens-shadow-color;
}

.zmenuTip {
  position: absolute;

  polygon {
    fill: $zmenuBackgroundColor;
  }
}

.markupStrong {
  font-weight: $bold;
}

.markupLight {
  font-weight: $light;
}

.markupFocus {
}

.markupEmphasis {
  font-style: italic;
}
