@import 'src/styles/common';

.browser {
  width: 100%;
}

.browserInnerWrapper {
  @include flex;
  height: calc(100% - 32px);
}

.browserImageWrapper {
  &.semiExpanded {
    width: calc(100vw - 356px);
  }

  &.expanded {
    width: calc(100vw - 36px);
  }

  &.collapsed {
    width: 41px;

    .browserImage {
      display: none;
    }
  }
}

.browserOverlay {
  background: $ens-white;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  width: 100vw;
  z-index: 150;
}
