@import 'src/styles/common';

.browser {
  width: 100%;
}

.browserInnerWrapper {
  @include flex;
  height: calc(100% - 32px);
}

.browserImageWrapper {
  &.semiExpanded {
    width: calc(100vw - 357px);
  }

  &.expanded {
    width: calc(100vw - 37px);
  }

  &.collapsed {
    width: 41px;

    .browserImage {
      display: none;
    }
  }
}
