@import 'src/styles/common';

.checkboxGrid {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 0.2em;
}

.label {
  margin-bottom: 0.5em;
  font-weight: $light;
  word-break: break-all;

  .featureId {
    margin-left: 0.5em;
    font-weight: $bold;
  }
}

.transcriptVis {
  margin-top: 18px;
  margin-bottom: 9px;
}

.checkboxUnchecked {
  background-color: transparent;
  border-color: $dark-grey;
}

.checkboxLabel {
  font-size: 13px;
}


.themeDark{
  .label {
    color: $white;
  }

  .checkboxLabel {
    color: $white;
  }
}

.themeLight{
  .label {
    color: $dark-grey;
  }

  .checkboxLabel {
    color: $dark-grey;
  }
}

.layout {
  display: grid;
  font-size: 13px;
  align-items: start;

  &Horizontal {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-template-areas:
      'transcript gene'
      'transcript download';

    .transcriptSection {
      grid-area: transcript;
    }

    .geneSection {
      grid-area: gene;

      .checkboxWrapper {
        margin-top: 13px;
        margin-left: 13px;
      }
    }

    .transcriptVis,
    .checkboxGrid {
      margin-left: 18px;
    }

    .downloadButton {
      text-align: right;
    }

    button {
      grid-area: download;
      justify-self: end;
      align-self: end;
    }
  }

  &Vertical {
    grid-row-gap: 0.5rem;

    .transcriptSection,
    .geneSection {
      padding-left: 18px;
    }

    .geneSection {
      margin-top: 18px;
      margin-bottom: 18px;

      .label {
        margin-left: -18px;
      }

      .checkboxWrapper {
        margin-top: 12px;
      }
    }

    .transcriptSection .label {
      margin-left: -18px;
    }

    .checkboxGrid {
      grid-template-columns: 2fr 1fr;
    }

    button {
      justify-self: end;
      align-self: end;
    }
  }
}
