@import 'src/styles/common';

.overviewContainer {
  font-size: 13px;
}


.sectionHead {
  color: $dark-grey;
  font-size: 12px;
  font-weight: $light;
  border-bottom: 1px solid $grey;
  margin-bottom: 15px;
  position: relative;
  margin-top: 20px;
}

.geneDetails {
  .geneSymbol {
    font-weight: $bold;
    margin-right: 10px;
  }
}

.accordionContainer {
  width: 100%;

  .entityViewerAccordion {
    border: none;
    margin-top: 30px;
  }
  
  .entityViewerAccordionHeader {
    background-color: $light-grey;
    border-radius: 5px;
  }
  
  .entityViewerAccordionButton {
    color: $blue;
    padding: 5px 0 5px 20px;
    border-radius: 5px;
  
    &:before,
    &:after {
      margin-top: -3px;
    }
  
    &Disabled {
      color: $grey;
    }
  }
  
  .entityViewerAccordionItem:not(:first-child) {
    border-color: transparent;
  }
  
  .entityViewerAccordionItemContent {
    background-color: transparent;
    border: none;
    padding: 20px;
  }

}
