@import 'src/styles/common';

.primaryButton {
  --button-border: var(--primary-button-color, 1px solid #{$green});
  --button-color: var(--primary-button-color, #{$green});
  --button-text-color: var(--primary-button-text-color, #{$white});
  font-weight: $bold;
}

.primaryButton:disabled {
  --button-border: var(--primary-button-disabled-border, 1px solid #{$grey});
  --button-color: var(--primary-button-disabled-color, transparent);
  --button-text-color: var(--primary-button-disabled-text-color, #{$grey});
}

.secondaryButton {
  --button-border: var(--secondary-button-color, 1px solid #{$blue});
  --button-color: var(--secondary-button-color, #{$blue});
  --button-text-color: var(--secondary-button-text-color, #{$white});
  font-weight: $bold;
}

.button {
  border: var(--button-border);
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 7px 18px;
  border-radius: 4px;
  user-select: none;
  &:active,
  &:focus {
    outline: none;
  }
}
