@import 'src/styles/common';

.primaryButton {
  border: 1px solid $green;
  background-color: $green;
  color: $white;
  font-weight: $bold;
}

.primaryButtonDisabled {
  background-color: transparent;
  color: $grey;
  border: 1px solid $grey;
  cursor: default;
}

.secondaryButton {
  border: 1px solid $blue;
  background-color: $blue;
  color: $white;
  font-weight: $bold;
}

.button {
  padding: 7px 18px;
  border-radius: 4px;
  user-select: none;
  &:active,
  &:focus {
    outline: none;
  }
}
