.trackPanelTabs {
  display: flex;
  font-size: 14px;
  justify-content: space-around;
}

.trackPanelTab {
  color: var(--color-blue);
  cursor: pointer;
}

.trackPanelTabDisabled {
  color: var(--color-dark-grey);
  cursor: default;
}

.trackPanelTabActive {
  color: var(--color-black);
  position: relative;
  cursor: default;
}

.trackPanelTabActive::after {
  border: 6px solid var(--color-grey);
  border-color: transparent transparent var(--color-light-grey)
    var(--color-light-grey);
  box-shadow: -2px 2px 2px 0 var(--color-grey);
  box-sizing: border-box;
  content: '';
  height: 0;
  position: absolute;
  right: calc(60% - 6px);
  transform-origin: 0 0;
  transform: rotate(-45deg);
  top: 28px;
  width: 0;
}
