.page {
  footer {
    padding-left: var(--global-padding-left);
    padding-bottom: var(--global-padding-bottom);
  }
}

.personalData {
  display: flex;
  column-gap: 0.6rem;
  align-items: baseline;
  margin-top: 20px;
}

.light {
  font-weight: var(--font-weight-light);
}

.footerLevel2 {
  margin-top: 40px;
}