@import 'src/styles/common';

.showHide {
  // increase specificity to be sure to override chevron's own styles 
  .chevron {
    margin-left: 10px;
    height: 6px;
  }
}

.label {
  color: $blue;
  cursor: pointer;
}
