.grid {
  display: grid;
  grid-template-columns: auto minmax(max-content, 1fr);
  align-items: center;
  column-gap: 46px;
}

.aside {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.placeholderMessage {
  font-size: 14px;
}

.selectTabMessage {
  font-weight: var(--font-weight-light);
}
