@import 'src/styles/common';

.pasteText,
.uploadText {
  color: $blue;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: [fields] auto [remove-icon] 75px 10px;
}

.fields {
  grid-column: fields;
}

.removeIconHolder {
  height: 20px;
  width: 20px;
  grid-column: remove-icon;
  justify-self: end;
  align-self: center;
}

.textInput {
  height: 65px;
  width: 100%;
  padding: 5px 0 0 5px;
  border: none;
  resize: none;
}

.orText {
  padding: 0 10px;
}
