@import 'src/styles/common';

.pasteText,
.uploadText {
  color: $blue;
  cursor: pointer;
}

.fileUploadWrapper {
  float: left;
}

.removeIconHolder {
  height: 20px;
  width: 20px;
  float: right;
  margin-right: 2px;
}

.fields {
  width: calc(100% - 75px);
  float: left;
}

.textInput {
  height: 65px;
  width: 100%;
  padding: 5px 0 0 5px;
  border: none;
  resize: none;
}
