.letter {
  --sequence-block-color: transparent;
  --sequence-block-letter-color: var(--color-medium-light-grey);
  font-size: 11px;
}

.letter + .letter {
  margin-left: 1px;
}

.firstRightSequenceLetter {
  margin-left: 1px;
}
