@import 'src/styles/common';

$columnWidth: 230px;
$columnGap: 60px;
$rowGap: 60px;
$leftMargin: 25px;

.instructionsPanel {
  margin-top: 15px;
}

.instructionsWrapper {
  margin-left: $leftMargin;
  display: grid;
  grid-template-columns: repeat(4, #{$columnWidth});
  grid-column-gap: $columnGap;
  grid-row-gap: $rowGap;
  max-width: calc(4 * #{$columnWidth} + 3 * #{$columnGap});
}

.stepWrapper {
  width: 170px;

  .description {
    display: flex;
    align-items: center;
    --app-icon-bg-color: #{$dark-grey};
  }

  .searchIcon {
    fill: $dark-grey;
    height: 20px;
    width: 20px;
  }

  .speciesLozenge {
    background-color: $dark-grey;
    border-color: $dark-grey;
    color: $white;
    height: 20px;
    padding: 0 12px;
  }

  .speciesLozengeName {
    font-size: 11px;
  }

  .speciesLozengeAssembly {
    font-size: 8px;
  }
}

@media (max-width: 2 * $global-padding-left + $leftMargin + 4 * $columnWidth + 3 * $columnGap) {
  .instructionsWrapper {
    grid-template-columns: repeat(2, #{$columnWidth});
  }
}
