@import 'src/styles/common';

.topBar {
  min-height: 74px;
  background-color: $light-grey;
  padding: 24px 20px 20px 30px;
  box-shadow: 0 3px 5px $global-box-shadow;
  position: relative;
  z-index: 2;
}
