@import 'src/styles/common';

.topBar {
  min-height: 74px;
  background-color: $light-grey;
  padding-left: 36px; // TODO: does this value repeat across Genome Browser, Entity Viewer, and Tools?
  box-shadow: 0 3px 5px $global-box-shadow;
  margin-bottom: 21px;
}
