@import 'src/styles/common';

.alertButton {
  display: inline-block;
  padding: 2px;
  user-select: none;

  > svg {
    width: var(--alert-icon-width, 18px);
    height: var(--alert-icon-height, 18px);
    cursor: pointer;
  }
}

.alertButtonRed svg {
  fill: $red;
}

.alertButtonAmber svg {
  fill: $orange;
}

.noTooltip svg {
  cursor: auto;
}
