@import 'src/styles/common';

.alertButton {
  display: inline-block;
  position: relative;
  top: 4px;
  cursor: pointer;
  padding: 2px;
  font-size: 0;

  > svg {
    width: 18px;
    height: 18px;
    fill: $red;
  }
}
