@import 'src/styles/common';

.alertButton {
  cursor: pointer;
  padding: 2px;
  user-select: none;

  > svg {
    --alert-icon-width: 18px;
    --alert-icon-height: 18px;
    width: var(--alert-icon-width);
    height: var(--alert-icon-height);
  }
}

.errorIcon svg {
  fill: $red;
}

.warningIcon svg {
  fill: $orange;
}
